<div class="navbar-tool {% if cart.item_count < 0 %} dropdown {% endif %} ml-3" data-section-type="cart-template" data-ajax-enabled="{{ section.settings.cart_ajax_enable }}" data-cart-wrapper>


    <a class="navbar-tool-icon-box bg-secondary {% if cart.item_count < 0 %} dropdown-toggle {% endif %}" href="{{ routes.cart_url }}">
      <div id="CartCount" class="{% if cart.item_count == 0 %} hide{% endif %}" data-cart-count-bubble>
        <span class="navbar-tool-label" data-cart-count>{{ cart.item_count }}</span>
      </div>
      <i class="navbar-tool-icon czi-cart"></i>
    </a>
  

      <a class="navbar-tool-text" href="{{ routes.cart_url }}">
        <small>{{ 'layout.cart.title' | t }}</small>
        <span class="cart-total-price" data-cart-subtotal>{{ cart.total_price | money }}</span>
      </a>


      {% comment %} 
      TODO:
      Implement AJAX function 
      for products in Mini Cart 
      JS Line: 6824 
      {% endcomment %}

      {% if cart.item_count < 0 %}
      <div class="dropdown-menu dropdown-menu-right" style="width: 20rem;">
        <div class="widget widget-cart px-3 pt-2 pb-3">
          <div style="height: 15rem;" data-simplebar data-simplebar-auto-hide="false">

            <form action="{{ routes.cart_url }}" method="post" novalidate >
            
            {%- for item in cart.items -%}
            <div class="widget-cart-item pb-2 border-bottom" data-cart-item>
              <button class="close text-danger" type="button" aria-label="Remove"><span aria-hidden="true">&times;</span></button>
              <div class="media align-items-center" data-cart-item-image><a class="d-block mr-2" href="{{ item.url }}"><img width="64" src="{{ item | img_url: 'x190' }} " alt="Product"/></a>
                <div class="media-body">
                  <h6 class="widget-product-title" data-cart-item-title><a href="{{ item.url }}l">{{ item.product.title }}</a></h6>
                  <div class="widget-product-meta"><span class="text-accent mr-2">{{ item.final_price | money }}</span>
                    <span class="text-muted">x</span>
                    <span class="text-muted" data-cart-item-count>{{ item.quantity }}</span>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}

            </form>

          </div>
          <div class="d-flex flex-wrap justify-content-between align-items-center py-3">
            <div class="font-size-sm mr-2 py-2"><span class="text-muted">Subtotal:</span><span class="text-accent font-size-base ml-1" data-cart-subtotal>{{ cart.total_price | money }}</span>
            </div>
            <a class="btn btn-outline-secondary btn-sm" href="{{ routes.cart_url }}">
              Expand cart
              <i class="czi-arrow-right ml-1 mr-n1"></i>
            </a>
          </div>
          <a class="btn btn-primary btn-sm btn-block" href="{{ routes.checkout_url }}">
            <i class="czi-card mr-2 font-size-base align-middle"></i>
            {{ 'layout.cart.title' | t }}
          </a>
        </div>
      </div>
      {% endif %}



    </div>
