<div class="some-wrapper-around-challenge mt-5 mb-5">

  {{ content_for_layout }}
   {% comment %} <--- conent_for_layout IS the captcha form in this context {% endcomment %}

  <style>
    /* NOTE: these classes are subject to change at any time... since they are injected by shopify / google captcha */
    .shopify-challenge__container {
    }

    .shopify-challenge__message {
    }

    .shopify-challenge__button {
        color: #fff !important;
        background-color: #fe696a;
        border-color: #fe696a;
        box-shadow: 0 0.5rem 1.125rem -0.5rem rgba(254, 105, 106, 0.9);
        display: inline-block;
        font-weight: normal;
        color: #4b566b;
        text-align: center;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 1px solid transparent;
        padding: 0.625rem 1.375rem;
        font-size: 0.9375rem;
        line-height: 1.5;
        border-radius: 0.3125rem;
        transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out, border-color 0.25s ease-in-out, box-shadow 0.2s ease-in-out;
    }

    #g-recapthca {
    }
  </style>
</div>

