  <!-- Error Message -->

  <div class="toast-container toast-top-right">

    <div id="error-toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-error-message-wrapper>
      <div class="toast-header bg-primary text-white">
        <i class="czi-bell mr-2"></i>
        <span class="font-weight-medium mr-auto">{{ 'general.accessibility.error' | t }}</span>
        <button type="button" class="close text-white ml-2 mb-1" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="toast-body text-primary" data-error-message>{{ 'products.product.quantity_minimum_message' | t }}</div>
    </div>

  </div>