<!-- Search Mobile -->
<form id="mobile-form"  class="input-group-overlay d-lg-none my-3" action="{{ routes.search_url }}" method="get" role="search">
    <div class="mok-search-field ">
    <input
        type="text"
        name="q"
        placeholder="{{ section.settings.search_text }}"
        role="combobox"
        aria-autocomplete="list"
        aria-owns="predictive-search-results"
        aria-expanded="false"
        aria-label="{{ section.settings.search_text }}"
        aria-haspopup="listbox"
        class="form-control appended-form-control"
        data-predictive-search-drawer-input
    />
    <div class="input-group-append-overlay">
        <span class="input-group-text">
        <i class="czi-search" data-search-form-submit></i>
        </span>
    </div>
    <input type="hidden" name="options[prefix]" value="last" aria-hidden="true" />

    <!-- Products suggestor -->

    <div class="mobile-search-list predictive-search-wrapper-mok predictive-search-wrapper--drawer-mok" data-predictive-search-mount="drawer"></div>
    </div>

</form>