{% assign item-counter = 0 %}

{% for link in linklists[linklist].links %}
    {%- assign child_list_handle = link.title | handleize -%}
    {%- assign three_level_nav = false -%}
    {% if link.links != blank %}
      {% if link.levels == 2 %}
        {%- assign three_level_nav = true -%}
      {% endif %}
    {% endif %}

  <div class="card">
    <div class="card-header">
      <h3 class="accordion-heading">
        <a class="collapsed" href="#item-{{ item-counter }}" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="item-{{ item-counter }}">{{ link.title | escape }}<span class="accordion-indicator"></span></a>
      </h3>
    </div>
    <div class="collapse" id="item-{{ item-counter }}" data-parent="#shop-categories">
      <div class="card-body">
        <div class="widget widget-links cz-filter">
          {% comment %} <div class="input-group-overlay input-group-sm mb-2">
            <input class="cz-filter-search form-control form-control-sm appended-form-control" type="text" placeholder="{{ 'layout.navigation.search' | t }}">
            <div class="input-group-append-overlay">
              <span class="input-group-text"><i class="czi-search"></i></span>
            </div>
          </div> {% endcomment %}
          <ul class="widget-list cz-filter-list pt-1" style="height: 12rem;" data-simplebar data-simplebar-auto-hide="false">
            
            {% for childlink in link.links %}
            <li class="widget-list-item cz-filter-item">
              <a class="widget-list-link d-flex justify-content-between align-items-center" href="{{ childlink.url }}">
                <span class="cz-filter-item-text">{{ childlink.title | escape }}</span>
                <span class="font-size-xs text-muted ml-3"></span>
              </a>
            </li>
            {% endfor %}

          </ul>
        </div>
      </div>
    </div>
  </div>

  {% assign item-counter = item-counter | plus: 1 %}
  {% endfor %}
