
<ul class="navbar-nav">

{% comment %}
Setting up a counter.
"item-counter" is useful for control the items inside the menù 
{% endcomment %}

{% assign item-counter = 0 %}

{% for link in linklists[linklist].links %}
    {%- assign child_list_handle = link.title | handleize -%}
    {% comment %}
    Check if third-level nav exists on each parent link.
    {% endcomment %}
    {%- assign three_level_nav = false -%}
    {% if link.links != blank %}
      {% if link.levels == 2 %}
        {%- assign three_level_nav = true -%}
      {% endif %}
    {% endif %}

    {% if link.links != blank %}
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle {% if item-counter == 0 %}pl-0{% endif %}" href="{{ link.url }}" data-toggle="dropdown">
        {{ link.title | escape }}
      </a>

      <ul class="dropdown-menu">
      {% for childlink in link.links %}
        <li><a class="dropdown-item" href="{{ childlink.url }}">{{ childlink.title | escape }}</a></li>
      {% endfor %}
      </ul>
     </li> 
    {% else %}

    <li class="nav-item">
      <a class="nav-link {% if item-counter == 0 %}pl-0{% endif %}" href="{{ link.url }}">
        {{ link.title | escape }}
      </a>
    </li>
    {% endif %}

{% assign item-counter = item-counter | plus: 1 %}

{% comment %} <script>console.log('{{ item-counter }}')</script> {% endcomment %}

{% endfor %}
</ul>
