<div data-section-id="{{ section.id }}" data-section-type="collection-template">


    <!-- Page Title (Shop)-->

    <div class="page-title-overlap bg-vendor pt-4">
      <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
        <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
          {%- unless template == 'index' or template == 'cart' or template == 'list-collections' or template == '404' -%}
          {%- assign t = template | split: '.' | first -%}
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-star">
              <li class="breadcrumb-item">
                <a class="text-nowrap" href="{{ shop.url }}">
                  <i class="czi-home"></i>
                  Home
                </a>
              </li>
              {%- case t -%}
              {%- when 'page' -%}
              <li class="breadcrumb-item text-nowrap">
                <a href="{{ page.url }}">{{ page.title }}</a>
              </li>
              {%- when 'collection' -%}
              <li class="breadcrumb-item text-nowrap">
                <a href="{{ collection.url }}">{{ collection.title }}</a>
              </li>
              {%- when 'product' -%}
              {%- if collection.url -%}
              <li class="breadcrumb-item text-nowrap">
                <a href="{{ collection.url }}">{{ collection.title }}</a>
              </li>
              {%- endif -%}
              <li class="breadcrumb-item text-nowrap">
                <a href="{{ product.url }}">{{ product.title }}</a>
              </li>
              {%- when 'collection' and collection.handle -%}
              {%- if current_tags -%}
              <li class="breadcrumb-item text-nowrap">
                <a href="{{ collection.url }}">{{ collection.title }}</a>
              </li>
              {%- endif -%}
              {%- endcase -%}
            </ol>
          {%- endunless -%}
          </nav>

        </div>
        <div class="px-4 mb-4">
            <div class="media align-items-center">
            <div class="circular--portrait">
                <img src="{{ collection.image | img_url: 'medium' }}" alt="{{ collection.title }}">
            </div>
            <div class="media-body pl-3">
                <h1 class="h3 text-light mb-0">{{ collection.title }}</h1>
                <!-- <span class="text-accent font-size-sm">s.gardner@example.com</span> -->
            </div>
            </div>
        </div>
        <!-- <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
          <h1 class="h3 text-light mb-0">{{ collection.title }}</h1>
        </div> -->
      </div>
    </div>

    <!-- Page Content-->
    <div class="container pb-5 mb-2 mb-md-4">
      <div class="row">
        <!-- Sidebar-->
              <aside class="col-lg-4 pt-4 pt-lg-0">
          <div class="cz-sidebar-static rounded-lg box-shadow-lg px-0 pb-0 mb-5 mb-lg-0">
              <div class="px-4 mb-4">
                  <div class="media align-items-center">
                      <div class="media-body pb-3">
                          <h3 class="widget-title">{{ 'collections.general.vendor_contact' | t }}</h3>
                          {{ collection.description }}        
                        </div>
                  </div>
              </div>
          </div>
      </aside>

        <!-- Content  -->
        <section class="col-lg-8">
          <!-- Toolbar-->
          <div class="d-flex justify-content-center justify-content-sm-between align-items-center pt-lg-2 pb-4 pb-sm-5 mt-n2 mt-lg-0">
            {% if section.settings.sort_enable %}
            <div class="d-flex flex-wrap">
              <div class="form-inline flex-nowrap mr-3 mr-sm-4 pb-3">
              {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
                <label class="text-light opacity-75 text-nowrap mr-2 d-none d-sm-block" for="SortBy">{{ 'collections.sorting.title' | t }}</label>
                <select class="form-control custom-select" 
                        name="sort_by" 
                        id="SortBy"
                        data-default-sortby="{{ collection.default_sort_by }}">
                {%- for option in collection.sort_options -%}
                  
                  {% unless option.value == 'created-ascending' or option.value=='created-descending' %}
                <option value="{{ option.value }}" {% if option.value == sort_by %}selected="selected"{% endif %}>{{ option.name }}</option>
                  {% endunless %}
                
                {%- endfor -%}

                </select><span class="font-size-sm text-light opacity-75 text-nowrap ml-2 d-none d-md-block">{{ 'collections.general.items_with_count' | t: count: collection.products_count }}</span>
              </div>
            </div>

            {% endif %}

            {%- assign limit = 12 -%}
            {% paginate collection.products by limit %}

            {%- if paginate.pages > 1 -%}
            <div class="d-flex pb-3">
              {% unless paginate.previous.is_link %}
              <a class="nav-link-style nav-link-light mr-3" href="#">
                <i class="czi-arrow-left"></i>
              </a>
              {% else %}
              <a class="nav-link-style nav-link-light mr-3" href="{{ paginate.previous.url }}">
                <i class="czi-arrow-left"></i>
              </a>
              {% endunless %}
              {% comment %} 
              Count the number of pages 
              {% endcomment %}
                <span class="font-size-md text-light">{{ 'general.pagination.current_page_collection_top' | t: current: paginate.current_page, total: paginate.pages }}</span>
              
              {% unless paginate.next.is_link %}
              <a class="nav-link-style nav-link-light ml-3"  href="#">
                <i class="czi-arrow-right"></i>
              </a>
              {% else %}
              <a class="nav-link-style nav-link-light ml-3"  href="{{ paginate.next.url }}">
                <i class="czi-arrow-right"></i>
              </a>
              {% endunless %}
            </div>
            {%- endif -%}

    </div>

          <!-- First 6 Products-->
          <div class="row mx-n2">
            <!-- Product-->

             {% if collection.products_count == 0 %}

              <h1 class="moka-font font-weight-bold">{{ 'collections.no-products.title' | t }}</h1>
              <p>{{ 'collections.no-products.description' | t }}</p>
                          
            {% else %}

            {% for product in collection.products limit:6 %}
            {%- assign preview_image = product.featured_media.preview_image -%}
            {%- assign img_url = preview_image | img_url: 'x400' -%}
            <div class="col-md-4 col-sm-6 col-6 px-2 mb-4">
              <div class="card product-card">
                {% if product.compare_at_price != null and product.compare_at_price != product.price %}
                <span class="badge badge-danger badge-shadow">{{ 'collections.product-label.sale' | t }}</span>
                {% endif %}
                {% if product.tags contains "Novità" %}
                <span class="badge badge-danger badge-shadow" style="right: 0.75rem !important;left: auto !important;">{{ 'collections.product-label.novita' | t }}</span> 
                {% endif %}
                <a class="card-img-top d-block overflow-hidden" href="{{ product.url | within: collection }}"><img class="mx-auto d-block" src="{{ img_url }}" alt="{{ product.alt }}"></a>
                <div class="card-body py-2"><a class="product-meta d-block font-size-xs pb-1" href="#">{{ product.type }}</a>
                  <h3 class="product-title font-size-sm"><a href="{{ product.url | within: collection }}">{{ product.title }}</a></h3>
                  <a class="product-meta d-block font-size-xs pb-1" href="/collections/{{ product.vendor | handle }}">{{ 'products.product.vendor_proposition' | t }} {{ product.vendor }}</a>
                  <div class="d-flex justify-content-between">
                    <div class="product-price">
                    <span class="text-accent">{{ product.price | money }}</span>
                      {% if product.compare_at_price != null and product.compare_at_price != product.price %}
                      <del class="font-size-sm text-muted"> {{ product.compare_at_price | money }}</del>
                    {% endif %}                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}

            {% endif %}

          </div>

          <!-- Banner-->

          {% comment %} 
          Define varibale "url_2" just for make the conditions true 
          {% endcomment %}
        
          {%- assign url_2 = canonical_url | remove: shop.url -%}

          {%- for block in section.blocks  -%}
            {% assign collection-block = block.settings.collection | handle %}
            
            {% if url_2 contains collection-block %}
            <div class="py-sm-2">
              <div class="d-sm-flex justify-content-between align-items-center bg-secondary overflow-hidden mb-4 rounded-lg">
                <div class="py-4 my-2 my-md-0 py-md-5 px-4 ml-md-3 text-sm-left">
                  <h4 class="font-size-lg font-weight-light mb-2">{{ block.settings.text1 }}</h4>
                  <h3 class="mb-4">{{ block.settings.title1 }}</h3><a class="btn btn-primary btn-shadow btn-sm" href="{{ block.settings.button_link1 }}">{{ block.settings.button_label1 }}</a>
                </div><img class="d-block ml-auto" src="{{ block.settings.image1 | img_url: '' }}" alt="{{ block.settings.image1.alt }}">
              </div>
            </div>

            {% endif %}

          {%- endfor -%}

          <!-- From 6th Products-->
          <div class="row mx-n2">
          {% for product in collection.products offset:6 %}
            {%- assign preview_image = product.featured_media.preview_image -%}
            {%- assign img_url = preview_image | img_url: 'x400' -%}
            <div class="col-md-4 col-sm-6 col-6 px-2 mb-4">
              <div class="card product-card">
                {% if product.compare_at_price != null and product.compare_at_price != product.price %}
                <span class="badge badge-danger badge-shadow">{{ 'collections.product-label.sale' | t }}</span>
                {% endif %}
                {% if product.tags contains "Novità" %}
                <span class="badge badge-danger badge-shadow" style="right: 0.75rem !important;left: auto !important;">{{ 'collections.product-label.novita' | t }}</span> 
                {% endif %}
                <a class="card-img-top d-block overflow-hidden" href="{{ product.url | within: collection }}"><img class="mx-auto d-block" src="{{ img_url }}" alt="{{ product.alt }}"></a>
                <div class="card-body py-2"><a class="product-meta d-block font-size-xs pb-1" href="#">{{ product.type }}</a>
                  <h3 class="product-title font-size-sm"><a href="{{ product.url | within: collection }}">{{ product.title }}</a></h3>
                  <a class="product-meta d-block font-size-xs pb-1" href="/collections/{{ product.vendor | handle }}">{{ 'products.product.vendor_proposition' | t }} {{ product.vendor }}</a>
                  <div class="d-flex justify-content-between">
                    <div class="product-price">
                    <span class="text-accent">{{ product.price | money }}</span>
                      {% if product.compare_at_price != null and product.compare_at_price != product.price %}
                      <del class="font-size-sm text-muted"> {{ product.compare_at_price | money }}</del>
                    {% endif %}                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          
          <!-- Pagination-->
          {%- if paginate.pages > 1 -%}
          <hr class="my-3">
          <nav class="d-flex justify-content-between pt-2" aria-label="Page navigation">
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="{{ paginate.previous.url }}"><i class="czi-arrow-left mr-2"></i></a></li>
            </ul>
            <ul class="pagination">
              <li class="page-item d-sm-none"><span class="page-link page-link-static">{{ 'general.pagination.current_page_collection_top' | t: current: paginate.current_page, total: paginate.pages }}</span></li>
              
              {% assign total_page = 'general.pagination.total_page' | t: total: paginate.pages %}

              {% for p in (1..total_page) %}

              {% assign current_page = 'general.pagination.current_page' | t: current: paginate.current_page | plus:0 %}
              {% assign p_num = p | plus: 0 %}
              <li class="page-item {% if current_page == p_num %} active {% endif %} d-none d-sm-block" {% if current_page == p %} aria-current="page" {% endif %}><a class="page-link" href="{{ collection.url }}?page={{ p }}">{{ p }}</a></li>
              {% endfor %}
            </ul>
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="{{ paginate.next.url }}" aria-label="Next"><i class="czi-arrow-right ml-2"></i></a></li>
            </ul>
          </nav>
          {%- endif -%}
          
        </section>
      </div>
    </div>

</div>

{% endpaginate %}