<!-- Page Title (Shop)-->
<div class="page-title-overlap bg-dark pt-4">
  <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
      </div>
      <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
          <h1 class="h3 text-light mb-0">{{ 'layout.customer.account' | t }}</h1>
      </div>
  </div>
</div>
<!-- Page Content-->
<div class="container pb-5 mb-2 mb-md-3">
  <div class="row">
      <!-- Sidebar-->
      <aside class="col-lg-4 pt-4 pt-lg-0">
          <div class="cz-sidebar-static rounded-lg box-shadow-lg px-0 pb-0 mb-5 mb-lg-0">
              <div class="px-4 mb-4">
                  <div class="media align-items-center">
                      <div class="media-body">
                      {% if customer.addresses != blank %}
                        {% for address in customer.addresses %}
                        {% assign customer_name = address.name %}
                        {% if forloop.first == true %}
                          <h3 class="font-size-base mb-0">{{ address.name }}</h3><span class="text-accent font-size-sm">{{ customer.email }}</span>
                        {% endif %}
                        {% endfor %}
                        {% else %}
                            <h3 class="font-size-base mb-0">{{ customer.name }}</h3><span class="text-accent font-size-sm">{{ customer.email }}</span>
                        {% endif %}
                        </div>
                  </div>
              </div>
              <div class="bg-secondary px-4 py-3">
                  <h3 class="font-size-sm mb-0 text-muted">Dashboard</h3>
              </div>
              <ul class="list-unstyled mb-0 nav" id="myTab" role="tablist" style="display: block !important;" >
                <li class="border-bottom mb-0 nav-item">
                  <a class="nav-link-style d-block px-4 py-3 nav-link active" id="profile-tab" data-toggle="tab" href="#profile_info" role="tab" aria-controls="profile-info" aria-selected="true">
                  <i class="czi-user align-middle mt-n1 mr-2"></i>{{ 'customer.account.profile_info_tab' | t }}</a>
                  </li>
                  <li class="border-bottom mb-0 nav-item">
                    <a class="nav-link-style d-flex justify-content-between align-items-center px-4 py-3 nav-link" id="profile-order" data-toggle="tab" href="#orders" role="tab" aria-controls="order" aria-selected="false">
                      <span><i class="czi-bag align-middle mt-n1 mr-2"></i>{{ 'customer.account.order_tab' | t }}</span>
                      <span class="font-size-sm text-muted">{{ customer.orders.size }} </span>
                    </a>
                  </li>
                  <li class="border-bottom mb-0 nav-item">
                    <a class="nav-link-style d-flex justify-content-between align-items-center px-4 py-3 nav-link"  id="profile-privacy" data-toggle="tab" href="#privacy" role="tab" aria-controls="privacy" aria-selected="false">
                      <span><i class="czi-unlocked align-middle mt-n1 mr-2"></i>{{ 'customer.account.privacy_settings_tab' | t }}</span>
                    </a>
                  </li>
                  <li class="d-lg-none border-top mb-0">
                      <a class="nav-link-style d-block px-4 py-3" href="{{ routes.account_logout_url }}">
                          <i class="czi-sign-out align-middle mt-n1 mr-2"></i>{{ 'layout.customer.log_out' | t }}
                      </a>
                  </li>
              </ul>
          </div>
      </aside>
      <!-- Content  -->
      <section class="col-lg-8">
          <!-- Toolbar-->
          <div class="d-none d-lg-flex justify-content-between align-items-center pt-lg-3 pb-4 pb-lg-5 mb-lg-3">
              <h6 class="font-size-base text-light mb-0"></h6>
              <a class="btn btn-primary btn-sm" href="{{ routes.account_logout_url }}"><i class="czi-sign-out mr-2"></i>{{ 'layout.customer.log_out' | t }}</a>
          </div>
          <!-- Profile form-->

        <!-- Setting up the content with tab -->
        <div class="tab-content">
            <div class="tab-pane active" id="profile_info" role="tabpanel" aria-labelledby="home-tab">
                {% if customer.addresses != blank %}

                      {% comment %}
                        Add address form, hidden by default
                        {% endcomment %}
                        <div id="AddressNewForm" class="form-vertical hide">
                            {% form 'customer_address', customer.new_address %}
                            <h4>{{ 'customer.addresses.add_new' | t }}</h4>

                            <div class="grid">
                                <div class="grid__item medium-up--one-half">
                                <label for="AddressFirstNameNew">{{ 'customer.addresses.first_name' | t }}</label>
                                <input type="text" id="AddressFirstNameNew" name="address[first_name]" value="{{ form.first_name }}" autocomplete="given-name">
                                </div>

                                <div class="grid__item medium-up--one-half">
                                <label for="AddressLastNameNew">{{ 'customer.addresses.last_name' | t }}</label>
                                <input type="text" id="AddressLastNameNew" name="address[last_name]" value="{{ form.last_name }}" autocomplete="family-name">
                                </div>
                            </div>

                            <div class="grid">
                                <div class="grid__item">
                                <label for="AddressCompanyNew">{{ 'customer.addresses.company' | t }}</label>
                                <input type="text" id="AddressCompanyNew" name="address[company]" value="{{ form.company }}" autocomplete="organization">

                                <label for="AddressAddress1New">{{ 'customer.addresses.address1' | t }}</label>
                                <input type="text" id="AddressAddress1New" name="address[address1]" value="{{ form.address1 }}" autocomplete="street-address address-line1">

                                <label for="AddressAddress2New">{{ 'customer.addresses.address2' | t }}</label>
                                <input type="text" id="AddressAddress2New" name="address[address2]" value="{{ form.address2 }}" autocomplete="street-address address-line2">
                                </div>
                            </div>

                            <div class="grid">
                                <div class="grid__item medium-up--one-half">
                                <label for="AddressCityNew">{{ 'customer.addresses.city' | t }}</label>
                                <input type="text" id="AddressCityNew" name="address[city]" value="{{ form.city }}" autocomplete="address-level2">
                                </div>

                                <div class="grid__item medium-up--one-half">
                                <label for="AddressCountryNew">{{ 'customer.addresses.country' | t }}</label>
                                <select id="AddressCountryNew" name="address[country]" data-default="{{ form.country }}" autocomplete="country">{{ all_country_option_tags }}</select>
                                </div>
                            </div>

                            <div id="AddressProvinceContainerNew" style="display:none">
                                <label for="AddressProvinceNew">{{ 'customer.addresses.province' | t }}</label>
                                <select id="AddressProvinceNew" name="address[province]" data-default="{{ form.province }}" autocomplete="address-level1"></select>
                            </div>

                            <label for="AddressZipNew">{{ 'customer.addresses.zip' | t }}</label>
                            <input type="text" id="AddressZipNew" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters" autocomplete="postal-code">

                            <label for="AddressPhoneNew">{{ 'customer.addresses.phone' | t }}</label>
                            <input type="tel" id="AddressPhoneNew" name="address[phone]" value="{{ form.phone }}" autocomplete="phone">

                            {% endform %}
                            <hr>
                        </div>

                        {% comment %}
                            List all customer addresses with a unique edit form.
                            Also add pagination in case they have a large number of addresses
                        {% endcomment %}


                        {% for address in customer.addresses %}
                        {% if forloop.first == true %}

                            <div id="EditAddress_{{ address.id }}" class="form-verticals">
                            {% form 'customer_address', address %}

                                <h4>{{ 'customer.account.details' | t }}</h4>

                                <div class="grid">
                                <div class="grid__item medium-up--one-half">
                                    <label for="AddressFirstName_{{ form.id }}">{{ 'customer.addresses.first_name' | t }}</label>
                                    <input class="form-control" type="text" id="AddressFirstName_{{ form.id }}" name="address[first_name]" value="{{ form.first_name }}" autocomplete="given-name" required>
                                </div>

                                <div class="grid__item medium-up--one-half">
                                    <label for="AddressLastName_{{ form.id }}">{{ 'customer.addresses.last_name' | t }}</label>
                                    <input class="form-control" type="text" id="AddressLastName_{{ form.id }}" name="address[last_name]" value="{{ form.last_name }}" autocomplete="family-name" required>
                                </div>
                                </div>

                                <label >{{ 'contact.form.email' | t }}</label>
                                <input class="form-control" value="{{ customer.email }}" disabled>


                                <label for="AddressCompany_{{ form.id }}">{{ 'customer.addresses.company' | t }}</label>
                                <input class="form-control" type="text" id="AddressCompany_{{ form.id }}" name="address[company]" value="{{ form.company }}" autocomplete="organization">

                                <label for="AddressAddress1_{{ form.id }}">{{ 'customer.addresses.address1' | t }}</label>
                                <input class="form-control" type="text" id="AddressAddress1_{{ form.id }}" name="address[address1]" value="{{ form.address1 }}" autocomplete="street-address address-line1" required>

                                <label for="AddressAddress2_{{ form.id }}">{{ 'customer.addresses.address2' | t }}</label>
                                <input class="form-control" type="text" id="AddressAddress2_{{ form.id }}" name="address[address2]" value="{{ form.address2 }}" autocomplete="street-address address-line2">

                                <div class="grid">
                                <div class="grid__item medium-up--one-half">
                                    <label for="AddressCity_{{ form.id }}">{{ 'customer.addresses.city' | t }}</label>
                                    <input class="form-control" type="text" id="AddressCity_{{ form.id }}" name="address[city]" value="{{ form.city }}" autocomplete="address-level2" required>
                                </div>
                                <div class="grid__item medium-up--one-half">
                                    <label for="AddressCountry_{{ form.id }}">{{ 'customer.addresses.country' | t }}</label>
                                    <select id="AddressCountry_{{ form.id }}" class="form-control address-country-option" data-form-id="{{ form.id }}" name="address[country]" data-default="{{ form.country }}" autocomplete="country" required>{{ all_country_option_tags }}</select>
                                </div>
                                </div>

                                <div id="AddressProvinceContainer_{{ form.id }}" style="display:none">
                                <label for="AddressProvince_{{ form.id }}">{{ 'customer.addresses.province' | t }}</label>
                                <select class="form-control" id="AddressProvince_{{ form.id }}" name="address[province]" data-default="{{ form.province }}" autocomplete="address-level1"></select>
                                </div>

                                <div class="grid">
                                    <div class="grid__item">
                                        <label for="AddressZip_{{ form.id }}">{{ 'customer.addresses.zip' | t }}</label>
                                        <input class="form-control" type="text" id="AddressZip_{{ form.id }}" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters" autocomplete="postal-code" required>
                                    </div>

                                    <div class="grid__item">
                                        <label for="AddressPhone_{{ form.id }}">{{ 'customer.addresses.phone' | t }}</label>
                                        <input class="form-control" type="tel" id="AddressPhone_{{ form.id }}" name="address[phone]" value="{{ form.phone }}" autocomplete="phone">
                                    </div>
                                </div>

                                <div class="mt-3">
                                    <input type="submit" class="btn btn-primary mt-3 mt-sm-0" value="{{ 'customer.addresses.update' | t }}">
                                </div>

                            {% endform %}
                            </div>

                        {% endif %}
                        {% endfor %}

                    
                    <!-- Add Adress -->
                    </div>
                        {% else %}

                    <!-- Original Form Start -->
                    <div id="AddressNewForm" class="form-vertical">
                        {% form 'customer_address', customer.new_address %}
                          <h4>{{ 'customer.addresses.add_new' | t }}</h4>
                
                          <div class="grid">
                            <div class="grid__item medium-up--one-half">
                              <label for="AddressFirstNameNew">{{ 'customer.addresses.first_name' | t }}</label>
                              <input class="form-control" type="text" id="AddressFirstNameNew" name="address[first_name]" value="{{ form.first_name }}" autocomplete="given-name" required>
                            </div>
                
                            <div class="grid__item medium-up--one-half">
                              <label for="AddressLastNameNew">{{ 'customer.addresses.last_name' | t }}</label>
                              <input class="form-control" type="text" id="AddressLastNameNew" name="address[last_name]" value="{{ form.last_name }}" autocomplete="family-name" required>
                            </div>
                            
                          </div>

                    </div>

                          
                          <div class="grid">
                            <div class="grid__item">
                            <label >{{ 'contact.form.email' | t }}</label>
                            <input class="form-control" value="{{ customer.email }}" disabled>

                              <label for="AddressCompanyNew">{{ 'customer.addresses.company' | t }}</label>
                              <input class="form-control" type="text" id="AddressCompanyNew" name="address[company]" value="{{ form.company }}" autocomplete="organization">
                
                              <label for="AddressAddress1New">{{ 'customer.addresses.address1' | t }}</label>
                              <input class="form-control" type="text" id="AddressAddress1New" name="address[address1]" value="{{ form.address1 }}" autocomplete="street-address address-line1" required>
                
                              <label for="AddressAddress2New">{{ 'customer.addresses.address2' | t }}</label>
                              <input class="form-control" type="text" id="AddressAddress2New" name="address[address2]" value="{{ form.address2 }}" autocomplete="street-address address-line2">
                            </div>
                          </div>
                
                          <div class="grid">
                            <div class="grid__item medium-up--one-half">
                              <label for="AddressCityNew">{{ 'customer.addresses.city' | t }}</label>
                              <input class="form-control" type="text" id="AddressCityNew" name="address[city]" value="{{ form.city }}" autocomplete="address-level2" required>
                            </div>
                
                            <div class="grid__item medium-up--one-half">
                              <label for="AddressCountryNew">{{ 'customer.addresses.country' | t }}</label>
                              <select class="form-control" id="AddressCountryNew" name="address[country]" data-default="{{ form.country }}" autocomplete="country" required>{{ all_country_option_tags }}</select>
                            </div>
                          </div>
                
                          <div id="AddressProvinceContainerNew" style="display:none">
                            <label for="AddressProvinceNew">{{ 'customer.addresses.province' | t }}</label>
                            <select class="form-control" id="AddressProvinceNew" name="address[province]" data-default="{{ form.province }}" autocomplete="address-level1"></select>
                          </div>
                
                          <label for="AddressZipNew">{{ 'customer.addresses.zip' | t }}</label>
                          <input class="form-control" type="text" id="AddressZipNew" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters" autocomplete="postal-code" required>
                
                          <label for="AddressPhoneNew">{{ 'customer.addresses.phone' | t }}</label>
                          <input class="form-control" type="tel" id="AddressPhoneNew" name="address[phone]" value="{{ form.phone }}" autocomplete="phone">
                
                          <input type="submit" class="btn btn-primary mt-3" value="{{ 'customer.addresses.add' | t }}">
                
                        {% endform %}
                </div>
                    <!-- Original Form End -->

                    {% endif %}

            <div class="tab-pane" id="orders" role="tabpanel" aria-labelledby="profile-tab">
                    <h4>{{ 'customer.orders.title' | t }}</h4>
                    <!-- Orders list-->
                    <div class="table-responsive font-size-md">
                    <table class="table table-hover mb-0">
                        <thead>
                        <tr>
                            <th>{{ 'customer.orders.order_number' | t }} #</th>
                            <th>{{ 'customer.orders.date' | t }}</th>
                            <th>{{ 'customer.orders.payment_status' | t }}</th>
                            <th>{{ 'customer.orders.fulfillment_status' | t }}</th>
                            <th>{{ 'customer.orders.total' | t }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order in customer.orders %}  
                        <tr>
                            <td class="py-3" data-label="{{ 'customer.orders.order_number' | t }}">
                                <a class="nav-link-style font-weight-medium font-size-sm" href="{{ order.customer_url }}" aria-label="{{ 'customer.orders.order_number_link' | t: number: order.name }}">{{ order.name }}</a>
                            </td>
                            <td class="py-3" data-label="{{ 'customer.orders.date' | t }}">{{ order.created_at | time_tag: format: 'date' }}</td>
                            <td class="py-3" data-label="{{ 'customer.orders.payment_status' | t }}">{{ order.financial_status_label }}</td>
                            <td class="py-3" data-label="{{ 'customer.orders.fulfillment_status' | t }}">{{ order.fulfillment_status_label }}</td>
                            <td  class="py-3"data-label="{{ 'customer.orders.total' | t }}">{{ order.total_price | money }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    </div>
            </div>

            <div class="tab-pane" id="privacy" role="tabpanel" aria-labelledby="profile-tab">

                {%- assign url = canonical_url | remove: shop.url | split: "/"  -%}

                <!-- Recovery Password -->
                {% if url[1] contains 'en' %}
                <form method="post" action="/{{ url[1] }}/account/recover" class="needs-validation col-sm-9" accept-charset="UTF-8" novalidate="novalidate" autocomplete="off">
                {% elsif url[1] contains 'fr' %}
                <form method="post" action="/{{ url[1] }}/account/recover" class="needs-validation col-sm-9" accept-charset="UTF-8" novalidate="novalidate" autocomplete="off" >
                {% elsif url[1] contains 'de' %}
                <form method="post" action="/{{ url[1] }}/account/recover" class="needs-validation col-sm-9" accept-charset="UTF-8" novalidate="novalidate" autocomplete="off" >
                {% else %}
                <form method="post" action="/account/recover" class="needs-validation col-sm-9" accept-charset="UTF-8" novalidate="novalidate" autocomplete="off">
                {% endif %}
                <h4>{{ 'customer.reset_password.title' | t }}</h4>
                <label for="si-email">{{ 'customer.login.email' | t }}</label>
                <div class="input-group">
                    <input 
                        value=""
                        class="form-control input-full{% if form.errors? %} input--error{% endif %}"
                        name="email" 
                        type="email" 
                        autocorrect="off"
                        autocapitalize="off"
                        id="RecoverEmail" 
                        placeholder="example@mail.com" 
                        required
                        {% if form.errors %}
                        aria-invalid="true"
                        aria-describedby="RecoverEmail-email-error"
                    {%- endif -%}
                        >        
                        <div class="input-group-append">
                            <button class="btn btn-primary btn-block btn-shadow" type="submit"  value="{{ 'customer.recover_password.submit' | t }}" style="border-top-right-radius: 0.1875rem !important; border-bottom-right-radius: 0.1875rem !important; " >{{ 'customer.recover_password.submit' | t }}</button>
                    </div>
                    <div class="invalid-feedback">{{ 'customer.login.error_email' | t }}</div>            
                </div>
                </form> 

                <div class="col-sm-9 mt-5">
                    <h4>{{ 'customer.account.customer_data_title' | t }}</h4>
                    <a href="{{ 'customer.account.mailto_marketing' | t: name: customer.name, id: customer.id  }}" class="btn btn-outline-secondary mr-2 mt-2">{{ 'customer.account.email_marketing_button' | t }}</a>
                    <a href="{{ 'customer.account.mailto_request_data' | t: name: customer.name, id: customer.id }}" class="btn btn-outline-info mr-2 mt-2">{{ 'customer.account.request_data_button' | t }}</a>
                    <a href="{{ 'customer.account.mailto_delete_account' | t: name: customer.name, id: customer.id }}" class="btn btn-outline-primary mr-2 mt-2">{{ 'customer.account.delete_account_button' | t }}</a>
                </div>

            </div>

        </div>

</div>
</section>
