<div class="page-width text-center mt-4 mb-4">
  <header class="section-header">
    <h1>{{ 'customer.addresses.title' | t }}</h1>
  </header>

{% for address in customer.addresses %}
  {{ address | format_address }}
{% endfor %}

<a class="btn btn-outline-secondary" href="{{ routes.account_url }}">{{ 'customer.account.return' | t }}</a>


</div>
