    <section class="container pb-4 mb-md-3">
      <div class="row">
        <div class="col-md-8 mb-4">
          <div class="d-sm-flex justify-content-between align-items-center bg-secondary overflow-hidden rounded-lg">
            <div class="py-4 my-2 my-md-0 py-md-5 px-4 ml-md-3 text-sm-left">
              <h4 class="font-size-lg font-weight-light mb-2 moka-font">{{ section.settings.text1 }}</h4>
              <h3 class="mb-4 moka-font font-weight-bold">{{ section.settings.title1 }}</h3><a class="btn btn-primary btn-shadow btn-sm" href="{{ section.settings.button_link1 }}">{{ section.settings.button_label1 }}</a>
            </div><img class="d-block ml-auto" src="{{ section.settings.image1 | img_url: '' }}" alt="{{ section.settings.image1.alt }}">
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="d-flex flex-column h-100 justify-content-center bg-size-cover bg-position-center rounded-lg" style="background-image: url({{ section.settings.image2 | img_url: 'large' }});">
            <div class="py-4 my-2 px-4 text-center">
              <div class="py-1">
                <h3 class="mb-2 text-light moka-font font-weight-bold">{{ section.settings.title2 }}</h3>
                <p class="font-size-sm text-light">{{ section.settings.text2 }}</p><a class="btn btn-primary btn-shadow btn-sm" href="{{ section.settings.button_link2 }}">{{ section.settings.button_label2 }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

{% schema %}
{
  "name": {
    "da": "Billede med tekst",
    "de": "Foto mit Text",
    "en": "Banners",
    "es": "Imagen con texto",
    "fi": "Kuva tekstillä",
    "fr": "Image avec texte",
    "hi": "टेक्स्ट वाली इमेज",
    "it": "Banners",
    "ja": "テキスト付き画像",
    "ko": "텍스트 포함 이미지",
    "nb": "Bilde med tekst",
    "nl": "Afbeelding met tekst",
    "pt-BR": "Imagem com texto",
    "pt-PT": "Imagem com texto",
    "sv": "Bild med text",
    "th": "รูปภาพพร้อมข้อความ",
    "zh-CN": "带文本的图片",
    "zh-TW": "附文字的圖片"
  },
  "settings": [
    {
    "type": "text",
    "id": "text1",
    "label": {
        "da": "Overskrift",
        "de": "Titel",
        "en": "Text",
        "es": "Título",
        "fi": "Otsake",
        "fr": "En-tête",
        "hi": "शीर्षक",
        "it": "Heading",
        "ja": "見出し",
        "ko": "제목",
        "nb": "Overskrift",
        "nl": "Kop",
        "pt-BR": "Título",
        "pt-PT": "Título",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "zh-CN": "标题",
        "zh-TW": "標題"
      },
      "default": {
        "da": "Billede med tekst",
        "de": "Foto mit Text",
        "en": "Image with products Mok Mok",
        "es": "Imagen con texto",
        "fi": "Kuva tekstillä",
        "fr": "Image avec texte",
        "hi": "टेक्स्ट वाली इमेज",
        "it": "Immagine con testo",
        "ja": "テキスト付き画像",
        "ko": "텍스트 포함 이미지",
        "nb": "Bilde med tekst",
        "nl": "Afbeelding met tekst",
        "pt-BR": "Imagem com texto",
        "pt-PT": "Imagem com texto",
        "sv": "Bild med text",
        "th": "รูปภาพพร้อมข้อความ",
        "zh-CN": "带文本的图片",
        "zh-TW": "附文字的圖片"
      }
    },
    {
      "type": "text",
      "id": "title1",
      "label": {
        "da": "Overskrift",
        "de": "Titel",
        "en": "Heading",
        "es": "Título",
        "fi": "Otsake",
        "fr": "En-tête",
        "hi": "शीर्षक",
        "it": "Heading",
        "ja": "見出し",
        "ko": "제목",
        "nb": "Overskrift",
        "nl": "Kop",
        "pt-BR": "Título",
        "pt-PT": "Título",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "zh-CN": "标题",
        "zh-TW": "標題"
      },
      "default": {
        "da": "Billede med tekst",
        "de": "Foto mit Text",
        "en": "Image with products Mok Mok",
        "es": "Imagen con texto",
        "fi": "Kuva tekstillä",
        "fr": "Image avec texte",
        "hi": "टेक्स्ट वाली इमेज",
        "it": "Immagine con testo",
        "ja": "テキスト付き画像",
        "ko": "텍스트 포함 이미지",
        "nb": "Bilde med tekst",
        "nl": "Afbeelding met tekst",
        "pt-BR": "Imagem com texto",
        "pt-PT": "Imagem com texto",
        "sv": "Bild med text",
        "th": "รูปภาพพร้อมข้อความ",
        "zh-CN": "带文本的图片",
        "zh-TW": "附文字的圖片"
      }
    },
    {
      "type": "text",
      "id": "button_label1",
      "label": {
        "da": "Knaptekst",
        "de": "Button-Etikett",
        "en": "Button label",
        "es": "Etiqueta de botón",
        "fi": "Tekstipainike",
        "fr": "Texte du bouton",
        "hi": "बटन लेबल",
        "it": "Etichetta pulsante",
        "ja": "ボタンのラベル",
        "ko": "버튼 레이블",
        "nb": "Knappetikett",
        "nl": "Knoplabel",
        "pt-BR": "Etiqueta de botão",
        "pt-PT": "Etiqueta do botão",
        "sv": "Knappetikett",
        "th": "ป้ายกำกับปุ่ม",
        "zh-CN": "按钮标签",
        "zh-TW": "按鈕標籤"
      }
    },
    {
      "type": "url",
      "id": "button_link1",
      "label": {
        "da": "Knaplink",
        "de": "Button-Link",
        "en": "Button link",
        "es": "Enlace de botón",
        "fi": "Painikelinkki",
        "fr": "Lien du bouton",
        "hi": "बटन लिंक",
        "it": "Link pulsante",
        "ja": "ボタンのリンク",
        "ko": "버튼 링크",
        "nb": "Kobling for knapp",
        "nl": "Knoplink",
        "pt-BR": "Link de botão",
        "pt-PT": "Ligação do botão",
        "sv": "Knapplänk",
        "th": "ลิงก์ปุ่ม",
        "zh-CN": "按钮链接",
        "zh-TW": "按鈕連結"
      }
    },
    {
        "type": "image_picker",
        "id": "image1",
        "label": {
          "da": "Billede",
          "de": "Foto",
          "en": "Image",
          "es": "Imagen",
          "fi": "Kuva",
          "fr": "Image",
          "hi": "इमेज",
          "it": "Immagine",
          "ja": "画像",
          "ko": "이미지",
          "nb": "Bilde",
          "nl": "Afbeelding",
          "pt-BR": "Imagem",
          "pt-PT": "Imagem",
          "sv": "Bild",
          "th": "รูปภาพ",
          "zh-CN": "图片",
          "zh-TW": "圖片"
        }
    },
    {
        "type": "text",
        "id": "text2",
        "label": {
            "da": "Overskrift",
            "de": "Titel",
            "en": "Text",
            "es": "Título",
            "fi": "Otsake",
            "fr": "En-tête",
            "hi": "शीर्षक",
            "it": "Heading",
            "ja": "見出し",
            "ko": "제목",
            "nb": "Overskrift",
            "nl": "Kop",
            "pt-BR": "Título",
            "pt-PT": "Título",
            "sv": "Rubrik",
            "th": "ส่วนหัว",
            "zh-CN": "标题",
            "zh-TW": "標題"
          },
          "default": {
            "da": "Billede med tekst",
            "de": "Foto mit Text",
            "en": "Image with products Mok Mok",
            "es": "Imagen con texto",
            "fi": "Kuva tekstillä",
            "fr": "Image avec texte",
            "hi": "टेक्स्ट वाली इमेज",
            "it": "Immagine con testo",
            "ja": "テキスト付き画像",
            "ko": "텍스트 포함 이미지",
            "nb": "Bilde med tekst",
            "nl": "Afbeelding met tekst",
            "pt-BR": "Imagem com texto",
            "pt-PT": "Imagem com texto",
            "sv": "Bild med text",
            "th": "รูปภาพพร้อมข้อความ",
            "zh-CN": "带文本的图片",
            "zh-TW": "附文字的圖片"
          }
    },
    {
        "type": "text",
        "id": "title2",
        "label": {
          "da": "Overskrift",
          "de": "Titel",
          "en": "Heading",
          "es": "Título",
          "fi": "Otsake",
          "fr": "En-tête",
          "hi": "शीर्षक",
          "it": "Heading",
          "ja": "見出し",
          "ko": "제목",
          "nb": "Overskrift",
          "nl": "Kop",
          "pt-BR": "Título",
          "pt-PT": "Título",
          "sv": "Rubrik",
          "th": "ส่วนหัว",
          "zh-CN": "标题",
          "zh-TW": "標題"
        },
        "default": {
          "da": "Billede med tekst",
          "de": "Foto mit Text",
          "en": "Image with products Mok Mok",
          "es": "Imagen con texto",
          "fi": "Kuva tekstillä",
          "fr": "Image avec texte",
          "hi": "टेक्स्ट वाली इमेज",
          "it": "Immagine con testo",
          "ja": "テキスト付き画像",
          "ko": "텍스트 포함 이미지",
          "nb": "Bilde med tekst",
          "nl": "Afbeelding met tekst",
          "pt-BR": "Imagem com texto",
          "pt-PT": "Imagem com texto",
          "sv": "Bild med text",
          "th": "รูปภาพพร้อมข้อความ",
          "zh-CN": "带文本的图片",
          "zh-TW": "附文字的圖片"
        }
    },
    {
        "type": "text",
        "id": "button_label2",
        "label": {
          "da": "Knaptekst",
          "de": "Button-Etikett",
          "en": "Button label",
          "es": "Etiqueta de botón",
          "fi": "Tekstipainike",
          "fr": "Texte du bouton",
          "hi": "बटन लेबल",
          "it": "Etichetta pulsante",
          "ja": "ボタンのラベル",
          "ko": "버튼 레이블",
          "nb": "Knappetikett",
          "nl": "Knoplabel",
          "pt-BR": "Etiqueta de botão",
          "pt-PT": "Etiqueta do botão",
          "sv": "Knappetikett",
          "th": "ป้ายกำกับปุ่ม",
          "zh-CN": "按钮标签",
          "zh-TW": "按鈕標籤"
        }
    },
    {
    "type": "url",
    "id": "button_link2",
    "label": {
        "da": "Knaplink",
        "de": "Button-Link",
        "en": "Button link",
        "es": "Enlace de botón",
        "fi": "Painikelinkki",
        "fr": "Lien du bouton",
        "hi": "बटन लिंक",
        "it": "Link pulsante",
        "ja": "ボタンのリンク",
        "ko": "버튼 링크",
        "nb": "Kobling for knapp",
        "nl": "Knoplink",
        "pt-BR": "Link de botão",
        "pt-PT": "Ligação do botão",
        "sv": "Knapplänk",
        "th": "ลิงก์ปุ่ม",
        "zh-CN": "按钮链接",
        "zh-TW": "按鈕連結"
    }
    },
    {
        "type": "image_picker",
        "id": "image2",
        "label": {
        "da": "Billede",
        "de": "Foto",
        "en": "Image",
        "es": "Imagen",
        "fi": "Kuva",
        "fr": "Image",
        "hi": "इमेज",
        "it": "Immagine",
        "ja": "画像",
        "ko": "이미지",
        "nb": "Bilde",
        "nl": "Afbeelding",
        "pt-BR": "Imagem",
        "pt-PT": "Imagem",
        "sv": "Bild",
        "th": "รูปภาพ",
        "zh-CN": "图片",
        "zh-TW": "圖片"
        }
    }
  ],
  "presets": [
    {
      "name": {
        "da": "Billede med tekst",
        "de": "Foto mit Text",
        "en": "Banners Mok",
        "es": "Imagen con texto",
        "fi": "Kuva tekstillä",
        "fr": "Image avec texte",
        "hi": "टेक्स्ट वाली इमेज",
        "it": "Immagine con testo",
        "ja": "テキスト付き画像",
        "ko": "텍스트 포함 이미지",
        "nb": "Bilde med tekst",
        "nl": "Afbeelding met tekst",
        "pt-BR": "Imagem com texto",
        "pt-PT": "Imagem com texto",
        "sv": "Bild med text",
        "th": "รูปภาพพร้อมข้อความ",
        "zh-CN": "带文本的图片",
        "zh-TW": "附文字的圖片"
      },
      "category": {
        "da": "Billede",
        "de": "Foto",
        "en": "Image",
        "es": "Imagen",
        "fi": "Kuva",
        "fr": "Image",
        "hi": "इमेज",
        "it": "Immagine",
        "ja": "画像",
        "ko": "이미지",
        "nb": "Bilde",
        "nl": "Afbeelding",
        "pt-BR": "Imagem",
        "pt-PT": "Imagem",
        "sv": "Bild",
        "th": "รูปภาพ",
        "zh-CN": "图片",
        "zh-TW": "圖片"
      }
    }
  ]
}
{% endschema %}