    <!-- Page Title (Shop)-->

    {% comment %} 
    
    Define AJAX container
  
    {% endcomment %}

    <div data-section-id="{{ section.id }}" data-section-type="cart-template" data-ajax-enabled="{{ section.settings.cart_ajax_enable }}">

      <div class="page-title-overlap bg-dark pt-4">
        <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
          <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
            
            {% comment %}

            Change the logic for the cart section

            {%- unless template == 'index' or template == 'cart' or template == 'list-collections' or template == '404' -%}
            {%- assign t = template | split: '.' | first -%}
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-star">
                <li class="breadcrumb-item">
                  <a class="text-nowrap" href="{{ shop.url }}">
                    <i class="czi-home"></i>
                    Home
                  </a>
                </li>
                {%- case t -%}
                {%- when 'page' -%}
                <li class="breadcrumb-item text-nowrap">
                  <a href="{{ page.url }}">{{ page.title }}</a>
                </li>
                {%- when 'product' -%}
                {%- if collection.url -%}
                <li class="breadcrumb-item text-nowrap">
                  <a href="{{ collection.url }}">{{ collection.title }}</a>
                </li>
                {%- endif -%}
                <li class="breadcrumb-item text-nowrap">
                  <a href="{{ product.url }}">{{ product.title }}</a>
                </li>
                {%- when 'collection' and collection.handle -%}
                {%- if current_tags -%}
                <li class="breadcrumb-item text-nowrap">
                  <a href="{{ collection.url }}">{{ collection.title }}</a>
                </li>
                {%- endif -%}
                {%- endcase -%}
              </ol>
            {%- endunless -%}
            </nav> {% endcomment %}

          </div>
          <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
            <h1 class="h3 text-light mb-0">{{ 'cart.general.title' | t }}</h1>
          </div>
        </div>
      </div>

      <div class="container pb-5 mb-2 mb-md-4">



      
        <div class="row">
          <!-- List of items-->
          <section class="{% if cart.item_count == 0 %} col-lg-12 {% endif %} {% if cart.item_count > 0 %} col-lg-8 {% endif %}">

            {% if cart.item_count > 0 %}
            <div class="spacing-cart">
            </div>
            {% endif %}

        <!-- START Empty Cart -->

        <div class="empty-page-content {% if cart.item_count > 0 %} hide{% endif %} text-center" data-empty-page-content>
          <h1>{{ 'cart.general.empty' | t }}</h1>
          <div class="cookie-message">
            <p>{{ 'cart.general.cookies_required' | t }}</p>
          </div>
          <a href="{{ routes.root_url }}" class="btn btn-outline-primary btn-sm pl-2"><i class="czi-arrow-left mr-2"></i>{{ 'general.404.link' | t }}</a>
        </div>
        
        <!-- END Empty Cart -->

            <!-- Item-->
            {% if cart.item_count > 0 %}

            <div class="d-sm-flex justify-content-between text-center pb-3" style="margin-bottom: 3.5rem">

              <!-- Continue shopping -->
              <a class="btn btn-outline-secondary btn-sm pl-2" style="float: left;" href="{{ routes.all_products_collection_url }}">
              {{ 'cart.general.continue_shopping' | t }}</a>
              
              <!-- Clean Cart -->
              <a class="btn btn-outline-primary btn-sm pl-2" style="float: right;" href="/cart/clear">
              {{ 'cart.general.empty_cart' | t }}
              </a>


            </div>


              
              <form action="{{ routes.cart_url }}" method="post" novalidate class="cart">
              
              <!-- AJAX Products container - START -->

              <div data-cart-line-items>

                {%- for item in cart.items -%}
                <div class="d-sm-flex justify-content-between my-4 pb-3 border-bottom" data-cart-item data-cart-item-key="{{ item.key }}" data-cart-item-url="{{ item.url }}" data-cart-item-title="{{ item.title }}" data-cart-item-index="{{ forloop.index }}" data-cart-item-quantity="{{ item.quantity }}">


              <div class="media d-block d-sm-flex text-center text-sm-left" data-cart-table-cell>
                <a class="d-inline-block mx-auto mr-sm-4" href="{{ item.url }}" style="width: 10rem;">
                  
                  <img class="{% if item.image == null %} hide{% endif %}" src="{{ item | img_url: 'x190' }}" alt="{{ item.image.alt | escape }}" data-cart-item-image>
                
                </a>
                <div class="media-body pt-2">
                  <h3 class="product-title font-size-base mb-2 float-lg-left"><a href="{{ item.url }}" data-cart-item-title>{{ item.product.title }}</a></h3>
                  
                  {%- assign variant_options = 'template ' | split: ' ' -%}
                  {%- if item.product.has_only_default_variant != true -%}
                    {%- assign variant_options = item.options_with_values -%}
                  {%- endif -%}
                  {%- assign property_size = item.properties | size -%}


                  <ul class="product-details{% if item.product.has_only_default_variant and property_size == 0 %} hide{% endif %}" data-cart-item-details aria-label="{{ 'cart.label.product_details' | t }}">
                    {%- for option in variant_options -%}
                      <li class="product-details__item product-details__item--variant-option{% if item.product.has_only_default_variant %} hide{% endif %}" data-cart-item-option>{{ option.name }}: {{ option.value }}</li>
                    {%- endfor -%}
                  </ul>
                  
                  
                  {% comment %} <div data-cart-item-details>
                  {% unless variant_options contains 'template'  %}
                    {%- for option in variant_options -%}
                    <div class="font-size-sm" data-cart-item-option>
                      <span class="text-muted mr-2">
                        {{ option.name }}:</span>{{ option.value }}
                      </div>
                    {%- endfor -%}
                  {% endunless %}
                  </div> {% endcomment %}


                {% comment %} 
                <div data-cart-item-price>
                  <dl data-cart-item-price-list>
                  <div class="font-size-lg text-accent pt-2" data-cart-item-regular-price>{{ item.price | money }}</div>
                  </dl>
                </div>           
                {% endcomment %}


                {%- assign hasDiscount = false -%}
                {%- if item.original_price != item.final_price -%}
                  {%- assign hasDiscount = true -%}
                {%- endif -%}

                <div data-cart-item-price>
                  <dl data-cart-item-price-list>
                    {%- comment -%}
                      Markup template for discount item
                    {%- endcomment -%}
                    <div {% unless hasDiscount %}class="hide" {% endunless %}data-cart-item-discounted-price-group>
                      <dt>
                        <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                      </dt>
                      <dd class="font-size-lg text-accent pt-2 float-lg-left">
                        <s data-cart-item-original-price>{{ item.original_price | money }}</s>
                      </dd>
                      <dt>
                        <span class="visually-hidden">{{ 'products.product.sale_price' | t }}</span>
                      </dt>
                      <dd>
                        <span class="order-discount font-size-lg text-accent pt-2 float-lg-left" data-cart-item-final-price>{{ item.final_price | money }}</span>
                      </dd>
                    </div>

                    {%- comment -%}
                      Markup template for regular price item
                    {%- endcomment -%}
                    <div {% if hasDiscount %}class="hide" {% endif %}data-cart-item-regular-price-group>
                      <dt>
                        <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                      </dt>
                      <dd class="font-size-lg text-accent pt-2 float-lg-left" data-cart-item-regular-price>
                        {{ item.original_price | money }}
                      </dd>
                    </div>

                    {%- comment -%}
                      Markup template for unit price
                    {%- endcomment -%}
                    <div {% unless item.unit_price_measurement %}class="hide" {% endunless %}data-unit-price-group>
                      <dt>
                        <span class="visually-hidden visually-hidden--inline">{{ 'products.product.unit_price_label' | t }}</span>
                      </dt>
                      <dd>
                        <span class="price-unit-price">
                          {%- capture unit_price_separator -%}
                            <span aria-hidden="true">/</span><span class="visually-hidden">{{ 'general.accessibility.unit_price_separator' | t }}&nbsp;</span>
                          {%- endcapture -%}
                          {%- capture unit_price_base_unit -%}
                            {%- if item.unit_price_measurement.reference_value != 1 -%}
                              {{- item.unit_price_measurement.reference_value -}}
                            {%- endif -%}
                            {{ item.unit_price_measurement.reference_unit }}
                          {%- endcapture -%}

                          <span data-unit-price>{{ item.unit_price | money }}</span>{{- unit_price_separator -}}<span data-unit-price-base-unit>{{- unit_price_base_unit -}}</span>
                        </span>
                      </dd>
                    </div>
                  </dl>
                </div>


                </div>
              </div>

              <div class="pt-2 pt-sm-0 pl-sm-3 mx-auto mx-sm-0 text-center text-sm-left" style="max-width: 9rem;">
                <div class="form-group mb-0">
                  <label class="font-weight-medium" for="updates_{{ item.key }}" aria-label="{{ 'cart.label.quantity' | t }}" data-quantity-label-mobile>
                    {{ 'cart.label.qty' | t }}
                  </label>

                  <div class="small--hide">
                  <input id="updates_{{ item.key }}" class="form-control" type="number"
                  value="{{ item.quantity }}" min="0" pattern="[0-9]*"
                  data-quantity-input data-quantity-item="{{ forloop.index }}" data-quantity-input-desktop >
                  </div>

                  <div class="medium-up--hide">
                  <input id="updates_{{ item.key }}" class="form-control" type="number"
                  value="{{ item.quantity }}" min="0" pattern="[0-9]*"
                  data-quantity-input data-quantity-item="{{ forloop.index }}" data-quantity-input-mobile >
                  </div> 

                  <div class="cart__qty-error-message-wrapper cart__qty-error-message-wrapper--mobile hide" role="alert" data-cart-quantity-error-message-wrapper>
                    <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                    {% render 'icon-error' %}
                    <span class="cart__qty-error-message" data-cart-quantity-error-message></span>
                  </div>
                </div>


                <button class="btn btn-link px-0 text-danger" type="button" onclick="window.location.href='/cart/change?line={{ forloop.index }}&amp;quantity=0'" aria-label="{{ 'cart.label.remove' | t: product: item.title }}" data-cart-remove>
                  <i class="czi-close-circle mr-2"></i>
                  <span class="font-size-sm">{{ 'cart.general.remove' | t }}</span>
                </button>
              </div>
                </div>
                {% endfor %}

              </div>

              <!-- AJAX Products container - END -->

              {%- unless section.settings.cart_ajax_enable -%}
              <input type="submit" name="update"
              class="btn btn-outline-accent btn-block"
              value="{{ 'cart.general.update' | t }}">
              {%- endunless -%}


          </section>

        
          <!-- Sidebar-->
          <aside class="col-lg-4 pt-4 pt-lg-0">

            {% comment %} 

            Fixed Cart Sidebar: we need to 
            add the class "cart-fixed" below 
            inside the div with id="cart-sidebar"

            TODO: 

            Fix the stop of the sidebar when meet the Footer ID
            
            {% endcomment %}

            <div id="cart-sidebar" class="cz-sidebar-static rounded-lg box-shadow-lg ml-lg-auto">
              <div class="text-center mb-4 pb-3 border-bottom">
                <h2 class="h6 mb-3 pb-1">{{ 'cart.general.subtotal' | t }}</h2>
                <h3 class="font-weight-normal" data-cart-subtotal>{{ cart.total_price | money }}</h3>
              </div>

              {%- if section.settings.cart_notes_enable -%}
              <div class="form-group mb-4">
                <label class="mb-3" for="order-comments"><span class="badge badge-info font-size-xs mr-2">Note</span><span class="font-weight-medium">Additional comments</span></label>
                <textarea class="form-control" rows="6" id="order-comments"></textarea>
              </div>
              {%- endif -%}

              <input type="submit" name="checkout"
              class="btn btn-primary btn-shadow btn-block mt-4"
              value="{{ 'cart.general.checkout' | t }}">

              <div class="font-size-sm pt-3 pb-3">

                <span class="text-muted mr-2">{{ 'cart.general.cart_payment_accepted' | t }}</span>

              </div>

              {%- if section.settings.show_payment_icons -%}
              <ul class="payment-icons list--inline site-footer__icon-list pb-5 mx-auto">
                {% assign item-counter = 1 %}
                {% assign total_payments = shop.enabled_payment_types | size %}
                {%- for type in shop.enabled_payment_types -%}
                  <li class="payment-icon {% if item-counter != total_payments %} pr-2 {% endif %}">
                    {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                  </li>
                {% assign item-counter = item-counter | plus: 1 %}
                {%- endfor -%}
              </ul>
            {% endif %}

            </form>

            {% comment %} 
            Define cart status for AJAX 
            {% endcomment %}

            <p class="visually-hidden" data-cart-status
            aria-live="polite"
            role="status"
            ></p>

            </div>
          </aside>
        </div>
        {% endif %}
      </div>

    </div>


{% schema %}
{
  "name": {
    "da": "Side med indkøbskurv",
    "de": "Warenkorb-Seite",
    "en": "Cart page",
    "es": "Página del carrito de compras",
    "fi": "Ostoskorisivu",
    "fr": "Page du panier",
    "hi": "कार्ट पेज",
    "it": "Pagina del carrello",
    "ja": "カートページ",
    "ko": "카트 페이지",
    "nb": "Handlekurvside",
    "nl": "Winkelwagenpagina",
    "pt-BR": "Página do carrinho",
    "pt-PT": "Página do carrinho",
    "sv": "Varukorgssida",
    "th": "หน้าตะกร้าสินค้า",
    "zh-CN": "购物车页面",
    "zh-TW": "購物車頁面"
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "cart_ajax_enable",
      "label": {
        "da": "Aktivér automatisk opdatering af indkøbskurv",
        "de": "Automatische Warenkorbaktualisierungen aktivieren",
        "en": "Enable automatic cart updates",
        "es": "Habilitar las actualizaciones automáticas del carrito de compra",
        "fi": "Ota automaattinen ostoskorin päivitykset käyttöön",
        "fr": "Activer les mises à jour automatiques",
        "hi": "स्वचालित कार्ट अपडेट सक्षम करें",
        "it": "Abilita aggiornamenti automatici carrello",
        "ja": "自動カートの更新を有効にする",
        "ko": "자동 카트 업데이트 활성화하기",
        "nb": "Aktiver automatiske oppdateringer av handlekurven",
        "nl": "Automatische winkelwagen-updates inschakelen",
        "pt-BR": "Permitir atualizações automáticas do carrinho",
        "pt-PT": "Ativar atualizações automáticas do carrinho",
        "sv": "Aktivera automatiska uppdateringar av varukorgen",
        "th": "เปิดใช้งานการอัปเดตตะกร้าสินค้าอัตโนมัติ",
        "zh-CN": "启用购物车自动更新功能",
        "zh-TW": "啟用自動更新購物車"
      },
      "info": {
        "da": "Opdaterer indkøbskurven, så snart kunden foretager ændringer",
        "de": "Aktualisiert den Warenkorb, sobald Kundenänderungen vorgenommen werden",
        "en": "Updates the cart as soon as customer changes are made",
        "es": "Actualiza el carrito de compra tan pronto como el cliente realice cambios",
        "fi": "Päivittää ostoskorin heti, kun asiakkaan muutokset on tehty",
        "fr": "Mise à jour du panier dès que les modifications apportées aux clients ont été effectuées",
        "hi": "ग्राहक के द्वारा परिवर्तन करते ही कार्ट को अपडेट हो जाता है",
        "it": "Aggiorna il carrello appena il cliente apporta le modifiche",
        "ja": "お客様が変更されるとすぐにカートを更新します",
        "ko": "고객 변경 시 카트를 업데이트합니다.",
        "nb": "Oppdaterer handlekurven så snart kundens endringer er gjort",
        "nl": "De winkelwagen wordt bijgewerkt zodra de klant wijzigingen aanbrengt",
        "pt-BR": "Atualiza o carrinho assim que o cliente faz alterações",
        "pt-PT": "Atualiza o carrinho assim que o cliente faz alterações",
        "sv": "Uppdaterar varukorgen så snart kundändringar görs",
        "th": "อัปเดตตะกร้าสินค้าเมื่อลูกค้าได้ทำการเปลี่ยนแปลง",
        "zh-CN": "客户做出更改后立即更新购物车",
        "zh-TW": "在顧客進行變更時立即更新購物車"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "cart_notes_enable",
      "label": {
        "da": "Aktivér bemærkninger til indkøbskurv",
        "de": "Warenkorb-Notifikationen erlauben",
        "en": "Enable cart notes",
        "es": "Habilitar notas de carrito",
        "fi": "Ota ostoskorin huomautukset käyttöön",
        "fr": "Activer les notes de panier",
        "hi": "कार्ट नोट्स सक्षम करें",
        "it": "Abilita note carrello",
        "ja": "カートメモを有効にする",
        "ko": "카트 참고 사항 사용",
        "nb": "Aktiver handlekurvmerknader",
        "nl": "Opmerkingen voor winkelwagen inschakelen",
        "pt-BR": "Habilitar observações do carrinho",
        "pt-PT": "Ativar notas do carrinho",
        "sv": "Aktivera varukorgsmeddelanden",
        "th": "เปิดใช้หมายเหตุของตะกร้าสินค้า",
        "zh-CN": "启用购物车备注",
        "zh-TW": "啟用購物車備註"
      },
      "default": false
    },
        {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": {
        "da": "Vis betalingsikoner",
        "de": "Zahlungs-Buttons anzeigen",
        "en": "Show payment icons",
        "es": "Mostrar iconos de pago",
        "fi": "Näytä maksukuvakkeet",
        "fr": "Afficher les icônes de paiement",
        "hi": "भुगतान आइकन दिखाएं",
        "it": "Mostra le icone di pagamento",
        "ja": "支払いアイコンを表示する",
        "ko": "결제 아이콘 표시",
        "nb": "Vis betalingsikoner",
        "nl": "Betalingspictogrammen weergeven",
        "pt-BR": "Exibir ícones de pagamento",
        "pt-PT": "Mostrar ícones de pagamento",
        "sv": "Visa betalningsikoner",
        "th": "แสดงไอคอนการชำระเงิน",
        "zh-CN": "显示付款图标",
        "zh-TW": "顯示付款圖示"
      },
      "default": false
    }
  ]
}
{% endschema %}
