{% comment %} 
Manage the vendor page
{% endcomment %}

{%- assign url_2 = canonical_url | remove: shop.url -%}
{% for product_vendor in collection.all_vendors %}
  {%- assign collection_url = 'collections/' %}
  {%- assign vendors = product_vendor | handle  -%}
  {%- assign vendors_url = collection_url | append: vendors -%}
{% endfor %}

{% if url_2 contains vendors_url %}

{% render 'vendor-mok' %}

{% else %}

<div data-section-id="{{ section.id }}" data-section-type="collection-template">


    <!-- Page Title (Shop)-->

    <div class="page-title-overlap bg-dark pt-4">
      <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
        <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
          {%- unless template == 'index' or template == 'cart' or template == 'list-collections' or template == '404' -%}
          {%- assign t = template | split: '.' | first -%}
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-lg-star">
              <li class="breadcrumb-item">
                <a class="text-nowrap" href="{{ shop.url }}">
                  <i class="czi-home"></i>
                  Home
                </a>
              </li>
              {%- case t -%}
              {%- when 'page' -%}
              <li class="breadcrumb-item text-nowrap">
                <a href="{{ page.url }}">{{ page.title }}</a>
              </li>
              {%- when 'collection' -%}
              <li class="breadcrumb-item text-nowrap">
                <a href="{{ collection.url }}">{{ collection.title }}</a>
              </li>
              {%- when 'product' -%}
              {%- if collection.url -%}
              <li class="breadcrumb-item text-nowrap">
                <a href="{{ collection.url }}">{{ collection.title }}</a>
              </li>
              {%- endif -%}
              <li class="breadcrumb-item text-nowrap">
                <a href="{{ product.url }}">{{ product.title }}</a>
              </li>
              {%- when 'collection' and collection.handle -%}
              {%- if current_tags -%}
              <li class="breadcrumb-item text-nowrap">
                <a href="{{ collection.url }}">{{ collection.title }}</a>
              </li>
              {%- endif -%}
              {%- endcase -%}
            </ol>
          {%- endunless -%}
          </nav>

        </div>
        <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
          <h1 class="h3 text-light mb-0">{{ collection.title }}</h1>
        </div>
      </div>
    </div>

    <!-- Page Content-->
    <div class="container pb-5 mb-2 mb-md-4">
      <div class="row">
        <!-- Sidebar-->
        <aside class="col-lg-4 pt-4 pt-lg-0">
          <!-- Sidebar-->
          <a class="cz-sidebar-toggler" href="#shop-sidebar" data-toggle="sidebar"><i class="czi-menu"></i>
            <div class="font-size-xs mt-n1">{{ 'collections.sidebar-object.title' | t }}</div></a>
          <div class="cz-sidebar rounded-lg box-shadow-lg" id="shop-sidebar">
            <div class="cz-sidebar-header box-shadow-sm">
              <button class="close ml-auto" type="button" data-dismiss="sidebar" aria-label="Close"><span class="d-inline-block font-size-xs font-weight-normal align-middle">{{ 'general.accessibility.close_modal' | t }}</span><span class="d-inline-block align-middle ml-2" aria-hidden="true">&times;</span></button>
            </div>
            <div class="cz-sidebar-body" data-simplebar data-simplebar-auto-hide="true">
              <!-- Categories-->
              <div class="widget widget-categories mb-4 pb-4 {% if collection.products_count == 0 %} {% else %}border-bottom {% endif %}">
                <h3 class="widget-title">{{ 'collections.general.category_label' | t }}</h3>
                <div class="accordion mt-n1" id="shop-categories">
                 
                 {% comment %} 
                 Sidebar Components 
                 {% endcomment %}

                 {% render 'sidebar-collection', linklist: section.settings.main_linklist %}


                </div>

                
              </div>

              <!-- Vendors -->

              {% if collection.products_count == 0 %}

              {% else %}
              <div class="widget cz-filter mb-4 pb-4">
                <h3 class="widget-title">{{ 'collections.general.brands_label' | t }}</h3>
                {% comment %} <div class="input-group-overlay input-group-sm mb-2">
                  <input class="cz-filter-search form-control form-control-sm appended-form-control" type="text" placeholder="{{ 'layout.navigation.search' | t }}">
                  <div class="input-group-append-overlay">
                  <span class="input-group-text"><i class="czi-search"></i></span>
                  </div>
                </div> {% endcomment %}
                <ul class="widget-list cz-filter-list list-unstyled pt-1" style="height: 12rem;" data-simplebar data-simplebar-auto-hide="false">
                  {% if collection.url != blank %}
                  
                  {% for product_vendor in collection.all_vendors %}
                  <li class="widget-list-item cz-filter-item pl-3">
                    {% if current_tags contains product_vendor %}
                    <a class="widget-list-link d-flex justify-content-between align-items-center active" href="{{ collection.url }}">
                      <span class="cz-filter-item-text">{{product_vendor }}</span>
                      <span class="font-size-xs text-muted ml-3"></span>
                    {% else %}
                    <a class="widget-list-link d-flex justify-content-between align-items-center" href="{{ collection.url }}/{{ product_vendor | handle }}">
                      <span class="cz-filter-item-text">{{ product_vendor }}</span>
                      <span class="font-size-xs text-muted ml-3"></span>
                    {% endif %}
                  </a>
                  </li> 
                  {% endfor %}

                </ul>
                {% endif %}
              </div>

              {% endif %}


            </div>
          </div>
        </aside>
        <!-- Content  -->
        <section class="col-lg-8">
          <!-- Toolbar-->

          <div class="d-flex justify-content-center justify-content-sm-between align-items-center pt-lg-2 pb-4 pb-sm-5 mt-n2 mt-lg-0">
            {% if section.settings.sort_enable %}
            <div class="d-flex flex-wrap">
              <div class="form-inline flex-nowrap mr-3 mr-sm-4 pb-3">
              {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
                <label class="text-light opacity-75 text-nowrap mr-2 d-none d-sm-block" for="SortBy">{{ 'collections.sorting.title' | t }}</label>
                <select class="form-control custom-select" 
                        name="sort_by" 
                        id="SortBy"
                        data-default-sortby="{{ collection.default_sort_by }}">
                {%- for option in collection.sort_options -%}
                  {% unless option.value == 'created-ascending' or option.value=='created-descending' %}
                <option value="{{ option.value }}" {% if option.value == sort_by %}selected="selected"{% endif %}>{{ option.name }}</option>
                  {% endunless %}
                {%- endfor -%}

                </select><span class="font-size-sm text-light opacity-75 text-nowrap ml-2 d-none d-md-block">{{ 'collections.general.items_with_count' | t: count: collection.products_count }}</span>
              </div>
            </div>

            {% endif %}

            {%- assign limit = 12 -%}
            {% paginate collection.products by limit %}

            {%- if paginate.pages > 1 -%}
            <div class="d-flex pb-3">
              {% unless paginate.previous.is_link %}
              <a class="nav-link-style nav-link-light mr-3" href="#">
                <i class="czi-arrow-left"></i>
              </a>
              {% else %}
              <a class="nav-link-style nav-link-light mr-3" href="{{ paginate.previous.url }}">
                <i class="czi-arrow-left"></i>
              </a>
              {% endunless %}
              {% comment %} 
              Count the number of pages 
              {% endcomment %}
                <span class="font-size-md text-light">{{ 'general.pagination.current_page_collection_top' | t: current: paginate.current_page, total: paginate.pages }}</span>
              
              {% unless paginate.next.is_link %}
              <a class="nav-link-style nav-link-light ml-3"  href="#">
                <i class="czi-arrow-right"></i>
              </a>
              {% else %}
              <a class="nav-link-style nav-link-light ml-3"  href="{{ paginate.next.url }}">
                <i class="czi-arrow-right"></i>
              </a>
              {% endunless %}
            </div>
            {%- endif -%}



            {% comment %} 
            View mode List or Grid

            <div class="d-none d-sm-flex pb-3">
              <a class="btn btn-icon nav-link-style bg-light text-dark disabled opacity-100 mr-2" href="#">
                <i class="czi-view-grid"></i>
              </a>
              <a class="btn btn-icon nav-link-style nav-link-light" href="shop-list-ls.html">
                <i class="czi-view-list"></i>
              </a>
            </div> 
            
            {% endcomment %}
    
    </div>

          

          <!-- First 6 Products-->
          <div class="row mx-n2">
            <!-- Product-->


            {% comment %} 
            NO PRODUCT RESULT TEXT 
            {% endcomment %}

            {% if collection.products_count == 0 %}

              <h1 class="moka-font font-weight-bold">{{ 'collections.no-products.title' | t }}</h1>
              <p>{{ 'collections.no-products.description' | t }}</p>                          
            {% else %}

            {% for product in collection.products limit:6 %}
            {%- assign preview_image = product.featured_media.preview_image -%}
            {%- assign img_url = preview_image | img_url: 'x400' -%}

            <div class="col-md-4 col-sm-6 col-6 px-2 mb-4">
              <div class="card product-card">
                {% if product.compare_at_price != null and product.compare_at_price != product.price %}
                <span class="badge badge-danger badge-shadow">{{ 'collections.product-label.sale' | t }}</span>
                {% endif %}
                {% if product.tags contains "Novità" %}
                <span class="badge badge-danger badge-shadow" style="right: 0.75rem !important;left: auto !important;">{{ 'collections.product-label.novita' | t }}</span> 
                {% endif %}
                <a class="card-img-top d-block overflow-hidden" href="{{ product.url | within: collection }}"><img class="mx-auto d-block" src="{{ img_url }}" alt="{{ product.alt }}"></a>
                <div class="card-body py-2"><a class="product-meta d-block font-size-xs pb-1" href="#">{{ product.type }}</a>
                  <h3 class="product-title font-size-sm"><a href="{{ product.url | within: collection }}">{{ product.title }}</a></h3>
                  <a class="product-meta d-block font-size-xs pb-1" href="/collections/{{ product.vendor | handle }}">{{ 'products.product.vendor_proposition' | t }} {{ product.vendor }}</a>
                  <div class="d-flex justify-content-between">
                    <div class="product-price">
                    <span class="text-accent">{{ product.price | money }}</span>
                      {% if product.compare_at_price != null and product.compare_at_price != product.price %}
                      <del class="font-size-sm text-muted"> {{ product.compare_at_price | money }}</del>
                    {% endif %}                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}

            {% endif %}

          </div>

          <!-- Banner-->
          {% assign banner-counter = 0 %}
          {%- for block in section.blocks  -%}
            {% assign collection-block = block.settings.collection | handle %}

            {% if url_2 contains collection-block %}
              {% assign banner-counter = banner-counter | plus: 1 %}
              {% if banner-counter == 1 %}
              <div class="py-sm-2">
                <div class="d-sm-flex justify-content-between align-items-center bg-secondary overflow-hidden mb-4 rounded-lg">
                  <div class="py-4 my-2 my-md-0 py-md-5 px-4 ml-md-3 text-sm-left">
                    <h4 class="font-size-lg moka-font font-weight-light mb-2">{{ block.settings.text1 }}</h4>
                    <h3 class="mb-4 moka-font font-weight-bold">{{ block.settings.title1 }}</h3><a class="btn btn-primary btn-shadow btn-sm" href="{{ block.settings.button_link1 }}">{{ block.settings.button_label1 }}</a>
                  </div><img class="d-block ml-auto" src="{{ block.settings.image1 | img_url: '' }}" alt="{{ block.settings.image1.alt }}">
                </div>
              </div> 
              {% else %}

              {% endif %}

            {% endif %}

          {%- endfor -%}

          <!-- From 6th Products-->
          <div class="row mx-n2">
          {% for product in collection.products offset:6 %}
            {%- assign preview_image = product.featured_media.preview_image -%}
            {%- assign img_url = preview_image | img_url: 'x400' -%}
            <div class="col-md-4 col-sm-6 col-6 px-2 mb-4">
              <div class="card product-card">
                {% if product.compare_at_price != null and product.compare_at_price != product.price %}
                <span class="badge badge-danger badge-shadow">{{ 'collections.product-label.sale' | t }}</span>
                {% endif %}
                {% if product.tags contains "Novità" %}
                <span class="badge badge-danger badge-shadow" style="right: 0.75rem !important;left: auto !important;">{{ 'collections.product-label.novita' | t }}</span> 
                {% endif %}
                <a class="card-img-top d-block overflow-hidden" href="{{ product.url | within: collection }}"><img class="mx-auto d-block" src="{{ img_url }}" alt="{{ product.alt }}"></a>
                <div class="card-body py-2"><a class="product-meta d-block font-size-xs pb-1" href="#">{{ product.type }}</a>
                  <h3 class="product-title font-size-sm"><a href="{{ product.url | within: collection }}">{{ product.title }}</a></h3>
                  <a class="product-meta d-block font-size-xs pb-1" href="/collections/{{ product.vendor | handle }}">{{ 'products.product.vendor_proposition' | t }} {{ product.vendor }}</a>
                  <div class="d-flex justify-content-between">
                    <div class="product-price">
                    <span class="text-accent">{{ product.price | money }}</span>
                      {% if product.compare_at_price != null and product.compare_at_price != product.price %}
                      <del class="font-size-sm text-muted"> {{ product.compare_at_price | money }}</del>
                    {% endif %}                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>

          



          {% comment %} 
          TODO with Banner:
          1) Integrate banners Section with settings logic, Edit images or text - DONE
          2) We need to insert a Checkbox for showing or hide the components - DONE
          3) Study a way for customize the banners with Vendor Logic - DONE in SHOPIFY CMS
          4) Integrate Banner with blocks logic - DONE
          
          {% endcomment %}
          

          <!-- Pagination-->
          {%- if paginate.pages > 1 -%}
          <hr class="my-3">
          <nav class="d-flex justify-content-between pt-2" aria-label="Page navigation">
            <ul class="pagination">

              {% comment %} 
              <li class="page-item"><a class="page-link" href="{{ paginate.previous.url }}"><i class="czi-arrow-left mr-2"></i>{{ 'general.pagination.previous' | t }}</a></li> 
              {% endcomment %}

              <li class="page-item"><a class="page-link" href="{{ paginate.previous.url }}"><i class="czi-arrow-left mr-2"></i></a></li>
            
            </ul>
            <ul class="pagination">
              <li class="page-item d-sm-none"><span class="page-link page-link-static">{{ 'general.pagination.current_page_collection_top' | t: current: paginate.current_page, total: paginate.pages }}</span></li>
              
              {% assign total_page = 'general.pagination.total_page' | t: total: paginate.pages %}

              {% for p in (1..total_page) %}

              {% assign current_page = 'general.pagination.current_page' | t: current: paginate.current_page | plus:0 %}
              {% assign p_num = p | plus: 0 %}
              <li class="page-item {% if current_page == p_num %} active {% endif %} d-none d-sm-block" {% if current_page == p %} aria-current="page" {% endif %}><a class="page-link" href="{{ collection.url }}?page={{ p }}">{{ p }}</a></li>
              {% endfor %}
            </ul>
            <ul class="pagination">

              {% comment %} 
              <li class="page-item"><a class="page-link" href="{{ paginate.next.url }}" aria-label="Next">{{ 'general.pagination.next' | t }}<i class="czi-arrow-right ml-2"></i></a></li> 
              {% endcomment %}
              
              <li class="page-item"><a class="page-link" href="{{ paginate.next.url }}" aria-label="Next"><i class="czi-arrow-right ml-2"></i></a></li>

            </ul>
          </nav>
          {%- endif -%}
          
        </section>
      </div>
    </div>

</div>

{% endpaginate %}

{% endif %}


{% schema %}
{
  "name": {
    "da": "Kollektionssider",
    "de": "Kategorie-Seiten",
    "en": "Collection pages",
    "es": "Páginas de colección",
    "fi": "Kokoelman sivut",
    "fr": "Pages de collections",
    "hi": "कलेक्शन पेज",
    "it": "Pagine di collezioni",
    "ja": "コレクションページ",
    "ko": "컬렉션 페이지",
    "nb": "Samlingssider",
    "nl": "Collectiepagina's",
    "pt-BR": "Páginas de coleções",
    "pt-PT": "Páginas de coleções",
    "sv": "Produktseriesidor",
    "th": "หน้าคอลเลกชัน",
    "zh-CN": "产品系列页面",
    "zh-TW": "商品系列頁面"
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": {
        "da": "Vis produktleverandører",
        "de": "Produkt-Lieferanten anzeigen",
        "en": "Show product vendors",
        "es": "Mostrar proveedores del producto",
        "fi": "Näytä tuotteen myyjät",
        "fr": "Afficher les vendeurs",
        "hi": "उत्पाद विक्रेताओं को दिखाएं",
        "it": "Mostra fornitori prodotto",
        "ja": "商品の販売元を表示する",
        "ko": "제품 공급 업체 표시",
        "nb": "Vis produktleverandører",
        "nl": "Productleveranciers weergeven",
        "pt-BR": "Exibir fornecedores do produto",
        "pt-PT": "Mostrar fornecedores do produto",
        "sv": "Visa produktleverantörer",
        "th": "แสดงผู้ขายสินค้า",
        "zh-CN": "显示产品厂商",
        "zh-TW": "顯示產品廠商"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "sort_enable",
      "label": {
        "da": "Aktivér sortering",
        "de": "Sortieren erlauben",
        "en": "Enable sorting",
        "es": "Habilitar la función ordenar",
        "fi": "Ota lajittelu käyttöön",
        "fr": "Activer le tri",
        "hi": "क्रमबद्ध करना सक्षम करें",
        "it": "Permetti di ordinare",
        "ja": "並べ替えを有効にする",
        "ko": "정렬 사용",
        "nb": "Aktiver sortering",
        "nl": "Sortering inschakelen",
        "pt-BR": "Habilitar organização",
        "pt-PT": "Ativar ordenação",
        "sv": "Aktivera sortering",
        "th": "เปิดใช้งานการจัดเรียง",
        "zh-CN": "启用排序",
        "zh-TW": "啟用排序"
      },
      "default": true
    },
    {
      "type": "header",
      "content": "Sidebar Categories"
    },
    {
      "type": "link_list",
      "id": "main_linklist",
      "label": {
        "da": "Menu",
        "de": "Menü",
        "en": "Menu",
        "es": "Menú",
        "fi": "Valikko",
        "fr": "Menu",
        "hi": "मेनू",
        "it": "Menu",
        "ja": "メニュー",
        "ko": "메뉴",
        "nb": "Meny",
        "nl": "Menu",
        "pt-BR": "Menu",
        "pt-PT": "Menu",
        "sv": "Meny",
        "th": "เมนู",
        "zh-CN": "菜单",
        "zh-TW": "選單"
      },
      "default": "main-menu"
    }
  ],
    "blocks": [
    {
      "type": "image",
      "name": {
        "da": "Slide",
        "de": "Folie",
        "en": "Banner",
        "es": "Diapositiva",
        "fi": "Dia",
        "fr": "Diapositive",
        "hi": "स्लाइड",
        "it": "Scorrimento",
        "ja": "スライド",
        "ko": "슬라이드",
        "nb": "Lysbilde",
        "nl": "Dia",
        "pt-BR": "Slide",
        "pt-PT": "Diapositivo",
        "sv": "Bild",
        "th": "สไลด์",
        "zh-CN": "幻灯片",
        "zh-TW": "投影片"
      },
  "settings": [
    {
      "type": "header",
      "content": "Banner settings"
        },
                {
      "id": "collection",
      "type": "collection",
      "label": {
        "da": "Kollektion",
        "de": "Kategorie",
        "en": "Select Collection",
        "es": "Colección",
        "fi": "Kokoelma",
        "fr": "Collection",
        "hi": "कलेक्शन",
        "it": "Collezione",
        "ja": "コレクション",
        "ko": "컬렉션",
        "nb": "Samling",
        "nl": "Collectie",
        "pt-BR": "Coleção",
        "pt-PT": "Coleção",
        "sv": "Produktserie",
        "th": "คอลเลกชัน",
        "zh-CN": "收藏",
        "zh-TW": "商品系列"
      },
      "info": "Where do you wanna show the banner?"
    },
    {
    "type": "text",
    "id": "text1",
    "label": {
        "da": "Overskrift",
        "de": "Titel",
        "en": "Text",
        "es": "Título",
        "fi": "Otsake",
        "fr": "En-tête",
        "hi": "शीर्षक",
        "it": "Heading",
        "ja": "見出し",
        "ko": "제목",
        "nb": "Overskrift",
        "nl": "Kop",
        "pt-BR": "Título",
        "pt-PT": "Título",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "zh-CN": "标题",
        "zh-TW": "標題"
      },
      "default": {
        "da": "Billede med tekst",
        "de": "Foto mit Text",
        "en": "Image with products Mok Mok",
        "es": "Imagen con texto",
        "fi": "Kuva tekstillä",
        "fr": "Image avec texte",
        "hi": "टेक्स्ट वाली इमेज",
        "it": "Immagine con testo",
        "ja": "テキスト付き画像",
        "ko": "텍스트 포함 이미지",
        "nb": "Bilde med tekst",
        "nl": "Afbeelding met tekst",
        "pt-BR": "Imagem com texto",
        "pt-PT": "Imagem com texto",
        "sv": "Bild med text",
        "th": "รูปภาพพร้อมข้อความ",
        "zh-CN": "带文本的图片",
        "zh-TW": "附文字的圖片"
      }
    },
    {
      "type": "text",
      "id": "title1",
      "label": {
        "da": "Overskrift",
        "de": "Titel",
        "en": "Heading",
        "es": "Título",
        "fi": "Otsake",
        "fr": "En-tête",
        "hi": "शीर्षक",
        "it": "Heading",
        "ja": "見出し",
        "ko": "제목",
        "nb": "Overskrift",
        "nl": "Kop",
        "pt-BR": "Título",
        "pt-PT": "Título",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "zh-CN": "标题",
        "zh-TW": "標題"
      },
      "default": {
        "da": "Billede med tekst",
        "de": "Foto mit Text",
        "en": "Image with products Mok Mok",
        "es": "Imagen con texto",
        "fi": "Kuva tekstillä",
        "fr": "Image avec texte",
        "hi": "टेक्स्ट वाली इमेज",
        "it": "Immagine con testo",
        "ja": "テキスト付き画像",
        "ko": "텍스트 포함 이미지",
        "nb": "Bilde med tekst",
        "nl": "Afbeelding met tekst",
        "pt-BR": "Imagem com texto",
        "pt-PT": "Imagem com texto",
        "sv": "Bild med text",
        "th": "รูปภาพพร้อมข้อความ",
        "zh-CN": "带文本的图片",
        "zh-TW": "附文字的圖片"
      }
    },
    {
      "type": "text",
      "id": "button_label1",
      "label": {
        "da": "Knaptekst",
        "de": "Button-Etikett",
        "en": "Button label",
        "es": "Etiqueta de botón",
        "fi": "Tekstipainike",
        "fr": "Texte du bouton",
        "hi": "बटन लेबल",
        "it": "Etichetta pulsante",
        "ja": "ボタンのラベル",
        "ko": "버튼 레이블",
        "nb": "Knappetikett",
        "nl": "Knoplabel",
        "pt-BR": "Etiqueta de botão",
        "pt-PT": "Etiqueta do botão",
        "sv": "Knappetikett",
        "th": "ป้ายกำกับปุ่ม",
        "zh-CN": "按钮标签",
        "zh-TW": "按鈕標籤"
      }
    },
    {
      "type": "url",
      "id": "button_link1",
      "label": {
        "da": "Knaplink",
        "de": "Button-Link",
        "en": "Button link",
        "es": "Enlace de botón",
        "fi": "Painikelinkki",
        "fr": "Lien du bouton",
        "hi": "बटन लिंक",
        "it": "Link pulsante",
        "ja": "ボタンのリンク",
        "ko": "버튼 링크",
        "nb": "Kobling for knapp",
        "nl": "Knoplink",
        "pt-BR": "Link de botão",
        "pt-PT": "Ligação do botão",
        "sv": "Knapplänk",
        "th": "ลิงก์ปุ่ม",
        "zh-CN": "按钮链接",
        "zh-TW": "按鈕連結"
      }
    },
    {
        "type": "image_picker",
        "id": "image1",
        "label": {
          "da": "Billede",
          "de": "Foto",
          "en": "Image",
          "es": "Imagen",
          "fi": "Kuva",
          "fr": "Image",
          "hi": "इमेज",
          "it": "Immagine",
          "ja": "画像",
          "ko": "이미지",
          "nb": "Bilde",
          "nl": "Afbeelding",
          "pt-BR": "Imagem",
          "pt-PT": "Imagem",
          "sv": "Bild",
          "th": "รูปภาพ",
          "zh-CN": "图片",
          "zh-TW": "圖片"
        }
    }
  ]
    }
  ]
}
{% endschema %}
