<footer class="bg-dark pt-5">
  <div class="container">
    <div class="row pb-2">
      <div class="col-md-4 col-sm-6">
        <div class="widget widget-links widget-light pb-2 mb-4">
          <h3 class="widget-title text-light">{{ section.settings.menu_title_first }}</h3>
          <ul class="widget-list">
            {%- assign footer_linklist_menu_1 = section.settings.main_linklist_first -%}
              {%- for link in linklists[footer_linklist_menu_1].links -%}

                  <li class="widget-list-item">
                    <a class="widget-list-link" href="{{ link.url }}">
                      {{ link.title | escape }}
                    </a>
                  </li>

              {% comment %} 
              After 5 items, insert a <br> or class with class mt-3
              {% endcomment %}

              {% comment %} 
              After 8 items, insert a <br> or class with class mt-3
              {% endcomment %}
                    
              {%- endfor -%}
          </ul>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="widget widget-links widget-light pb-2 mb-4">
          <h3 class="widget-title text-light">{{ section.settings.menu_title_second }}</h3>
          <ul class="widget-list">
            {%- assign footer_linklist_menu_2 = section.settings.main_linklist_second -%}
              {%- for link in linklists[footer_linklist_menu_2].links -%}

                  <li class="widget-list-item">
                    <a class="widget-list-link" href="{{ link.url }}">
                      {{ link.title | escape }}
                    </a>
                  </li>
                  
              {%- endfor -%}
          </ul>
        </div>
        <div class="widget widget-links widget-light pb-2 mb-4">
          <h3 class="widget-title text-light">{{ section.settings.menu_title_third }}</h3>
          <ul class="widget-list">
            {%- assign footer_linklist_menu_3 = section.settings.main_linklist_third -%}
              {%- for link in linklists[footer_linklist_menu_3].links -%}

                  <li class="widget-list-item">
                    <a class="widget-list-link" href="{{ link.url }}">
                      {{ link.title | escape }}
                    </a>
                  </li>
                  
              {%- endfor -%}
          </ul>
        </div>
      </div>

      {% comment %}

      Newsletter Form.
      If you wanna use it, remamber to uncomment also the Schema settings below.

      <div class="col-md-4">
        <div class="widget pb-2 mb-4">
          <h3 class="widget-title text-light pb-1">{{ section.settings.newsletter_title }}</h3>
  


          <form class="validate" action="#" method="get" name="mc-embedded-subscribe-form" id="mc-embedded-subscribe-form">
            <div class="input-group input-group-overlay flex-nowrap">
              <div class="input-group-prepend-overlay"><span class="input-group-text text-muted font-size-base"><i class="czi-mail"></i></span></div>
              <input class="form-control prepended-form-control" type="email" name="EMAIL" id="mce-EMAIL" value="" placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}" required>
              <div class="input-group-append">
                <button class="btn btn-primary" type="submit" name="subscribe" id="mc-embedded-subscribe">{{ 'general.newsletter_form.submit' | t }}</button>
              </div>
            </div>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
              <input type="text" name="b_c7103e2c981361a6639545bd5_29ca296126" tabindex="-1">
            </div><small class="form-text text-light opacity-50" id="mc-helper">{{ 'general.newsletter_form.newsletter_email' | t }}</small>
            <div class="subscribe-status"></div>
          </form>

        </div>
      </div> 
      {% endcomment %}

    </div>
  </div>
  <div class="pt-5 bg-darker">
    <div class="container">
      {% comment %} <div class="row pb-3">
        <div class="col-md-3 col-sm-6 mb-4">
          <div class="media"><i class="czi-rocket text-primary" style="font-size: 2.25rem;"></i>
            <div class="media-body pl-3">
              <h6 class="font-size-base text-light mb-1">{{ 'layout.footer.title_1' | t }}</h6>
              <p class="mb-0 font-size-ms text-light opacity-50">{{ 'layout.footer.sub_title_1' | t }}</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
          <div class="media"><i class="czi-currency-exchange text-primary" style="font-size: 2.25rem;"></i>
            <div class="media-body pl-3">
              <h6 class="font-size-base text-light mb-1">{{ 'layout.footer.title_2' | t }}</h6>
              <p class="mb-0 font-size-ms text-light opacity-50">{{ 'layout.footer.sub_title_2' | t }}</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
          <div class="media"><i class="czi-support text-primary" style="font-size: 2.25rem;"></i>
            <div class="media-body pl-3">
              <h6 class="font-size-base text-light mb-1">{{ 'layout.footer.title_3' | t }}</h6>
              <p class="mb-0 font-size-ms text-light opacity-50">{{ 'layout.footer.sub_title_3' | t }}</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
          <div class="media"><i class="czi-card text-primary" style="font-size: 2.25rem;"></i>
            <div class="media-body pl-3">
              <h6 class="font-size-base text-light mb-1">{{ 'layout.footer.title_4' | t }}</h6>
              <p class="mb-0 font-size-ms text-light opacity-50">{{ 'layout.footer.sub_title_4' | t }}</p>
            </div>
          </div>
        </div>
      </div>
      <hr class="hr-light pb-4 mb-3">
      {% endcomment %}
      <div class="row pt-4 pb-2">
        <div class="col-md-6 text-md-left mb-4">
          <div class="text-nowrap mb-4">
            <a class="d-inline-block align-middle mt-n1 mr-3" href="./">
              {{ 'mokashop_white.svg' | asset_url | img_tag: 'Logo Mokashop', 'logo-desktop d-block' }}
            </a>

          </div>
          <div class="widget widget-links widget-light">
            <ul class="widget-list d-flex flex-wrap justify-content-center justify-content-md-start">
              {%- assign footer_linklist_menu_4 = section.settings.main_linklist_fourth -%}
                {%- for link in linklists[footer_linklist_menu_4].links -%}

                    <li class="widget-list-item mr-4">
                      <a class="widget-list-link" href="{{ link.url }}">
                        {{ link.title | escape }}
                      </a>
                    </li>
                    
                {%- endfor -%}
            </ul>
          </div>
        </div>
        <div class="col-md-6 text-md-right mb-4">
          {%- assign urls = canonical_url | remove: "https://" | split: "/" -%}
          <div class="topbar-text dropdown disable-autohide mb-4">
            <a class="topbar-link dropdown-toggle text-light language-picker-white" href="#" data-toggle="dropdown">
            {% if urls[1] == "en" %}
            {{ 'en.png' | asset_url | img_tag: 'English_Flag', 'mr-2 flag-size' }}Eng/{{ cart.currency.symbol }}</a>
            {% elsif urls[1] == "de" %}
            {{ 'de.png' | asset_url | img_tag: 'Deutsch_Flag', 'mr-2 flag-size' }}Deu/{{ cart.currency.symbol }}</a>
            {% elsif urls[1] == "fr" %}
            {{ 'fr.png' | asset_url | img_tag: 'Français_Flag', 'mr-2 flag-size' }}Fra/{{ cart.currency.symbol }}</a>
            {% else%}
            {{ 'it.png' | asset_url | img_tag: 'Italian_Flag', 'mr-2 flag-size' }}Ita/{{ cart.currency.symbol }}</a>
            {% endif %}
            {% comment %} <img class="mr-2" width="20" src="{{ 'en.png' | asset_url | img_tag: shop.name }}" alt="English"/>Eng / $</a> {% endcomment %}
              <ul class="dropdown-menu dropdown-menu-right">
                {% form 'currency', id: "currency_form_footer" %}
                <li class="dropdown-item">
                  <select name="currency" class="custom-select custom-select-sm">
                    {% for currency in shop.enabled_currencies %}
                      {% if currency == cart.currency %}
                        <option selected="true">{{currency.iso_code}}</option>
                        {% else %}
                        <option>{{currency.iso_code}}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                </li>
                {% endform %}

                {%- assign unique_url = request.path -%}

                {% if unique_url contains '/en/' %}
                {%- assign unique_url = unique_url | remove: '/en'  -%}
                {% elsif unique_url contains '/fr/' %}
                {%- assign unique_url = unique_url | remove: '/fr'  -%}
                {% elsif unique_url contains '/de/' %}
                {%- assign unique_url = unique_url | remove: '/de'  -%}
                {% else %}
                {%- assign unique_url = unique_url -%}
                {% endif %}

                {%- assign unique_url_splitted = unique_url | split: "/" -%}

                {% if template != 'index' %}

                <li><a class="dropdown-item pb-1" href="/en{{ unique_url }}">
                {{ 'en.png' | asset_url | img_tag: 'English_Flag', 'mr-2 flag-size' }}English</a></li>
                <li><a class="dropdown-item pb-1" href="/fr{{ unique_url }}">
                {{ 'fr.png' | asset_url | img_tag: 'Français_Flag', 'mr-2 flag-size' }}Français</a></li>
                <li><a class="dropdown-item pb-1" href="/de{{ unique_url }}">
                {{ 'de.png' | asset_url | img_tag: 'Deutsch_Flag', 'mr-2 flag-size' }}Deutsch</a></li>
                <li><a class="dropdown-item" href="{{ unique_url }}">
                {{ 'it.png' | asset_url | img_tag: 'Italian_Flag', 'mr-2 flag-size' }}Italiano</a></li>
              
                {% else %}

                <li><a class="dropdown-item pb-1" href="/en">
                {{ 'en.png' | asset_url | img_tag: 'English_Flag', 'mr-2 flag-size' }}English</a></li>
                <li><a class="dropdown-item pb-1" href="/fr">
                {{ 'fr.png' | asset_url | img_tag: 'Français_Flag', 'mr-2 flag-size' }}Français</a></li>
                <li><a class="dropdown-item pb-1" href="/de">
                {{ 'de.png' | asset_url | img_tag: 'Deutsch_Flag', 'mr-2 flag-size' }}Deutsch</a></li>
                <li><a class="dropdown-item" href="/">
                {{ 'it.png' | asset_url | img_tag: 'Italian_Flag', 'mr-2 flag-size' }}Italiano</a></li>

                {% endif %}

              </ul>
            </div>
          <!-- <div class="topbar-text dropdown disable-autohide mb-4">
            <a class="topbar-link dropdown-toggle text-light language-picker-white" href="#" data-toggle="dropdown">
              {{ 'en.png' | asset_url | img_tag: 'English_Flag', 'mr-2 flag-size' }}Eng / $
            </a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li class="dropdown-item">
                  <select class="custom-select custom-select-sm ">
                    <option value="usd">$ USD</option>
                    <option value="eur">€ EUR</option>
                    <option value="ukp">£ UKP</option>
                    <option value="jpy">¥ JPY</option>
                  </select>
                </li>
                <li><a class="dropdown-item pb-1" href="#">
                {{ 'fr.png' | asset_url | img_tag: 'Français_Flag', 'mr-2 flag-size' }}Français</a></li>
                <li><a class="dropdown-item pb-1" href="#">
                {{ 'de.png' | asset_url | img_tag: 'Deutsch_Flag', 'mr-2 flag-size' }}Deutsch</a></li>
                <li><a class="dropdown-item" href="#">
                {{ 'it.png' | asset_url | img_tag: 'Italian_Flag', 'mr-2 flag-size' }}Italiano</a></li>
              </ul>
            </div> -->
            {%- if section.settings.show_payment_icons -%}
              <ul class="payment-icons list--inline site-footer__icon-list pl-md-5 pb-5 mx-auto">
                {% assign item-counter = 1 %}
                {% assign total_payments = shop.enabled_payment_types | size %}
                {%- for type in shop.enabled_payment_types -%}
                  <li class="payment-icon {% if item-counter != total_payments %} pr-2 {% endif %}">
                    {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                  </li>
                {% assign item-counter = item-counter | plus: 1 %}
                {%- endfor -%}
              </ul>
            {% endif %}

        </div>
      </div>
      <div class="pb-4 font-size-xs text-light opacity-50 text-md-left">© Credits: <a class="text-light" href="https://www.ander.group/" target="_blank">Ander Group</a></div>
    </div>
  </div>
</footer>



{% schema %}
{
  "name": {
    "da": "Sidefod",
    "de": "Fußzeile",
    "en": "Footer",
    "es": "Pie de página",
    "fi": "Alatunniste",
    "fr": "Pied de page",
    "hi": "फुटर",
    "it": "Footer",
    "ja": "フッター",
    "ko": "바닥글",
    "nb": "Footer",
    "nl": "Voettekst",
    "pt-BR": "Rodapé",
    "pt-PT": "Rodapé",
    "sv": "Sidfot",
    "th": "ส่วนท้าย",
    "zh-CN": "页脚",
    "zh-TW": "頁尾"
  },
  "settings": [
    // Payment Methods
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": {
        "da": "Vis betalingsikoner",
        "de": "Zahlungs-Buttons anzeigen",
        "en": "Show payment icons",
        "es": "Mostrar iconos de pago",
        "fi": "Näytä maksukuvakkeet",
        "fr": "Afficher les icônes de paiement",
        "hi": "भुगतान आइकन दिखाएं",
        "it": "Mostra le icone di pagamento",
        "ja": "支払いアイコンを表示する",
        "ko": "결제 아이콘 표시",
        "nb": "Vis betalingsikoner",
        "nl": "Betalingspictogrammen weergeven",
        "pt-BR": "Exibir ícones de pagamento",
        "pt-PT": "Mostrar ícones de pagamento",
        "sv": "Visa betalningsikoner",
        "th": "แสดงไอคอนการชำระเงิน",
        "zh-CN": "显示付款图标",
        "zh-TW": "顯示付款圖示"
      },
      "default": false
    },
    {
      "type": "header",
      "content": {
        "da": "Sprogvælger",
        "de": "Sprachauswahl",
        "en": "Language Selector",
        "es": "Selector de idioma",
        "fi": "Kielenvalitsin",
        "fr": "Sélecteur de langue",
        "hi": "भाषा चयनकर्ता",
        "it": "Selettore lingua",
        "ja": "言語セレクター",
        "ko": "언어 선택기",
        "nb": "Språkvelger",
        "nl": "Taalkiezer",
        "pt-BR": "Seletor de idiomas",
        "pt-PT": "Seletor de Idioma",
        "sv": "Språkväljare",
        "th": "ตัวเลือกภาษา",
        "zh-CN": "语言选择器",
        "zh-TW": "語言選擇器"
      },
      "info": {
        "da": "Du kan tilføje et sprog ved at gå til dine [sprogindstillinger.](/admin/settings/languages)",
        "de": "Gehen Sie zu Ihren [Spracheinstellungen](/admin/settings/languages), um eine Sprache hinzuzufügen.",
        "en": "To add a language, go to your [language settings.](/admin/settings/languages)",
        "es": "Para agregar un idioma, ve a tu[configuración de idioma](/admin/settings/languages)",
        "fi": "Lisää kieli siirtymällä [kieliasetuksiin.](/admin/settings/languages)",
        "fr": "Pour ajouter une langue, allez dans vos [paramètres de langue.](/admin/settings/languages).",
        "hi": "भाषा जोड़ने के लिए, अपने [language settings.](/admin/settings/languages) पर जाएं",
        "it": "Per aggiungere una lingua, vai su [impostazioni della lingua.](/admin/settings/languages)",
        "ja": "言語を追加するには、[言語設定](/admin/settings/languages) に移動します。",
        "ko": "언어를 추가하려면 [언어 설정.](/admin/settings/languages)(으)로 이동하십시오.",
        "nb": "For å legge til et språk, går du til dine [språkinnstillinger.](/admin/settings/languages)",
        "nl": "Ga naar uw [taalinstellingen.](/admin/settings/languages) om een taal toe te voegen.",
        "pt-BR": "Para adicionar um idioma, acesse suas [configurações de idioma. ](/admin/settings/languages)",
        "pt-PT": "Para adicionar um idioma, aceda a [definições de idioma.](/admin/settings/languages)",
        "sv": "För att lägga till ett språk, gå till dina [språkinställningar.](/admin/settings/languages)",
        "th": "หากต้องการเพิ่มภาษา ให้ไปที่ [การตั้งค่าภาษา ](/admin/settings/languages) ของคุณ",
        "zh-CN": "若要添加语言，请转到您的 [语言设置。](/admin/settings/languages)",
        "zh-TW": "若要新增語言，請前往 [語言設定。](/admin/settings/languages)"
      }
    },
    {
      "type": "checkbox",
      "id": "show_locale_selector",
      "label": {
        "da": "Vis sprogvælger",
        "de": "Sprachauswahl anzeigen",
        "en": "Show language selector",
        "es": "Mostrar el selector de idioma",
        "fi": "Näytä kielenvalitsin",
        "fr": "Afficher le sélecteur de langue",
        "hi": "मात्रा चयनकर्ता दिखाएं",
        "it": "Mostra selettore lingua",
        "ja": "言語セレクターを表示する",
        "ko": "언어 선택기 표시",
        "nb": "Vis språkvelger",
        "nl": "Taalkiezer weergeven",
        "pt-BR": "Mostrar seletor de idioma",
        "pt-PT": "Mostrar seletor de idioma",
        "sv": "Visa språkväljare",
        "th": "แสดงตัวเลือกภาษา",
        "zh-CN": "显示语言选择器",
        "zh-TW": "顯示語言選擇器"
      },
      "default": true
    },
    // First Menù
    {
      "type": "header",
      "content": "Select first menù"
    },
    {
      "type": "text",
      "id": "menu_title_first",
      "label": "Title menù"
    },
    {
      "type": "link_list",
      "id": "main_linklist_first",
      "label": {
        "da": "Menu",
        "de": "Menü",
        "en": "Menu",
        "es": "Menú",
        "fi": "Valikko",
        "fr": "Menu",
        "hi": "मेनू",
        "it": "Menu",
        "ja": "メニュー",
        "ko": "메뉴",
        "nb": "Meny",
        "nl": "Menu",
        "pt-BR": "Menu",
        "pt-PT": "Menu",
        "sv": "Meny",
        "th": "เมนู",
        "zh-CN": "菜单",
        "zh-TW": "選單"
      },
      "default": "footer"
    },
    // Second Menù
    {
      "type": "header",
      "content": "Select second menù"
    },
    {
      "type": "text",
      "id": "menu_title_second",
      "label": "Title menù"
    },
    {
      "type": "link_list",
      "id": "main_linklist_second",
      "label": {
        "da": "Menu",
        "de": "Menü",
        "en": "Menu",
        "es": "Menú",
        "fi": "Valikko",
        "fr": "Menu",
        "hi": "मेनू",
        "it": "Menu",
        "ja": "メニュー",
        "ko": "메뉴",
        "nb": "Meny",
        "nl": "Menu",
        "pt-BR": "Menu",
        "pt-PT": "Menu",
        "sv": "Meny",
        "th": "เมนู",
        "zh-CN": "菜单",
        "zh-TW": "選單"
      },
      "default": "footer"
    },
    // Third Menù
    {
      "type": "header",
      "content": "Select third menù"
    },
    {
      "type": "text",
      "id": "menu_title_third",
      "label": "Title menù"
    },
    {
      "type": "link_list",
      "id": "main_linklist_third",
      "label": {
        "da": "Menu",
        "de": "Menü",
        "en": "Menu",
        "es": "Menú",
        "fi": "Valikko",
        "fr": "Menu",
        "hi": "मेनू",
        "it": "Menu",
        "ja": "メニュー",
        "ko": "메뉴",
        "nb": "Meny",
        "nl": "Menu",
        "pt-BR": "Menu",
        "pt-PT": "Menu",
        "sv": "Meny",
        "th": "เมนู",
        "zh-CN": "菜单",
        "zh-TW": "選單"
      },
      "default": "footer"
    },

    //  Newsletter form title
    // {
    //   "type": "header",
    //   "content": "Newsletter Title"
    // },
    // {
    //   "type": "text",
    //   "id": "newsletter_title",
    //   "label": "Newsletter"
    // },

    // Fourth Menù
    {
      "type": "header",
      "content": "Select menù under logo"
    },
    {
      "type": "link_list",
      "id": "main_linklist_fourth",
      "label": {
        "da": "Menu",
        "de": "Menü",
        "en": "Menu",
        "es": "Menú",
        "fi": "Valikko",
        "fr": "Menu",
        "hi": "मेनू",
        "it": "Menu",
        "ja": "メニュー",
        "ko": "메뉴",
        "nb": "Meny",
        "nl": "Menu",
        "pt-BR": "Menu",
        "pt-PT": "Menu",
        "sv": "Meny",
        "th": "เมนู",
        "zh-CN": "菜单",
        "zh-TW": "選單"
      },
      "default": "footer"
    }
  ]
} 
{% endschema %}
