    <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <ul class="nav nav-tabs card-header-tabs" role="tablist">

              <li class="nav-item">
                <a class="nav-link active" href="#signin-tab" data-toggle="tab" role="tab" aria-selected="true">
                  <i class="czi-unlocked mr-2 mt-n1"></i>
                  {{ 'customer.login.sign_in' | t }}
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#signup-tab" data-toggle="tab" role="tab" aria-selected="false">
                  <i class="czi-user mr-2 mt-n1"></i>
                  {{ 'customer.login.sign_up' | t }}
                </a>
              </li>

              <li class="nav-item" style="display:none;">
                <a class="nav-link" id="recovery" href="#recovery-tab" data-toggle="tab" role="tab" aria-selected="false">
                  <i class="czi-key mr-2 mt-n1"></i>
                </a>
              </li>

            </ul>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body tab-content py-4">

            <form method="post" action="{{ routes.account_login_url }}" class="needs-validation tab-pane fade show active" accept-charset="UTF-8" novalidate="novalidate" autocomplete="off" id="signin-tab">

              <input type="hidden" name="checkout_url" id="redirect-login" value="" />

              <div class="form-group">
                <label for="si-email">{{ 'customer.login.email' | t }}</label>
                <input 
                  class="form-control"
                  name="customer[email]" 
                  type="email" 
                  autocorrect="off"
                  autocapitalize="off"
                  id="si-email CustomerEmail" 
                  placeholder="example@mail.com" 
                  required>
                <div class="invalid-feedback">{{ 'customer.login.error_email' | t }}</div>
              </div>
              <div class="form-group">
                <label for="si-password">{{ 'customer.login.password' | t }}</label>
                <div class="password-toggle">
                  <input 
                    class="form-control" 
                    placeholder="{{ 'customer.login.password' | t }}"
                    value=""
                    name="customer[password]"
                    type="password" 
                    id="si-password CustomerPassword"
                    autocomplete="off"
                    required>
                  <label class="password-toggle-btn">
                    <input class="custom-control-input" type="checkbox"><i class="czi-eye password-toggle-indicator"></i><span class="sr-only">Show password</span>
                  </label>
                </div>
              </div>
              <div class="form-group d-flex flex-wrap justify-content-between">
                <div class="custom-control custom-checkbox mb-2">
                  <!-- Remember me function -->
                  <!-- <input class="custom-control-input" type="checkbox" id="si-remember">
                  <label class="custom-control-label" for="si-remember">Remember me</label> -->
                </div><a class="font-size-sm pointer" onclick="recoveryTab()" >{{ 'customer.login.forgot_password' | t }}</a>
              </div>
              <button class="btn btn-primary btn-block btn-shadow" type="submit" value="{{ 'customer.login.sign_in' | t }}">{{ 'customer.login.sign_in' | t }}</button>
            </form>

            {%- assign url = canonical_url | remove: shop.url | split: "/"  -%}

            <!-- Recovery Password -->
            {% if url[1] contains 'en' %}
            <form method="post" action="/{{ url[1] }}/account/recover" class="needs-validation tab-pane fade" accept-charset="UTF-8" novalidate="novalidate" autocomplete="off" id="recovery-tab">
            {% elsif url[1] contains 'fr' %}
            <form method="post" action="/{{ url[1] }}/account/recover" class="needs-validation tab-pane fade" accept-charset="UTF-8" novalidate="novalidate" autocomplete="off" id="recovery-tab">
            {% elsif url[1] contains 'de' %}
            <form method="post" action="/{{ url[1] }}/account/recover" class="needs-validation tab-pane fade" accept-charset="UTF-8" novalidate="novalidate" autocomplete="off" id="recovery-tab">
            {% else %}
            <form method="post" action="/account/recover" class="needs-validation tab-pane fade" accept-charset="UTF-8" novalidate="novalidate" autocomplete="off" id="recovery-tab">
            {% endif %}

              <h2>{{ 'customer.reset_password.title' | t }}</h2>
              <div class="form-group">
                <label for="si-email">{{ 'customer.login.email' | t }}</label>
                <input 
                  value=""
                  class="form-control input-full{% if form.errors? %} input--error{% endif %}"
                  name="email" 
                  type="email" 
                  autocorrect="off"
                  autocapitalize="off"
                  id="si-email RecoverEmail" 
                  placeholder="example@mail.com" 
                  required
                  {% if form.errors %}
                  aria-invalid="true"
                  aria-describedby="RecoverEmail-email-error"
                {%- endif -%}
                  >
                <div class="invalid-feedback">{{ 'customer.login.error_email' | t }}</div>
              </div>
              <button class="btn btn-primary btn-block btn-shadow" type="submit"  value="{{ 'customer.recover_password.submit' | t }}">{{ 'customer.recover_password.submit' | t }}</button>
            </form>

            <form method="post" action="{{ routes.account_url }}" class="needs-validation tab-pane fade" id="signup-tab" accept-charset="UTF-8" novalidate="novalidate" autocomplete="off">

            <input type="hidden" name="checkout_url" id="redirect-register" value="" />
            
              
              <div class="form-group">
                <label for="su-name">{{ 'customer.register.first_name' | t }}</label>
                <input 
                  class="form-control" 
                  type="text" 
                  name="customer[first_name]" 
                  id="su-name" 
                  placeholder="Mario"
                  autocomplete="given-name"
                  required> 
                <div class="invalid-feedback">{{ 'customer.login.error_name' | t }}</div>
              </div>

              <div class="form-group">
                <label for="su-last-name">{{ 'customer.register.last_name' | t }}</label>
                <input 
                  class="form-control" 
                  type="text" 
                  name="customer[last_name]" 
                  id="su-last-name" 
                  placeholder="Rossi" 
                  autocomplete="family-name"
                  required>
                <div class="invalid-feedback">{{ 'customer.login.error_last_name' | t }}</div>
              </div>

              <div class="form-group">
                <label for="su-email">{{ 'customer.register.email' | t }}</label>
                <input 
                  class="form-control" 
                  type="email" 
                  id="su-email" 
                  placeholder="example@mail.com" 
                  name="customer[email]"
                  autocorrect="off"
                  autocapitalize="off"
                  autocomplete="email"
                  required>
                <div class="invalid-feedback">{{ 'customer.login.error_email' | t }}</div>
              </div>
              <div class="form-group">
                <label for="su-password">{{ 'customer.register.password' | t }}</label>
                <div class="password-toggle">
                  <input class="form-control" 
                        type="password" 
                        id="su-password" 
                        name="customer[password]"
                        autocomplete="off"
                        required>
                  <label class="password-toggle-btn">
                    <input class="custom-control-input" type="checkbox"><i class="czi-eye password-toggle-indicator"></i><span class="sr-only">{{ 'customer.login.show_password' | t }}</span>
                  </label>
                </div>
              </div>
              <button class="btn btn-primary btn-block btn-shadow" type="submit" value="{{ 'customer.register.submit' | t }}">{{ 'customer.register.submit' | t }}</button>
            </form>


          </div>
        </div>
      </div>
    </div>

<header class="mok-header box-shadow-sm">
      <!-- Topbar-->
      <div class="topbar topbar-dark bg-dark">
        <div class="container">
          <div class="topbar-text d-md-none">
            <span class="text-muted mr-1 pointer" onclick="window.location.href='{{ section.settings.help_link }}'">{{ section.settings.help_text }}</span>
          </div>
          <div class="topbar-text text-nowrap d-none d-md-inline-block">
          <span class="text-muted mr-1 pointer" onclick="window.location.href='{{ section.settings.help_link }}'">{{ section.settings.help_text }}</span>
          </div>
          <div class="cz-carousel cz-controls-static d-none d-md-block">
          <div class="cz-carousel-inner" data-carousel-options="{&quot;mode&quot;: &quot;gallery&quot;, &quot;nav&quot;: false}">
        <div data-section-type="header-section" data-header-section>
          {% if section.settings.message %}              
              {% if section.settings.message_link == blank %}
                <div class="topbar-text">
              {% else %}
                <a href="{{ section.settings.message_link }}">
              {% endif %}
                <div class="topbar-text">{{ section.settings.message_text | escape }}</div>
              {% if section.settings.message_link == blank %}
                </div>
              {% else %}
                </a>
              {% endif %}

          {% endif %}
          </div>
          </div>
          </div>
                    
          {%- assign urls = canonical_url | remove: "https://" | split: "/" -%}

          <div class="ml-3 text-nowrap">
            <div class="topbar-text dropdown disable-autohide">
            <a class="topbar-link dropdown-toggle" href="#" data-toggle="dropdown">
            {% if urls[1] == "en" %}
            {{ 'en.png' | asset_url | img_tag: 'English_Flag', 'mr-2 flag-size' }}Eng/{{ cart.currency.symbol }}</a>
            {% elsif urls[1] == "de" %}
            {{ 'de.png' | asset_url | img_tag: 'Deutsch_Flag', 'mr-2 flag-size' }}Deu/{{ cart.currency.symbol }}</a>
            {% elsif urls[1] == "fr" %}
            {{ 'fr.png' | asset_url | img_tag: 'Français_Flag', 'mr-2 flag-size' }}Fra/{{ cart.currency.symbol }}</a>
            {% else%}
            {{ 'it.png' | asset_url | img_tag: 'Italian_Flag', 'mr-2 flag-size' }}Ita/{{ cart.currency.symbol }}</a>
            {% endif %}
              <ul class="dropdown-menu dropdown-menu-right">
                {% form 'currency' %}
                <li class="dropdown-item">
                  <select name="currency" class="custom-select custom-select-sm">
                    {% for currency in shop.enabled_currencies %}
                      {% if currency == cart.currency %}
                        <option selected="true">{{currency.iso_code}}</option>
                        {% else %}
                        <option>{{currency.iso_code}}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                </li>
                {% endform %}

                {%- assign unique_url = request.path -%}

                {% if unique_url contains '/en/' %}
                {%- assign unique_url = unique_url | remove: '/en'  -%}
                {% elsif unique_url contains '/fr/' %}
                {%- assign unique_url = unique_url | remove: '/fr'  -%}
                {% elsif unique_url contains '/de/' %}
                {%- assign unique_url = unique_url | remove: '/de'  -%}
                {% else %}
                {%- assign unique_url = unique_url -%}
                {% endif %}
                
                {%- assign unique_url_splitted = unique_url | split: "/" -%}

                {% if template != 'index' %}

                <li><a class="dropdown-item pb-1" href="/en{{ unique_url }}">
                {{ 'en.png' | asset_url | img_tag: 'English_Flag', 'mr-2 flag-size' }}English</a></li>
                <li><a class="dropdown-item pb-1" href="/fr{{ unique_url }}">
                {{ 'fr.png' | asset_url | img_tag: 'Français_Flag', 'mr-2 flag-size' }}Français</a></li>
                <li><a class="dropdown-item pb-1" href="/de{{ unique_url }}">
                {{ 'de.png' | asset_url | img_tag: 'Deutsch_Flag', 'mr-2 flag-size' }}Deutsch</a></li>
                <li><a class="dropdown-item" href="{{ unique_url }}">
                {{ 'it.png' | asset_url | img_tag: 'Italian_Flag', 'mr-2 flag-size' }}Italiano</a></li>

                {% else %}

                <li><a class="dropdown-item pb-1" href="/en">
                  {{ 'en.png' | asset_url | img_tag: 'English_Flag', 'mr-2 flag-size' }}English</a></li>
                  <li><a class="dropdown-item pb-1" href="/fr">
                  {{ 'fr.png' | asset_url | img_tag: 'Français_Flag', 'mr-2 flag-size' }}Français</a></li>
                  <li><a class="dropdown-item pb-1" href="/de">
                  {{ 'de.png' | asset_url | img_tag: 'Deutsch_Flag', 'mr-2 flag-size' }}Deutsch</a></li>
                  <li><a class="dropdown-item" href="/">
                  {{ 'it.png' | asset_url | img_tag: 'Italian_Flag', 'mr-2 flag-size' }}Italiano</a></li>

                {% endif %}

              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page.-->
      <div class="navbar-sticky bg-light">
        <div class="navbar navbar-expand-lg navbar-light">
          <div class="container">
            <!-- Desktop Logo -->
            <a class="navbar-brand d-none d-lg-block mr-3 flex-shrink-0" href="/" style="min-width: 7rem;">
              {{ 'mokashop_black.svg' | asset_url | img_tag: 'Logo Mokashop', 'logo-desktop' }}
            </a>
            <!-- Mobile Logo -->
            <a class="navbar-brand d-lg-none mr-2" href="/" style="min-width: 2.125rem;">
              {{ 'mokashop_black.svg' | asset_url | img_tag: 'Logo Mokashop', 'logo-mobile' }}
            </a>

            <!-- Desktop Search -->

          {% render 'search-mok-desktop' %}  
          
                      

            <div class="navbar-toolbar d-flex flex-shrink-0 align-items-center">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse3">
                <span class="navbar-toggler-icon"></span>
              </button>
              <a class="navbar-tool navbar-stuck-toggler ml-1 mr-2" href="#navbarCollapse3">
                <div class="navbar-tool-icon-box">
                <i class="navbar-tool-icon czi-menu"></i>
                </div>
                <div class="navbar-tool-text ml-n3">Menu</div>
              </a>

                <!-- My Account -->
                {% if shop.customer_accounts_enabled %}
                  {% if customer  %}
                  <a class="navbar-tool ml-1 ml-lg-0 mr-n1 mr-lg-2" href="{{ routes.account_url }}">
                    <div class="navbar-tool-icon-box">
                      <i class="navbar-tool-icon czi-user"></i>
                    </div>
                    <div class="navbar-tool-text ml-n2">

                      {% if customer.addresses == blank %}
                          
                        <small>{{ 'customer.account.hello' | t }}, {{ customer.first_name }}</small>{{ 'layout.customer.account' | t }}</div>

                      {% else %}

                          {% for address in customer.addresses %}
                            {% if forloop.first == true %}
                            <small>{{ 'customer.account.hello' | t }}, {{ address.first_name }}</small>{{ 'layout.customer.account' | t }}</div>
                            {% endif %}
                          {% endfor %}
                          
                      {% endif %}

                    </a>
                  {% else %}
                <a class="navbar-tool ml-1 ml-lg-0 mr-n1 mr-lg-2" href="#signin-modal" data-toggle="modal">
                  <div class="navbar-tool-icon-box">
                    <i class="navbar-tool-icon czi-user"></i>
                  </div>
                  <div class="navbar-tool-text ml-n2">
                    <small>{{ 'customer.account.hello' | t }}, {{ 'customer.login.sign_in_low' | t }}</small>{{ 'layout.customer.account' | t }}</div>
                  </a>
                  {% endif %}
                {% endif %}

                <!-- Cart Components -->
                {% render 'cart-components-mok' %} 

              </div>

            </div>
          </div>

        
        <div class="navbar navbar-expand-lg navbar-light navbar-stuck-menu mt-n2 pt-0 pb-2">
          <div class="container">
            <div class="collapse navbar-collapse" id="navbarCollapse3">
              <!-- Primary menu-->
              
              {% render 'site-nav-mok', linklist: section.settings.main_linklist %}
              {% render 'search-mok-mobile', linklist: section.settings.main_linklist %}              
              
            </div>
          </div>
        </div>
      </div>
      </div>

    <script>

      function searchForm() {
        var screenWidth = window.innerWidth;
        var formDesktop = document.getElementById("desktop-form");
        var formMobile = document.getElementById("mobile-form");

        if (screenWidth > 990) {
          formMobile.remove()
        }
        else{
          formDesktop.remove()
        }
      }

      // Redirect function after Login
      function whereAmIlogin() {
        document.getElementById("redirect-login").value = window.location.pathname;
      }

      // Redirect function after Sign Up
      function whereAmIregister() {
        document.getElementById("redirect-register").value = window.location.pathname;
      }

      // Change tab to recovery
      function recoveryTab() {
        document.getElementById("recovery").click();
      }

      // Run the functions
      whereAmIlogin();
      whereAmIregister();
      searchForm();

      // Manage the resize of the window

      // function resize() {
      //   var heightResize = window.innerHeight;
      //   var widthResize = window.innerWidth;
      // }

      // function displayWindowSize(){
      // Get width and height of the window excluding scrollbars
      // var widthAcutalSize = document.documentElement.clientWidth;
      // var heightActualSize = document.documentElement.clientHeight;
      // console.log("width " + widthAcutalSize , ", height " + heightActualSize);          
      // }

      // function refreshPage {
      //   var home = window.location.protocol + "//" + window.location.host + window.location.pathname;
      //   window.location.replace(home);
      // }

      // Checker window Size

      // function checkSize {
      //   if (widthAcutalSize > 990) {
      //     refreshPage();
      //   }
      //   if (widthAcutalSize < 990 ) {
      //     refreshPage();
      //   }
      // }

      // Attaching the event listener function to window's resize event
      // window.addEventListener("resize", displayWindowSize);
      
      // Calling the function for the first time
      // displayWindowSize();

    </script>
          
</header>





  {% assign potential_action_target = shop.url | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ shop.url | append: page.url | json }}
    }
  </script>

{% schema %}
{
  "name": {
    "da": "Overskrift",
    "de": "Titel",
    "en": "Header",
    "es": "Encabezado",
    "fi": "Ylätunniste",
    "fr": "En-tête",
    "hi": "हैडर",
    "it": "Header",
    "ja": "ヘッダー",
    "ko": "머리글",
    "nb": "Header",
    "nl": "Koptekst",
    "pt-BR": "Cabeçalho",
    "pt-PT": "Cabeçalho",
    "sv": "Rubrik",
    "th": "ส่วนหัว",
    "zh-CN": "标头",
    "zh-TW": "標頭"
  },
  "settings": [
    // Help Message
    {
      "type": "header",
      "content": "Help message settings"
    },
    {
      "type": "text",
      "id": "help_text",
      "label": "Help text"
    },
    {
      "type": "url",
      "id": "help_link",
      "label": "Help Link",
      "info": "Link the page help here"
    },
    // Search Placeholder
    {
      "type": "header",
      "content": "Search Placeholder"
    },
    {
      "type": "text",
      "id": "search_text",
      "label": "Search text"
    },

    // Menu Settings
    {
      "type": "header",
      "content": "Menù settings"
    },
    {
      "type": "link_list",
      "id": "main_linklist",
      "label": {
        "da": "Menu",
        "de": "Menü",
        "en": "Menu",
        "es": "Menú",
        "fi": "Valikko",
        "fr": "Menu",
        "hi": "मेनू",
        "it": "Menu",
        "ja": "メニュー",
        "ko": "메뉴",
        "nb": "Meny",
        "nl": "Menu",
        "pt-BR": "Menu",
        "pt-PT": "Menu",
        "sv": "Meny",
        "th": "เมนู",
        "zh-CN": "菜单",
        "zh-TW": "選單"
      },
      "default": "main-menu"
    },
    // Cart Update
    {
      "type": "header",
      "content": "Cart Updates"
    },
    {
      "type": "checkbox",
      "id": "cart_ajax_enable",
      "label": {
        "da": "Aktivér automatisk opdatering af indkøbskurv",
        "de": "Automatische Warenkorbaktualisierungen aktivieren",
        "en": "Enable automatic cart updates",
        "es": "Habilitar las actualizaciones automáticas del carrito de compra",
        "fi": "Ota automaattinen ostoskorin päivitykset käyttöön",
        "fr": "Activer les mises à jour automatiques",
        "hi": "स्वचालित कार्ट अपडेट सक्षम करें",
        "it": "Abilita aggiornamenti automatici carrello",
        "ja": "自動カートの更新を有効にする",
        "ko": "자동 카트 업데이트 활성화하기",
        "nb": "Aktiver automatiske oppdateringer av handlekurven",
        "nl": "Automatische winkelwagen-updates inschakelen",
        "pt-BR": "Permitir atualizações automáticas do carrinho",
        "pt-PT": "Ativar atualizações automáticas do carrinho",
        "sv": "Aktivera automatiska uppdateringar av varukorgen",
        "th": "เปิดใช้งานการอัปเดตตะกร้าสินค้าอัตโนมัติ",
        "zh-CN": "启用购物车自动更新功能",
        "zh-TW": "啟用自動更新購物車"
      },
      "info": {
        "da": "Opdaterer indkøbskurven, så snart kunden foretager ændringer",
        "de": "Aktualisiert den Warenkorb, sobald Kundenänderungen vorgenommen werden",
        "en": "Updates the cart as soon as customer changes are made",
        "es": "Actualiza el carrito de compra tan pronto como el cliente realice cambios",
        "fi": "Päivittää ostoskorin heti, kun asiakkaan muutokset on tehty",
        "fr": "Mise à jour du panier dès que les modifications apportées aux clients ont été effectuées",
        "hi": "ग्राहक के द्वारा परिवर्तन करते ही कार्ट को अपडेट हो जाता है",
        "it": "Aggiorna il carrello appena il cliente apporta le modifiche",
        "ja": "お客様が変更されるとすぐにカートを更新します",
        "ko": "고객 변경 시 카트를 업데이트합니다.",
        "nb": "Oppdaterer handlekurven så snart kundens endringer er gjort",
        "nl": "De winkelwagen wordt bijgewerkt zodra de klant wijzigingen aanbrengt",
        "pt-BR": "Atualiza o carrinho assim que o cliente faz alterações",
        "pt-PT": "Atualiza o carrinho assim que o cliente faz alterações",
        "sv": "Uppdaterar varukorgen så snart kundändringar görs",
        "th": "อัปเดตตะกร้าสินค้าเมื่อลูกค้าได้ทำการเปลี่ยนแปลง",
        "zh-CN": "客户做出更改后立即更新购物车",
        "zh-TW": "在顧客進行變更時立即更新購物車"
      },
      "default": true
    }

    // ANNOUNCEMENT SECTION
    // {
    //   "type": "header",
    //   "content": {
    //     "da": "Meddelelseslinje",
    //     "de": "Ankündigungsbereich",
    //     "en": "Announcement bar",
    //     "es": "Barra de anuncios",
    //     "fi": "Ilmoituspalkki",
    //     "fr": "Barre d'annonces",
    //     "hi": "घोषणा बार",
    //     "it": "Barra degli annunci",
    //     "ja": "告知バー",
    //     "ko": "공지 표시줄",
    //     "nb": "Kunngjøringslinje",
    //     "nl": "Aankondigingsbalk",
    //     "pt-BR": "Barra de avisos",
    //     "pt-PT": "Barra de comunicado",
    //     "sv": "Meddelandefält",
    //     "th": "แถบประกาศ",
    //     "zh-CN": "公告栏",
    //     "zh-TW": "公告列"
    //   }
    // },
    // {
    //   "type": "checkbox",
    //   "id": "message",
    //   "label": {
    //     "da": "Vis meddelelse",
    //     "de": "Ankündigung anzeigen",
    //     "en": "Show announcement",
    //     "es": "Mostrar anuncio",
    //     "fi": "Näytä ilmoitus",
    //     "fr": "Afficher l'annonce",
    //     "hi": "घोषणा डिखाएं",
    //     "it": "Mostra annuncio",
    //     "ja": "告知を表示する",
    //     "ko": "공지 표시",
    //     "nb": "Vis kunngjøring",
    //     "nl": "Aankondiging weergeven",
    //     "pt-BR": "Exibir anúncio",
    //     "pt-PT": "Mostrar comunicado",
    //     "sv": "Visa tillkännagivande",
    //     "th": "แสดงประกาศ",
    //     "zh-CN": "显示公告",
    //     "zh-TW": "顯示公告"
    //   },
    //   "default": false
    // },
    // {
    //   "type": "checkbox",
    //   "id": "home_page_only",
    //   "label": {
    //     "da": "Kun startside",
    //     "de": "Nur Startseite",
    //     "en": "Home page only",
    //     "es": "Solo página de inicio",
    //     "fi": "Vain etusivu",
    //     "fr": "Page d'accueil uniquement",
    //     "hi": "केवल होमपेज",
    //     "it": "Solo home page",
    //     "ja": "ホームページのみ",
    //     "ko": "홈페이지만",
    //     "nb": "Kun på startsiden",
    //     "nl": "Alleen homepage",
    //     "pt-BR": "Apenas na página inicial",
    //     "pt-PT": "Apenas a página inicial",
    //     "sv": "Endast hemsida",
    //     "th": "หน้าแรกเท่านั้น",
    //     "zh-CN": "仅主页",
    //     "zh-TW": "僅限首頁"
    //   },
    //   "default": true
    // },
    // {
    //   "type": "text",
    //   "id": "message_text",
    //   "label": {
    //     "da": "Tekst",
    //     "de": "Text",
    //     "en": "Text",
    //     "es": "Texto",
    //     "fi": "Teksti",
    //     "fr": "Texte",
    //     "hi": "टेक्स्ट",
    //     "it": "Testo",
    //     "ja": "テキスト",
    //     "ko": "텍스트",
    //     "nb": "Tekst",
    //     "nl": "Tekst",
    //     "pt-BR": "Texto",
    //     "pt-PT": "Texto",
    //     "sv": "Text",
    //     "th": "ข้อความ",
    //     "zh-CN": "文本",
    //     "zh-TW": "文字"
    //   },
    //   "default": {
    //     "da": "Meddel noget her",
    //     "de": "Hier etwas ankündigen",
    //     "en": "Announce something here",
    //     "es": "Anuncia algo aquí",
    //     "fi": "Ilmoita jotakin tässä",
    //     "fr": "Annoncez quelque chose ici",
    //     "hi": "यहां कुछ घोषित करें",
    //     "it": "Annuncia qualcosa qui",
    //     "ja": "ここで告知してください",
    //     "ko": "여기에 공지하십시오",
    //     "nb": "Kunngjør noe her",
    //     "nl": "Kondig hier iets aan",
    //     "pt-BR": "Anuncie algo aqui",
    //     "pt-PT": "Anunciar algo aqui",
    //     "sv": "Meddela något här",
    //     "th": "ประกาศข้อความที่นี่",
    //     "zh-CN": "在此处进行公告",
    //     "zh-TW": "在此公告資訊"
    //   }
    // },
    // {
    //   "type": "url",
    //   "id": "message_link",
    //   "label": {
    //     "da": "Link",
    //     "de": "Link",
    //     "en": "Link",
    //     "es": "Enlace",
    //     "fi": "Linkki",
    //     "fr": "Lien",
    //     "hi": "लिंक",
    //     "it": "Link",
    //     "ja": "リンク",
    //     "ko": "링크",
    //     "nb": "Kobling",
    //     "nl": "Link",
    //     "pt-BR": "Link",
    //     "pt-PT": "Ligação",
    //     "sv": "Länk",
    //     "th": "ลิงก์",
    //     "zh-CN": "链接",
    //     "zh-TW": "連結"
    //   },
    //   "info": {
    //     "da": "Valgfri",
    //     "de": "Optional",
    //     "en": "Optional",
    //     "es": "Opcional",
    //     "fi": "Valinnainen",
    //     "fr": "Facultatif",
    //     "hi": "वैकल्पिक",
    //     "it": "Facoltativo",
    //     "ja": "オプション",
    //     "ko": "선택 사항",
    //     "nb": "Valgfritt",
    //     "nl": "Optioneel",
    //     "pt-BR": "Opcional",
    //     "pt-PT": "Opcional",
    //     "sv": "Valfritt",
    //     "th": "ไม่จำเป็น",
    //     "zh-CN": "可选",
    //     "zh-TW": "(選填)"
    //   }
    // }
  ]
}
{% endschema %}
