{% comment %} 
Define Backend logic 
{% endcomment %}

{%- assign collection = collections[section.settings.collection] -%}
{% assign products_by_creation = collection.products | sort: "created_at" %}
{%- assign banner-order = section.settings.sliderOrder -%}



<style>

.color-title-banner{{ banner-order }} {
  color: {{ section.settings.color_title_banner }};
}

.color-button-banner{{ banner-order }} {
  color: {{ section.settings.color_button_banner }};
}

@media (min-width: 1186px) {
  #mobile {
    display: none;
  }
}



@media (min-width: 320px) and (max-width: 1186px) {
  #desktop {
    display: none;
  }
}

</style>

<section id= mobile class="container mb-4 pb-3 pb-sm-0 mb-sm-5">
  <div class="row">

    <style>

      {% comment %} 
      In this section we manage the arrow components in two ways:
      1) Show the Image from Desktop
      2) Show the Color block from Mobile 
      {% endcomment %}

      @media (min-width: 769px) {
        .image-block{{ banner-order }} {
          background: url(' {{ section.settings.image | img_url: '' }} ') rgb(0,0,0,0.5);
          background-repeat: no-repeat;
          background-blend-mode: multiply;
          background-position: center;
          background-size: cover;
          height: 700px !important;
          display: none;
        }
      }
      @media (min-width: 320px) and (max-width: 768px) {
        .mobile-banner-color{{ banner-order }} {
          background: url(' {{ section.settings.image | img_url: '' }} ') rgb(0,0,0,0.5);
          background-repeat: no-repeat;
          background-blend-mode: multiply;
          background-position: center;
          background-size: cover;
        }
      }
    </style>
    

    <div class="col-md-5">

      <div id="imageBlock" class="d-flex flex-column h-100 overflow-hidden rounded-lg image-block{{ banner-order }} mobile-banner-color{{ banner-order }}">

        <div class="d-flex justify-content-between px-grid-gutter py-grid-gutter">
          <div>
            <h3 class="mb-1 color-title-banner{{ banner-order }}">{{ section.settings.title }}</h3>
            <a class="font-size-md color-button-banner{{ banner-order }}" href="{{ section.settings.button_link }}" >{{ section.settings.button_label }}
              <i class="czi-arrow-right font-size-xs align-middle ml-1"></i>
            </a>
          </div>

          
            <div class="cz-custom-controls" id="hoodie-day{{ banner-order }}">
              <button type="button"><i class="czi-arrow-left"></i></button>
              <button type="button"><i class="czi-arrow-right"></i></button>
            </div>
          

        </div>
      </div>

    </div>
    

    
    <div class="col-md-7 pt-4 pt-md-0">
      <div class="cz-carousel">
        <div class="cz-carousel-inner" data-carousel-options="{&quot;nav&quot;: false, &quot;controlsContainer&quot;: &quot;#hoodie-day{{ section.settings.sliderOrder }}&quot;}">
            <div>
              <div class="row mx-n2">          

            {% for product in products_by_creation limit:6  %}


            {% comment %} 
            Define main variable 
            inside Carosuel component 
            {% endcomment %}

            {% capture img_id %}ProductCardImage-{{ section.id }}-{{ product.id }}{% endcapture %}
            {% capture wrapper_id %}ProductCardImageWrapper-{{ section.id }}-{{ product.id }}{% endcapture %}
            {%- assign preview_image = product.featured_media.preview_image -%}
            {%- assign img_url = preview_image | img_url: 'x200' -%}

            {% comment %} 
            Print Product Json Object
            <script>console.log({{ product | json }});</script> 
            {% endcomment %}

              <div class="col-lg-4 col-6 px-sm-2 mb-sm-4">
                <div class="card product-card card-static">
                  {% if product.compare_at_price != null and product.compare_at_price != product.price %}
                  <span class="badge badge-danger badge-shadow">{{ 'collections.product-label.sale' | t }}</span>
                  {% endif %}
                  {% if product.tags contains "Novità" %}
                  <span class="badge badge-danger badge-shadow" style="right: 0.75rem !important;left: auto !important;">{{ 'collections.product-label.novita' | t }}</span> 
                  {% endif %}
                  <a class="card-img-top d-block overflow-hidden" href="{{ product.url | within: collection }}">
                    <img src="{{ img_url }}" alt="{{ product.alt }}"></a>
                  <div class="card-body py-2">
                    <a class="product-meta d-block font-size-xs pb-1" href="#">{{ product.type }}</a>
                    <h3 class="product-title font-size-sm"><a href="{{ product.url | within: collection }}">{{ product.title }}</a></h3>
                    <a class="product-meta d-block font-size-xs" href="/collections/{{ product.vendor | handle }}">{{ 'products.product.vendor_proposition' | t }} {{ product.vendor }}</a>
                    <div class="d-flex justify-content-between">
                      <div class="product-price">
                      <span class="text-accent">{{ product.price | money }}</span>
                  {% if product.compare_at_price != null and product.compare_at_price != product.price %}
                    <del class="font-size-sm text-muted"> {{ product.compare_at_price | money }}</del>
                  {% endif %}                      
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            {% endfor %}
          </div>
        </div>
   
        </div>
      </div>
    </div>


    
  </div>
</section>

<section id=desktop class="container mb-4 pb-3 pb-sm-0 mb-sm-5">
  <!-- First row -->
  <div class="row mb-4 pr-3">
    <!-- Card with image collection -->
    <div class="col rounded-lg position-relative banner-image-dimension">
      <div class="banner-image position-relative">
      <div id="overlay-black" class="rounded-lg"></div>
      <img  class="rounded-lg" src="{{ section.settings.image | img_url: '' }}">
      </div>
      <div class=" position-absolute d-flex justify-content-between px-grid-gutter py-grid-gutter" style="bottom: 10%;">
        <div>
          <h4 class="mb-1 moka-font font-weight-bold color-title-banner{{ banner-order }}">{{ section.settings.title }}</h4>
          <a class="font-size-md color-button-banner{{ banner-order }}" href="{{ section.settings.button_link }}" >{{ section.settings.button_label }}
            <i class="czi-arrow-right font-size-xs align-middle ml-1"></i>
          </a>
        </div>

      </div>
      <!-- <div class="d-flex justify-content-between align-items-end">
        <div class="mb-3 position-absolute text-white">{{ section.settings.title }}</div>
        <div class="position-absolute text-white">{{ section.settings.button_label }}</div>
      </div> -->
    </div>

    <!-- Start Products -->
    {% for product in products_by_creation limit:4 %}

    {% comment %} 
    Define image variable
    {% endcomment %}
    {%- assign preview_image = product.featured_media.preview_image -%}
    {%- assign img_url = preview_image | img_url: 'x200' -%}

    <div class="col pt-3">
      <div class="card product-card">
        {% if product.compare_at_price != null and product.compare_at_price != product.price %}
        <span class="badge badge-danger badge-shadow">{{ 'collections.product-label.sale' | t }}</span>
        {% endif %}
        {% if product.tags contains "Novità" %}
        <span class="badge badge-danger badge-shadow" style="right: 0.75rem !important;left: auto !important;">{{ 'collections.product-label.novita' | t }}</span> 
        {% endif %}
        <a class="card-img-top d-block overflow-hidden" href="{{ product.url | within: collection }}">
          <img src="{{ img_url }}" alt="{{ product.alt }}"></a>
        <div class="card-body py-2">
          <a class="product-meta d-block font-size-xs pb-1" href="#">{{ product.type }}</a>
          <h3 class="product-title font-size-sm"><a href="{{ product.url | within: collection }}">{{ product.title }}</a></h3>
          <a class="product-meta d-block font-size-xs" href="/collections/{{ product.vendor | handle }}">{{ 'products.product.vendor_proposition' | t }} {{ product.vendor }}</a>
          <div class="d-flex justify-content-between">
            <div class="product-price">
            <span class="text-accent">{{ product.price | money }}</span>
        {% if product.compare_at_price != null and product.compare_at_price != product.price %}
          <del class="font-size-sm text-muted"> {{ product.compare_at_price | money }}</del>
        {% endif %}                      
            </div>
          </div>
        </div>
      </div>
    </div> 
    {% endfor %}
  </div>

  <!-- Second row -->
  <div class="row px-3">
    {% for product in products_by_creation offset:4 limit:5 %}

      {% comment %} 
      Define image variable
      {% endcomment %}
      {%- assign preview_image = product.featured_media.preview_image -%}
      {%- assign img_url = preview_image | img_url: 'x200' -%}

    <div class="col">
      <div class="card product-card">
        {% if product.compare_at_price != null and product.compare_at_price != product.price %}
        <span class="badge badge-danger badge-shadow">{{ 'collections.product-label.sale' | t }}</span>
        {% endif %}
        {% if product.tags contains "Novità" %}
        <span class="badge badge-danger badge-shadow" style="right: 0.75rem !important;left: auto !important;">{{ 'collections.product-label.novita' | t }}</span> 
        {% endif %}
        <a class="card-img-top d-block overflow-hidden" href="{{ product.url | within: collection }}">
          <img src="{{ img_url }}" alt="{{ product.alt }}"></a>
        <div class="card-body py-2">
          <a class="product-meta d-block font-size-xs pb-1" href="#">{{ product.type }}</a>
          <h3 class="product-title font-size-sm"><a href="{{ product.url | within: collection }}">{{ product.title }}</a></h3>
          <a class="product-meta d-block font-size-xs" href="/collections/{{ product.vendor | handle }}">{{ 'products.product.vendor_proposition' | t }} {{ product.vendor }}</a>
          <div class="d-flex justify-content-between">
            <div class="product-price">
            <span class="text-accent">{{ product.price | money }}</span>
        {% if product.compare_at_price != null and product.compare_at_price != product.price %}
          <del class="font-size-sm text-muted"> {{ product.compare_at_price | money }}</del>
        {% endif %}                      
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>




  {% schema %}
{
  "name": {
    "da": "Billede med tekst",
    "de": "Foto mit Text",
    "en": "Image with products Mok",
    "es": "Imagen con texto",
    "fi": "Kuva tekstillä",
    "fr": "Image avec texte",
    "hi": "टेक्स्ट वाली इमेज",
    "it": "Immagine con testo",
    "ja": "テキスト付き画像",
    "ko": "텍스트 포함 이미지",
    "nb": "Bilde med tekst",
    "nl": "Afbeelding met tekst",
    "pt-BR": "Imagem com texto",
    "pt-PT": "Imagem com texto",
    "sv": "Bild med text",
    "th": "รูปภาพพร้อมข้อความ",
    "zh-CN": "带文本的图片",
    "zh-TW": "附文字的圖片"
  },

  "class": "index-section",
  "settings": [
    {
  "type": "text",
  "id": "sliderOrder",
  "label": {
        "da": "Overskrift",
        "de": "Titel",
        "en": "Slider Order",
        "es": "Título",
        "fi": "Otsake",
        "fr": "En-tête",
        "hi": "शीर्षक",
        "it": "Heading",
        "ja": "見出し",
        "ko": "제목",
        "nb": "Overskrift",
        "nl": "Kop",
        "pt-BR": "Título",
        "pt-PT": "Título",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "zh-CN": "标题",
        "zh-TW": "標題"
      },
      "default": {
        "da": "Billede med tekst",
        "de": "Foto mit Text",
        "en": "1",
        "es": "1",
        "fi": "1",
        "fr": "1",
        "hi": "टेक्स्ट वाली इमेज",
        "it": "Immagine con testo",
        "ja": "テキスト付き画像",
        "ko": "텍스트 포함 이미지",
        "nb": "Bilde med tekst",
        "nl": "Afbeelding met tekst",
        "pt-BR": "Imagem com texto",
        "pt-PT": "Imagem com texto",
        "sv": "Bild med text",
        "th": "รูปภาพพร้อมข้อความ",
        "zh-CN": "带文本的图片",
        "zh-TW": "附文字的圖片"
      }
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": {
        "da": "Billede",
        "de": "Foto",
        "en": "Image",
        "es": "Imagen",
        "fi": "Kuva",
        "fr": "Image",
        "hi": "इमेज",
        "it": "Immagine",
        "ja": "画像",
        "ko": "이미지",
        "nb": "Bilde",
        "nl": "Afbeelding",
        "pt-BR": "Imagem",
        "pt-PT": "Imagem",
        "sv": "Bild",
        "th": "รูปภาพ",
        "zh-CN": "图片",
        "zh-TW": "圖片"
      }
    },
    {
      "type": "header",
      "content": "Select Color for mobile"
    },
    {
      "type": "color",
      "id": "mobile_banner_color",
      "label": {
        "da": "Tekst",
        "de": "Text",
        "en": "Color Banner from mobile",
        "es": "Texto",
        "fi": "Teksti",
        "fr": "Texte",
        "hi": "टेक्स्ट",
        "it": "Testo",
        "ja": "テキスト",
        "ko": "텍스트",
        "nb": "Tekst",
        "nl": "Tekst",
        "pt-BR": "Texto",
        "pt-PT": "Texto",
        "sv": "Text",
        "th": "ข้อความ",
        "zh-CN": "文本",
        "zh-TW": "文字"
      },
      "default": "#e2e9ef"
    },
    {
      "type": "text",
      "id": "title",
      "label": {
        "da": "Overskrift",
        "de": "Titel",
        "en": "Heading",
        "es": "Título",
        "fi": "Otsake",
        "fr": "En-tête",
        "hi": "शीर्षक",
        "it": "Heading",
        "ja": "見出し",
        "ko": "제목",
        "nb": "Overskrift",
        "nl": "Kop",
        "pt-BR": "Título",
        "pt-PT": "Título",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "zh-CN": "标题",
        "zh-TW": "標題"
      },
      "default": {
        "da": "Billede med tekst",
        "de": "Foto mit Text",
        "en": "Image with products Mok Mok",
        "es": "Imagen con texto",
        "fi": "Kuva tekstillä",
        "fr": "Image avec texte",
        "hi": "टेक्स्ट वाली इमेज",
        "it": "Immagine con testo",
        "ja": "テキスト付き画像",
        "ko": "텍스트 포함 이미지",
        "nb": "Bilde med tekst",
        "nl": "Afbeelding met tekst",
        "pt-BR": "Imagem com texto",
        "pt-PT": "Imagem com texto",
        "sv": "Bild med text",
        "th": "รูปภาพพร้อมข้อความ",
        "zh-CN": "带文本的图片",
        "zh-TW": "附文字的圖片"
      }
    },
    // Color Title
    {
      "type": "color",
      "id": "color_title_banner",
      "label": {
        "da": "Tekst",
        "de": "Text",
        "en": "Color title",
        "es": "Texto",
        "fi": "Teksti",
        "fr": "Texte",
        "hi": "टेक्स्ट",
        "it": "Testo",
        "ja": "テキスト",
        "ko": "텍스트",
        "nb": "Tekst",
        "nl": "Tekst",
        "pt-BR": "Texto",
        "pt-PT": "Texto",
        "sv": "Text",
        "th": "ข้อความ",
        "zh-CN": "文本",
        "zh-TW": "文字"
      },
      "default": "#e2e9ef"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": {
        "da": "Knaptekst",
        "de": "Button-Etikett",
        "en": "Button label",
        "es": "Etiqueta de botón",
        "fi": "Tekstipainike",
        "fr": "Texte du bouton",
        "hi": "बटन लेबल",
        "it": "Etichetta pulsante",
        "ja": "ボタンのラベル",
        "ko": "버튼 레이블",
        "nb": "Knappetikett",
        "nl": "Knoplabel",
        "pt-BR": "Etiqueta de botão",
        "pt-PT": "Etiqueta do botão",
        "sv": "Knappetikett",
        "th": "ป้ายกำกับปุ่ม",
        "zh-CN": "按钮标签",
        "zh-TW": "按鈕標籤"
      }
    },
    // Color Button
    {
      "type": "color",
      "id": "color_button_banner",
      "label": {
        "da": "Tekst",
        "de": "Text",
        "en": "Color button",
        "es": "Texto",
        "fi": "Teksti",
        "fr": "Texte",
        "hi": "टेक्स्ट",
        "it": "Testo",
        "ja": "テキスト",
        "ko": "텍스트",
        "nb": "Tekst",
        "nl": "Tekst",
        "pt-BR": "Texto",
        "pt-PT": "Texto",
        "sv": "Text",
        "th": "ข้อความ",
        "zh-CN": "文本",
        "zh-TW": "文字"
      },
      "default": "#e2e9ef"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": {
        "da": "Knaplink",
        "de": "Button-Link",
        "en": "Button link",
        "es": "Enlace de botón",
        "fi": "Painikelinkki",
        "fr": "Lien du bouton",
        "hi": "बटन लिंक",
        "it": "Link pulsante",
        "ja": "ボタンのリンク",
        "ko": "버튼 링크",
        "nb": "Kobling for knapp",
        "nl": "Knoplink",
        "pt-BR": "Link de botão",
        "pt-PT": "Ligação do botão",
        "sv": "Knapplänk",
        "th": "ลิงก์ปุ่ม",
        "zh-CN": "按钮链接",
        "zh-TW": "按鈕連結"
      }
    },
    {
      "id": "collection",
      "type": "collection",
      "label": {
        "da": "Kollektion",
        "de": "Kategorie",
        "en": "Collection",
        "es": "Colección",
        "fi": "Kokoelma",
        "fr": "Collection",
        "hi": "कलेक्शन",
        "it": "Collezione",
        "ja": "コレクション",
        "ko": "컬렉션",
        "nb": "Samling",
        "nl": "Collectie",
        "pt-BR": "Coleção",
        "pt-PT": "Coleção",
        "sv": "Produktserie",
        "th": "คอลเลกชัน",
        "zh-CN": "收藏",
        "zh-TW": "商品系列"
      }
    }
  ],
  "presets": [
    {
      "name": {
        "da": "Billede med tekst",
        "de": "Foto mit Text",
        "en": "Image with products Mok",
        "es": "Imagen con texto",
        "fi": "Kuva tekstillä",
        "fr": "Image avec texte",
        "hi": "टेक्स्ट वाली इमेज",
        "it": "Immagine con testo",
        "ja": "テキスト付き画像",
        "ko": "텍스트 포함 이미지",
        "nb": "Bilde med tekst",
        "nl": "Afbeelding met tekst",
        "pt-BR": "Imagem com texto",
        "pt-PT": "Imagem com texto",
        "sv": "Bild med text",
        "th": "รูปภาพพร้อมข้อความ",
        "zh-CN": "带文本的图片",
        "zh-TW": "附文字的圖片"
      },
      "category": {
        "da": "Billede",
        "de": "Foto",
        "en": "Image",
        "es": "Imagen",
        "fi": "Kuva",
        "fr": "Image",
        "hi": "इमेज",
        "it": "Immagine",
        "ja": "画像",
        "ko": "이미지",
        "nb": "Bilde",
        "nl": "Afbeelding",
        "pt-BR": "Imagem",
        "pt-PT": "Imagem",
        "sv": "Bild",
        "th": "รูปภาพ",
        "zh-CN": "图片",
        "zh-TW": "圖片"
      }
    }
  ]
}
{% endschema %}