{%- assign display_map = false -%}
{%- assign onboarding = false -%}
{%- assign bg_image = section.settings.background_image -%}

{%- if section.settings.api_key == blank and bg_image == blank -%}
  {%- assign onboarding = true -%}
{%- endif -%}
{%- if section.settings.api_key != blank and section.settings.map_address -%}
  {%- assign display_map = true -%}
{%- endif -%}

<style>
  {% if bg_image.src != blank %}
  #MapSection--{{ section.id }} .map-section__image {
    background-position: {{ section.settings.background_image_position }};
  }

  @media only screen and (max-width: 750px) {
    #MapSection--{{ section.id }} .map-section__image {
      padding-top: {{ 1 | divided_by: bg_image.aspect_ratio | times: 100 }}%;
    }
  }
  {% endif %}
</style>


<div id="MapSection--{{ section.id }}"
     class="map-section
           {% if display_map %}map-section--display-map{% endif %}
           {% if onboarding == true %}map-section--onboarding{% endif %}"
     data-section-id="{{ section.id }}"
     data-section-type="map">
  <div class="page-width map-section__wrapper">
    <div class="map-section__content-wrapper">
      <div class="map-section__content">
        <h2 class="visually-hidden visually-hidden--static">{{ 'sections.map.section_heading' | t }}</h2>
        {% if section.settings.heading != blank %}
          <h3 class="h4">{{ section.settings.heading | escape }}</h3>
        {% endif %}
        {% if section.settings.address != blank %}
          <div class="rte-setting">{{ section.settings.address }}</div>
          {% if section.settings.map_address != blank and section.settings.button_text != blank %}
            <p>
              <a href="https://maps.google.com?daddr={{ section.settings.map_address | escape }}"
                 class="btn btn--secondary btn--small map_section__directions-btn"
                 target="_blank"
                 rel="noopener"
                 aria-describedby="a11y-new-window-external-message"
              >
                {% if section.settings.show_pin %}{% render 'icon-pin' %}{% endif %}
                <span>{{ section.settings.button_text | escape }}</span>
              </a>
            </p>
          {% endif %}
        {% endif %}
      </div>
    </div>
    <div class="map-section__background-wrapper">
      {% if bg_image != blank %}
        <div class="map-section__image lazyload js"
             data-bgset="{% render 'bgset', image: bg_image %}"
             data-sizes="auto"
             data-parent-fit="cover"
             style="background-image: url('{{ bg_image | img_url: '300x300' }});">
        </div>
        <noscript>
          <div class="map-section__image" style="background-image: url({{ bg_image | img_url: 'x800', crop: 'top' }});"></div>
        </noscript>
      {% elsif onboarding == true %}
        <div class="placeholder-background">
          {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
        </div>
      {% endif %}
      {% if display_map %}
        <div class="map-section__container"
             id="Map-{{ section.id }}"
             data-map
             data-address-setting="{{ section.settings.map_address | escape }}"
             data-api-key="{{ section.settings.api_key }}">
        </div>
        <div class="map-section__overlay" data-map-overlay></div>
      {% endif %}
    </div>
  </div>
</div>



{% schema %}
{
  "name": {
    "da": "Kort",
    "de": "Karte",
    "en": "Map",
    "es": "Mapa",
    "fi": "Kartta",
    "fr": "Carte",
    "hi": "मैप",
    "it": "Mappa",
    "ja": "マップ",
    "ko": "지도",
    "nb": "Kart",
    "nl": "Kaart",
    "pt-BR": "Mapa",
    "pt-PT": "Mapa",
    "sv": "Karta",
    "th": "แผนที่",
    "zh-CN": "地图",
    "zh-TW": "地圖"
  },
  "class": "index-section index-section--flush-medium-up",
  "settings": [
    {
      "type": "header",
      "content": {
        "da": "Tekst",
        "de": "Text",
        "en": "Text",
        "es": "Texto",
        "fi": "Teksti",
        "fr": "Texte",
        "hi": "टेक्स्ट",
        "it": "Testo",
        "ja": "テキスト",
        "ko": "텍스트",
        "nb": "Tekst",
        "nl": "Tekst",
        "pt-BR": "Texto",
        "pt-PT": "Texto",
        "sv": "Text",
        "th": "ข้อความ",
        "zh-CN": "文本",
        "zh-TW": "文字"
      }
    },
    {
      "id": "heading",
      "type": "text",
      "label": {
        "da": "Overskrift",
        "de": "Titel",
        "en": "Heading",
        "es": "Título",
        "fi": "Otsake",
        "fr": "En-tête",
        "hi": "शीर्षक",
        "it": "Heading",
        "ja": "見出し",
        "ko": "제목",
        "nb": "Overskrift",
        "nl": "Kop",
        "pt-BR": "Título",
        "pt-PT": "Título",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "zh-CN": "标题",
        "zh-TW": "標題"
      },
      "default": {
        "da": "Vores butik",
        "de": "Unser Laden",
        "en": "Our store",
        "es": "Nuestra tienda",
        "fi": "Kauppamme",
        "fr": "Notre boutique",
        "hi": "हमारा स्टोर",
        "it": "Il nostro negozio",
        "ja": "私たちのストア",
        "ko": "스토어",
        "nb": "Vår butikk",
        "nl": "Onze winkel",
        "pt-BR": "Nossa loja",
        "pt-PT": "A nossa loja",
        "sv": "Vår butik",
        "th": "ร้านค้าของเรา",
        "zh-CN": "我们的商店",
        "zh-TW": "我們的商店"
      }
    },
    {
      "id": "address",
      "type": "richtext",
      "label": {
        "da": "Adresse og åbningstider",
        "de": "Adresse und Öffnungszeiten",
        "en": "Address and hours",
        "es": "Dirección y horario",
        "fi": "Osoite ja aukioloajat",
        "fr": "Adresse et heures d'ouverture",
        "hi": "पता और घंटे",
        "it": "Indirizzo e orari",
        "ja": "住所と営業時間",
        "ko": "주소 및 시간",
        "nb": "Adresse og åpningstider",
        "nl": "Adres en openingstijden",
        "pt-BR": "Endereço e horário",
        "pt-PT": "Endereço e horas",
        "sv": "Adress och öppettider",
        "th": "ที่อยู่และเวลาทำการ",
        "zh-CN": "地址和时间",
        "zh-TW": "地址和營業時間"
      },
      "default": {
        "da": "<p>123 Fake St.<br>Toronto, Canada</p><p>mandag-fredag, 10.00- 21.00<br>lørdag 11.00-21.00&lt;br&gt;søndag 11.00-17.00</p>",
        "de": "<p>Musterstraße 123<br>12345 Musterstadt</p><p>Mo - Fr, 10 - 21 Uhr<br>Samstag, 11 - 21 Uhr<br>Sonntag, Ruhetag</p>",
        "en": "<p>123 Fake St.<br>Toronto, Canada</p><p>Mon - Fri, 10am - 9pm<br>Saturday, 11am - 9pm<br>Sunday, 11am - 5pm</p>",
        "es": "<p>123 Fake St. <br> Toronto, Canadá</p><p>Lun - Vie, 10 a.m. - 9 p.m. <br> Sábados, de 11 am a 09 pm <br> Domingos, de 11 am a 05 pm</p>",
        "fi": "<p>Esimerkkikatu 5<br>Helsinki, Suomi</p><p>Maanantai–perjantai klo 10–21<br>Lauantai klo 11–21<br>Sunnuntai klo 11–17</p>",
        "fr": "<p>123 5e Avenue<br>Toronto, Canada</p><p>Lundi au vendredi, 10 h 00 à 21 h 00<br>Samedi, 11 h 00 à 21 h 00<br>Dimanche, fermé",
        "hi": "<p>123 फ़ेक सेंट<br>टोरंटो, कनाडा</p><p>सोम- शुक्र, सुबह 10 बजे - रात 9 बजे<br>शनिवार, सुबह 11 बजे - रात 9 बजे<br>रविवार, सुबह 11 बजे - रात 5 बजे</p>",
        "it": "<p>123 Fake St.<br>Toronto, Canada</p><p>Lun-Ven, 10:00 - 21:00<br>Sabato, 11:00 - 21:00<br>Domenica, 11:00 - 17:00</p>",
        "ja": "<p>123 Fake St.<br>Toronto, Canada</p><p>月曜日～金曜日、午前10時〜午後9時<br>土曜日、午前11時〜午後9時<br>日曜日、午前11時〜午後5時</p>",
        "ko": "<p>캐나다, <br>토론토 페이크 스트리트123</p><p>월요일 - 금요일, 오전 10시 - 오후 9시<br>토요일, 11시 - 오후 5시</p>",
        "nb": "<p>Eksempelgaten 123<br>Oslo, Norge</p><p>Man – Fre, 10 – 21<br>Lørdag, 11 – 21<br>Søndag, 11–17</p>",
        "nl": "<p>Dorpsweg 1<br>Arnhem, Nederland</p><p>ma - vr, 10:00 - 21:00<br>zaterdag, 11:00 - 21:00<br>zondag, 11:00 - 17:00</p>",
        "pt-BR": "<p>123 Rua Inventada<br> São Paulo, Brasil</p><p>Seg. - Sex., 10h às 21h <br> Sábado, 11h às 21h <br> Domingo, 11h às 17h</p>",
        "pt-PT": "<p>Rua Imaginária, 123<br>Lisboa, Portugal</p><p>Seg. - Sex., 10h - 21h<br> Sábado, 11h - 21h<br>Domingo, 11h - 17h</p>",
        "sv": "<p>Exempelgatan 123<br>Stockholm, Sverige</p><p>Mån - Fre, 10.00 - 21.00<br>Lördag, 11.00 - 21.00<br>Söndag, 11.00 - 17.00</p>",
        "th": "<p>123 Fake St.<br>Toronto, Canada</p><p>จ. - ศ. 10:00 น. - 21:00 น.<br>วันเสาร์ 11:00 น. - 21:00 น.<br>วันอาทิตย์ 11:00 น. - 17:00 น.</p>",
        "zh-CN": "<p>123 Fake St.<br>Toronto, Canada</p><p>周一至周五上午 10 点至晚上 9 点<br>周六上午 11 点至晚上 9 点<br>周日上午 11 点至下午 5 点</p>",
        "zh-TW": "<p>加拿大多倫多<br>假設範例街 123 號</p><p>星期一 - 星期五，上午 10 點 - 下午 9 點<br>星期六，上午 11 點 - 下午 9 點<br>星期日，上午 11 點 - 下午 5 點</p>"
      }
    },
    {
      "id": "map_address",
      "type": "text",
      "label": {
        "da": "Kortadresse",
        "de": "Adresse",
        "en": "Map address",
        "es": "Dirección en el mapa",
        "fi": "Määritä osoite",
        "fr": "Adresse de la carte",
        "hi": "मैप पता",
        "it": "Indirizzo su mappa",
        "ja": "マップアドレス",
        "ko": "지도 주소",
        "nb": "Kartadresse",
        "nl": "Adres op kaart",
        "pt-BR": "Endereço no mapa",
        "pt-PT": "Endereço no mapa",
        "sv": "Kartadress",
        "th": "ที่อยู่แผนที่",
        "zh-CN": "地图地址",
        "zh-TW": "地圖地址"
      },
      "info": {
        "da": "Google Maps finder den nøjagtige lokation",
        "de": "Google Maps findet die richtige Adresse",
        "en": "Google Maps will find the exact location",
        "es": "Google Maps encontrará la ubicación exacta",
        "fi": "Google Maps hakee tarkan sijainnin",
        "fr": "Google Maps trouvera l'adresse exacte",
        "hi": "Google मैप को सटीक स्थान मिलेगा",
        "it": "Google Maps troverà l'esatta posizione",
        "ja": "Googleマップが正確な位置を見つけます。",
        "ko": "Google 지도에서 정확한 위치를 찾습니다.",
        "nb": "Google Maps vil finne nøyaktig plassering",
        "nl": "Google Maps zoekt de exacte locatie",
        "pt-BR": "O Google Maps encontrará a localização exata",
        "pt-PT": "O Google Maps vai encontrar a localização exata",
        "sv": "Google Maps kommer hitta den exakta platsen",
        "th": "Google Maps จะค้นหาตำแหน่งที่ตั้งที่แน่นอน",
        "zh-CN": "Google 地图会显示确切位置",
        "zh-TW": "Google 地圖會找出確切位置"
      },
      "default": {
        "da": "301 Front St W, Toronto",
        "de": "4141 Pierre-de Coubertin Ave, Montreal",
        "en": "301 Front St W, Toronto",
        "es": "301 Front St W, Toronto",
        "fi": "301 Front St W, Toronto",
        "fr": "Arsenalo g. 5, Vilnius",
        "hi": "301 फ्रंट सेंट डब्ल्यू, टोरंटो",
        "it": "301 Front St W, Toronto",
        "ja": "301 Front St W, Toronto",
        "ko": "토론토, 프론트 스트리트 W 301",
        "nb": "301 Front St W, Toronto",
        "nl": "301 Front St W, Toronto",
        "pt-BR": "Av. Paulista, 1234, São Paulo",
        "pt-PT": "301 Front St W, Toronto",
        "sv": "301 Front St W, Toronto",
        "th": "301 Front St W, Toronto",
        "zh-CN": "301 Front St W, Toronto",
        "zh-TW": "301 Front St W, Toronto"
      }
    },
    {
      "id": "button_text",
      "type": "text",
      "label": {
        "da": "Maplinklabel",
        "de": "Link auf der Karte",
        "en": "Map link label",
        "es": "Etiqueta de enlace de mapa",
        "fi": "Karttalinkin otsikko",
        "fr": "Texte du lien de la carte",
        "hi": "मैप लिंक लेबल",
        "it": "Etichetta del link alla mappa",
        "ja": "マップリンクラベル",
        "ko": "지도 링크 레이블",
        "nb": "Etikett for kartkobling",
        "nl": "Linklabel naar kaart",
        "pt-BR": "Marcador de link do mapa",
        "pt-PT": "Etiqueta de ligação do mapa",
        "sv": "Kartlänketikett",
        "th": "ป้ายกำกับลิงก์แผนที่",
        "zh-CN": "地图链接标签",
        "zh-TW": "地圖連結標籤"
      },
      "default": {
        "da": "Få vejledninger",
        "de": "Wegbeschreibung bekommen",
        "en": "Get directions",
        "es": "Recibir instrucciones",
        "fi": "Hae ohjeet",
        "fr": "Obtenir un itinéraire",
        "hi": "दिशा-निर्देश प्राप्त करें",
        "it": "Richiedi direzioni",
        "ja": "道順を知る",
        "ko": "길 찾기",
        "nb": "Få beskrivelse",
        "nl": "Krijg aanwijzingen",
        "pt-BR": "Obter direções",
        "pt-PT": "Obter direções",
        "sv": "Få hjälp",
        "th": "ถามเส้นทาง",
        "zh-CN": "获取指示",
        "zh-TW": "取得路線"
      }
    },
    {
      "id": "show_pin",
      "type": "checkbox",
      "label": {
        "da": "Vis pin",
        "de": "Pin anzeigen",
        "en": "Show pin",
        "es": "Ver pin",
        "fi": "Näytä nasta",
        "fr": "Afficher l'épingle",
        "hi": "पिन दिखाएं",
        "it": "Mostra pin",
        "ja": "ピンを表示する",
        "ko": "핀 표시",
        "nb": "Vis pinne",
        "nl": "Pin tonen",
        "pt-BR": "Mostrar alfinete",
        "pt-PT": "Mostrar PIN",
        "sv": "Visa pin",
        "th": "แสดงพิน",
        "zh-CN": "显示针",
        "zh-TW": "顯示 PIN 碼"
      },
      "default": true
    },
    {
      "type": "header",
      "content": {
        "da": "Baggrund",
        "de": "Hintergrund",
        "en": "Background",
        "es": "Fondo",
        "fi": "Tausta",
        "fr": "Arrière-plan",
        "hi": "पृष्ठभूमि",
        "it": "Sfondo",
        "ja": "背景",
        "ko": "배경",
        "nb": "Bakgrunn",
        "nl": "Achtergrond",
        "pt-BR": "Plano de fundo",
        "pt-PT": "Fundo",
        "sv": "Bakgrund",
        "th": "พื้นหลัง",
        "zh-CN": "背景",
        "zh-TW": "背景"
      }
    },
    {
      "id": "api_key",
      "type": "text",
      "label": {
        "da": "Google Maps API-nøgle",
        "de": "Google Maps API Key",
        "en": "Google Maps API key",
        "es": "Registrar una clave API de Google Maps",
        "fi": "Google Mapsin API -avain",
        "fr": "Clé d'API Google Maps",
        "hi": "Google मैप API कुंजी",
        "it": "Chiave API di Google Maps",
        "ja": "GoogleマップのAPIキー",
        "ko": "Google 지도 API 키",
        "nb": "Google Maps API-nøkkel",
        "nl": "Google Maps API-sleutel",
        "pt-BR": "Chave da API do Google Maps",
        "pt-PT": "Chave de API do Google Maps",
        "sv": "API-nyckel för Google Maps",
        "th": "คีย์ API ของ Google Maps",
        "zh-CN": "Google 地图 API 密钥",
        "zh-TW": "Google 地圖 API 金鑰"
      },
      "info": {
        "da": "Du skal [registrere en Google Maps API-nøgle](https://help.shopify.com/manual/using-themes/troubleshooting/map-section-api-key) for at vise kortet",
        "de": "Sie müssen [einen Google Maps-API-Schlüssel](https://help.shopify.com/manual/using-themes/troubleshooting/map-section-api-key) registrieren, um die Karte anzuzeigen",
        "en": "You’ll need to [register a Google Maps API Key](https://help.shopify.com/manual/using-themes/troubleshooting/map-section-api-key) to display the map",
        "es": "Deberás [registrar una clave API de Google Maps](https://help.shopify.com/manual/using-themes/troubleshooting/map-section-api-key) para mostrar el plano",
        "fi": "Sinun on [rekisteröitävä Google Maps -sovellusliittymän avain](https://help.shopify.com/manual/using-themes/troubleshooting/map-section-api-key) näyttääksesi kartan",
        "fr": "Vous devrez [enregistrer une clé API Google Maps](https://help.shopify.com/manual/using-themes/troubleshooting/map-section-api-key) pour afficher la carte",
        "hi": "मैप को प्रदर्शित करने के लिए आपको [एक Google Maps API कुंजी](https://help.shopify.com/manual/using-themes/troubleshooting/map-section-api-key) पंजीकृत करनी होगी",
        "it": "È necessario [registrare una chiave API di Google Maps](https://help.shopify.com/manual/using-themes/troubleshooting/map-section-api-key) per visualizzare la mappa",
        "ja": "マップを表示するには、[GoogleマップのAPIキーを登録](https://help.shopify.com/manual/using-themes/troubleshooting/map-section-api-key) する必要があります",
        "ko": "지도를 표시하려면 [Google 지도 API 키를 등록](https://help.shopify.com/manual/using-themes/troubleshooting/map-section-api-key)해야 합니다.",
        "nb": "Du må [registrere en Google Maps API-nøkkel](https://help.shopify.com/manual/using-themes/troubleshooting/map-section-api-key) for å vise kartet",
        "nl": "U moet [een Google Maps API Key](https://help.shopify.com/manual/using-themes/troubleshooting/map-section-api-key) registreren om de kaart weer te geven",
        "pt-BR": "Para exibir o mapa, é preciso [cadastrar uma chave da API Google Maps](https://help.shopify.com/manual/using-themes/troubleshooting/map-section-api-key)",
        "pt-PT": "Deve [registar uma Chave de API do Google Maps](https://help.shopify.com/manual/using-themes/troubleshooting/map-section-api-key) para apresentar o mapa",
        "sv": "Du måste [registrera en Google Maps API-nyckel](https://help.shopify.com/manual/using-themes/troubleshooting/map-section-api-key) för att visa kartan",
        "th": "คุณจะต้อง [ลงทะเบียนสร้างคีย์ Google Maps API ](https://help.shopify.com/manual/using-themes/troubleshooting/map-section-api-key) เพื่อแสดงแผนที่",
        "zh-CN": "您需要 [注册 Google Maps API 密钥](https://help.shopify.com/manual/using-themes/troubleshooting/map-section-api-key) 才能显示地图",
        "zh-TW": "您必須 [註冊 Google Maps API 金鑰](https://help.shopify.com/manual/using-themes/troubleshooting/map-section-api-key) 才能顯示地圖"
      }
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": {
        "da": "Billede",
        "de": "Foto",
        "en": "Image",
        "es": "Imagen",
        "fi": "Kuva",
        "fr": "Image",
        "hi": "इमेज",
        "it": "Immagine",
        "ja": "画像",
        "ko": "이미지",
        "nb": "Bilde",
        "nl": "Afbeelding",
        "pt-BR": "Imagem",
        "pt-PT": "Imagem",
        "sv": "Bild",
        "th": "รูปภาพ",
        "zh-CN": "图片",
        "zh-TW": "圖片"
      },
      "info": {
        "da": "Vises, hvis kortet ikke indlæses",
        "de": "Anzeigen, wenn Karte nicht lädt",
        "en": "Displayed if the map isn’t loaded",
        "es": "Aparece si el mapa no está cargado",
        "fi": "Näkyy, jos karttaa ei ole ladattu",
        "fr": "Affichée si la carte ne charge pas",
        "hi": "यदि मैप लोड नहीं किया जाता है, तो प्रदर्शित किया जाता है",
        "it": "Visualizzato se la mappa non è caricata",
        "ja": "マップが読み込まれない場合に表示されます",
        "ko": "지도가 로드되지 않은 경우 표시됩니다.",
        "nb": "Vises dersom kartet ikke er lastet inn",
        "nl": "Wordt weergegeven wanneer de kaart niet is geladen",
        "pt-BR": "Exibida se o mapa não for carregado",
        "pt-PT": "Exibido se o mapa não for carregado",
        "sv": "Visas om kartan inte är laddad",
        "th": "แสดงหากไม่ได้โหลดแผนที่",
        "zh-CN": "在地图未加载时显示",
        "zh-TW": "如果地圖並未載入則顯示此項目"
      }
    },
    {
      "type": "select",
      "id": "background_image_position",
      "label": {
        "da": "Placering af billede",
        "de": "Foto-Position",
        "en": "Image position",
        "es": "Posición de la imagen",
        "fi": "Kuvan sijainti",
        "fr": "Position de l'image",
        "hi": "इमेज स्थिति",
        "it": "Posizione Immagine",
        "ja": "画像の位置",
        "ko": "이미지 위치",
        "nb": "Bildeposisjon",
        "nl": "Afbeeldingspositie",
        "pt-BR": "Posição da imagem",
        "pt-PT": "Posição da imagem",
        "sv": "Bildposition",
        "th": "ตำแหน่งรูปภาพ",
        "zh-CN": "图片位置",
        "zh-TW": "圖片位置"
      },
      "default": "center center",
      "options": [
        {
          "label": {
            "da": "Øverst til venstre",
            "de": "Oben links",
            "en": "Top left",
            "es": "Superior izquierda",
            "fi": "Ylhäällä vasemmalla",
            "fr": "En haut à gauche",
            "hi": "शीर्ष पर बाईं ओर",
            "it": "In alto a sinistra",
            "ja": "左上",
            "ko": "왼쪽 상단",
            "nb": "Øverst til venstre",
            "nl": "Linksboven",
            "pt-BR": "Superior esquerdo",
            "pt-PT": "Canto superior esquerdo",
            "sv": "Överst till vänster",
            "th": "ซ้ายบน",
            "zh-CN": "左上方",
            "zh-TW": "左上角"
          },
          "value": "top left"
        },
        {
          "label": {
            "da": "Øverst i midten",
            "de": "Oben Mitte",
            "en": "Top center",
            "es": "Superior centrada",
            "fi": "Keskellä ylhäällä",
            "fr": "En haut au centre",
            "hi": "शीर्ष केंद्र",
            "it": "In alto al centro",
            "ja": "中央上",
            "ko": "맨 위 중간",
            "nb": "Toppsentrert",
            "nl": "Midden boven",
            "pt-BR": "Superior centro",
            "pt-PT": "Superior centro",
            "sv": "Längst upp i mitten",
            "th": "กลางบน",
            "zh-CN": "顶部居中",
            "zh-TW": "中央上方"
          },
          "value": "top center"
        },
        {
          "label": {
            "da": "Øverst til højre",
            "de": "Oben rechts",
            "en": "Top right",
            "es": "Superior derecha",
            "fi": "Ylhäällä oikealla",
            "fr": "En haut à droite",
            "hi": "शीर्ष पर दाईं ओर",
            "it": "In alto a destra",
            "ja": "右上",
            "ko": "오른쪽 상단",
            "nb": "Øverst til høyre",
            "nl": "Rechtsboven",
            "pt-BR": "Superior direito",
            "pt-PT": "Canto superior direito",
            "sv": "Överst till höger",
            "th": "ขวาบน",
            "zh-CN": "右上方",
            "zh-TW": "右上角"
          },
          "value": "top right"
        },
        {
          "label": {
            "da": "Midt på til venstre",
            "de": "Mitte links",
            "en": "Middle left",
            "es": "Al medio a la izquierda",
            "fi": "Keskellä vasemmalla",
            "fr": "Au milieu à gauche",
            "hi": "मध्य में बाईं ओर",
            "it": "Nel mezzo a sinistra",
            "ja": "中央部左側",
            "ko": "왼쪽 중간",
            "nb": "Midt til venstre",
            "nl": "Midden links",
            "pt-BR": "Meio esquerdo",
            "pt-PT": "Intermédio à esquerda",
            "sv": "Mitten till vänster",
            "th": "ซ้ายกลาง",
            "zh-CN": "中间居左",
            "zh-TW": "中央左方"
          },
          "value": "center left"
        },
        {
          "label": {
            "da": "Midt på centreret",
            "de": "Mitte mittig",
            "en": "Middle center",
            "es": "Centrada en el medio",
            "fi": "Keskellä keskellä",
            "fr": "Centrée au milieu",
            "hi": "मध्य केंद्र",
            "it": "In mezzo",
            "ja": "中心",
            "ko": "가운데 중간",
            "nb": "Midt i senter",
            "nl": "Midden centrum",
            "pt-BR": "Meio centro",
            "pt-PT": "Intermédio ao centro",
            "sv": "Mitten centrerat",
            "th": "กึ่งกลาง",
            "zh-CN": "中间居中",
            "zh-TW": "正中央"
          },
          "value": "center center"
        },
        {
          "label": {
            "da": "Midt på til højre",
            "de": "Mitte rechts",
            "en": "Middle right",
            "es": "Centrado a la derecha",
            "fi": "Keskellä oikealla",
            "fr": "Au milieu à droite",
            "hi": "मध्य में दाईं ओर",
            "it": "Nel mezzo a destra",
            "ja": "中央部右側",
            "ko": "오른쪽 중간",
            "nb": "Midt til høyre",
            "nl": "Midden rechts",
            "pt-BR": "Meio direito",
            "pt-PT": "Intermédio à direita",
            "sv": "Mitten till höger",
            "th": "ขวากลาง",
            "zh-CN": "中间居右",
            "zh-TW": "中央右方"
          },
          "value": "center right"
        },
        {
          "label": {
            "da": "Nederst til venstre",
            "de": "Unten links",
            "en": "Bottom left",
            "es": "Inferior izquierda",
            "fi": "Alhaalla vasemmalla",
            "fr": "En bas à gauche",
            "hi": "सबसे नीचे बाईं ओर",
            "it": "In basso a sinistra",
            "ja": "左下",
            "ko": "왼쪽 하단",
            "nb": "Nederst til venstre",
            "nl": "Linksonder",
            "pt-BR": "Inferior esquerdo",
            "pt-PT": "Canto inferior esquerdo",
            "sv": "Nere till vänster",
            "th": "ซ้ายล่าง",
            "zh-CN": "左下方",
            "zh-TW": "左下角"
          },
          "value": "bottom left"
        },
        {
          "label": {
            "da": "Nederst i midten",
            "de": "Unten mittig",
            "en": "Bottom center",
            "es": "Inferior centrada",
            "fi": "Keskellä alhaalla",
            "fr": "En bas au centre",
            "hi": "निचला केंद्र",
            "it": "In basso al centro",
            "ja": "中央下",
            "ko": "맨아래 중간",
            "nb": "Bunnsentrert",
            "nl": "Midden onder",
            "pt-BR": "Inferior centro",
            "pt-PT": "Inferior centro",
            "sv": "Längst ner i mitten",
            "th": "กลางล่าง",
            "zh-CN": "底部居中",
            "zh-TW": "中央下方"
          },
          "value": "bottom center"
        },
        {
          "label": {
            "da": "Nederst til højre",
            "de": "Unten rechts",
            "en": "Bottom right",
            "es": "Inferior derecha",
            "fi": "Alhaalla oikealla",
            "fr": "En bas à droite",
            "hi": "सबसे नीचे दाईं ओर",
            "it": "In basso a destra",
            "ja": "右下",
            "ko": "오른쪽 아래",
            "nb": "Nederst til høyre",
            "nl": "Rechtsonder",
            "pt-BR": "Inferior direito",
            "pt-PT": "Canto inferior direito",
            "sv": "Nere till höger",
            "th": "ขวาล่าง",
            "zh-CN": "右下方",
            "zh-TW": "右下角"
          },
          "value": "bottom right"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "da": "Kort",
        "de": "Karte",
        "en": "Map",
        "es": "Mapa",
        "fi": "Kartta",
        "fr": "Carte",
        "hi": "मैप",
        "it": "Mappa",
        "ja": "マップ",
        "ko": "지도",
        "nb": "Kart",
        "nl": "Kaart",
        "pt-BR": "Mapa",
        "pt-PT": "Mapa",
        "sv": "Karta",
        "th": "แผนที่",
        "zh-CN": "地图",
        "zh-TW": "地圖"
      },
      "category": {
        "da": "Butiksoplysninger",
        "de": "Laden-Info",
        "en": "Store information",
        "es": "Información sobre tu tienda",
        "fi": "Kaupan tiedot",
        "fr": "Renseignements sur votre boutique",
        "hi": "स्टोर की जानकारी",
        "it": "Informazioni del negozio",
        "ja": "ストア情報",
        "ko": "스토어 정보",
        "nb": "Butikkinformasjon",
        "nl": "Winkelinformatie",
        "pt-BR": "Informações sobre a loja",
        "pt-PT": "Informações da loja",
        "sv": "Butiksinformation",
        "th": "ข้อมูลร้านค้า",
        "zh-CN": "商店信息",
        "zh-TW": "商店資訊"
      }
    }
  ]
}
{% endschema %}
