{%- if section.settings.show_product_recommendations -%}
  {%- if recommendations.performed -%}
    {%- if recommendations.products_count > 0 -%}
      <div class="container py-5 my-md-3">
        {%- if section.settings.heading != blank -%}
          <h2 class="h3 text-center pb-4">{{ section.settings.heading | escape }}</h2>
        {%- endif -%}
          <div class="cz-carousel cz-controls-static cz-controls-outside">
            <div class="tns-outer" id="tns3-ow">
              <div class="tns-controls" aria-label="Carousel Navigation" tabindex="0">
                <button type="button" data-controls="prev" tabindex="-1" aria-controls="tns3"><i class="czi-arrow-left"></i></button>
                <button type="button" data-controls="next" tabindex="-1" aria-controls="tns3"><i class="czi-arrow-right"></i></button>
            </div>
            <div class="tns-liveregion tns-visually-hidden" aria-live="polite" aria-atomic="true">slide <span class="current">8 to 11</span> of 5</div>
            <div id="tns3-mw" class="tns-ovh tns-ah" style="height: 401px;">
              <div class="tns-inner" id="tns3-iw">
                <div class="cz-carousel-inner  tns-slider tns-carousel tns-subpixel tns-calc tns-horizontal" data-carousel-options="{&quot;items&quot;: 2, &quot;controls&quot;: true, &quot;nav&quot;: false, &quot;autoHeight&quot;: true, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1},&quot;500&quot;:{&quot;items&quot;:2, &quot;gutter&quot;: 18},&quot;768&quot;:{&quot;items&quot;:3, &quot;gutter&quot;: 20}, &quot;1100&quot;:{&quot;items&quot;:4, &quot;gutter&quot;: 30}}}" id="tns3" style="transform: translate3d(-33.3333%, 0px, 0px);">
          
          <!-- Hiden Product Left  -->
          {% assign item-counter = 0 %}
          {%- for product in recommendations.products -%}
          {%- assign preview_image = product.featured_media.preview_image -%}
          {%- assign img_url = preview_image | img_url: 'x400' -%}

              <div class="tns-item" aria-hidden="true" tabindex="-1">
                <div class="card product-card card-static">
                    <a class="card-img-top d-block overflow-hidden" href="{{ product.url | within: collection }}"><img src="{{ img_url }}" alt="Product" class="loaded tns-complete"></a>
                    <div class="card-body py-2"><a class="product-meta d-block font-size-xs pb-1" href="#">{{ product.tags }}</a>
                        <h3 class="product-title font-size-sm"><a href="{{ product.url | within: collection }}">{{ product.title }}</a></h3>
                        <a class="product-meta d-block font-size-xs" href="#">{{ product.vendor }}</a>
                        <div class="d-flex justify-content-between">
                            <div class="product-price text-accent">{{ product.price | money }}</div>
                        </div>
                    </div>
                </div>
            </div>
          {% assign item-counter = item-counter | plus: 1 %}
          {%- endfor -%}


          <!-- Product Connection -->
          {% assign item-counter = 0 %}
          {%- for product in recommendations.products -%}
          {%- assign preview_image = product.featured_media.preview_image -%}
          {%- assign img_url = preview_image | img_url: 'x400' -%}

              <div class="tns-item" id="tns3-item{{ item-counter }}" aria-hidden="true" tabindex="-1">
                <div class="card product-card card-static">
                    <a class="card-img-top d-block overflow-hidden" href="{{ product.url | within: collection }}"><img src="{{ img_url }}" alt="Product" class="loaded tns-complete"></a>
                    <div class="card-body py-2"><a class="product-meta d-block font-size-xs pb-1" href="#">{{ product.tags }}</a>
                        <h3 class="product-title font-size-sm"><a href="{{ product.url | within: collection }}">{{ product.title }}</a></h3>
                        <a class="product-meta d-block font-size-xs" href="#">{{ product.vendor }}</a>
                        <div class="d-flex justify-content-between">
                            <div class="product-price text-accent">{{ product.price | money }}</div>
                        </div>
                    </div>
                </div>
            </div>
          {% assign item-counter = item-counter | plus: 1 %}
          {%- endfor -%}

          <!-- Product Displayed -->
          {% assign item-counter = 0 %}
          {% assign products-size = recommendations.products | size %}
          {%- for product in recommendations.products -%}
          {%- assign preview_image = product.featured_media.preview_image -%}
          {%- assign img_url = preview_image | img_url: 'x400' -%}

              <div class="tns-item {% if item-counter <= 1 %}tns-slide-active{% endif %}" {% if item-counter == 0 %} id="tns3-item{{ products-size }}" {% endif %}>
                <div class="card product-card card-static">
                    <a class="card-img-top d-block overflow-hidden" href="{{ product.url | within: collection }}"><img src="{{ img_url }}" alt="Product" class="loaded tns-complete"></a>
                    <div class="card-body py-2"><a class="product-meta d-block font-size-xs pb-1" href="#">{{ product.tags }}</a>
                        <h3 class="product-title font-size-sm"><a href="{{ product.url | within: collection }}">{{ product.title }}</a></h3>
                        <a class="product-meta d-block font-size-xs" href="#">{{ product.vendor }}</a>
                        <div class="d-flex justify-content-between">
                            <div class="product-price text-accent">{{ product.price | money }}</div>
                        </div>
                    </div>
                </div>
            </div>
          {% assign item-counter = item-counter | plus: 1 %}
          {%- endfor -%}

          <!-- Hiden Product Right  -->
          {% assign item-counter = 0 %}
          {%- for product in recommendations.products -%}
          {%- assign preview_image = product.featured_media.preview_image -%}
          {%- assign img_url = preview_image | img_url: 'x400' -%}

              <div class="tns-item" aria-hidden="true" tabindex="-1">
                <div class="card product-card card-static">
                    <a class="card-img-top d-block overflow-hidden" href="{{ product.url | within: collection }}"><img src="{{ img_url }}" alt="Product" class="loaded tns-complete"></a>
                    <div class="card-body py-2"><a class="product-meta d-block font-size-xs pb-1" href="#">{{ product.tags }}</a>
                        <h3 class="product-title font-size-sm"><a href="{{ product.url | within: collection }}">{{ product.title }}</a></h3>
                        <a class="product-meta d-block font-size-xs" href="#">{{ product.vendor }}</a>
                        <div class="d-flex justify-content-between">
                            <div class="product-price text-accent">{{ product.price | money }}</div>
                        </div>
                    </div>
                </div>
            </div>
          {% assign item-counter = item-counter | plus: 1 %}
          {%- endfor -%}

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container py-5 my-md-3">
  <h2 class="h3 text-center pb-4">You may also like</h2>
  <div class="cz-carousel cz-controls-static cz-controls-outside">
    <div class="cz-carousel-inner" data-carousel-options="{&quot;items&quot;: 2, &quot;controls&quot;: true, &quot;nav&quot;: false, &quot;autoHeight&quot;: true, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1},&quot;500&quot;:{&quot;items&quot;:2, &quot;gutter&quot;: 18},&quot;768&quot;:{&quot;items&quot;:3, &quot;gutter&quot;: 20}, &quot;1100&quot;:{&quot;items&quot;:3, &quot;gutter&quot;: 30}}}">
      <!-- Product-->
      <div>
        <div class="card product-card card-static">
          <button class="btn-wishlist btn-sm" type="button" data-toggle="tooltip" data-placement="left" title="Add to wishlist"><i class="czi-heart"></i></button><a class="card-img-top d-block overflow-hidden" href="#"><img src="img/shop/catalog/20.jpg" alt="Product"></a>
          <div class="card-body py-2"><a class="product-meta d-block font-size-xs pb-1" href="#">Men’s Hoodie</a>
            <h3 class="product-title font-size-sm"><a href="#">Block-colored Hooded Top</a></h3>
            <div class="d-flex justify-content-between">
              <div class="product-price"><span class="text-accent">$24.<small>99</small></span></div>
              <div class="star-rating"><i class="sr-star czi-star-filled active"></i><i class="sr-star czi-star-filled active"></i><i class="sr-star czi-star-filled active"></i><i class="sr-star czi-star-filled active"></i><i class="sr-star czi-star"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Product-->
      <div>
        <div class="card product-card card-static">
          <button class="btn-wishlist btn-sm" type="button" data-toggle="tooltip" data-placement="left" title="Add to wishlist"><i class="czi-heart"></i></button><a class="card-img-top d-block overflow-hidden" href="#"><img src="img/shop/catalog/21.jpg" alt="Product"></a>
          <div class="card-body py-2"><a class="product-meta d-block font-size-xs pb-1" href="#">Men’s Hoodie</a>
            <h3 class="product-title font-size-sm"><a href="#">Block-colored Hooded Top</a></h3>
            <div class="d-flex justify-content-between">
              <div class="product-price text-accent">$26.<small>99</small></div>
              <div class="star-rating"><i class="sr-star czi-star-filled active"></i><i class="sr-star czi-star-filled active"></i><i class="sr-star czi-star-filled active"></i><i class="sr-star czi-star-filled active"></i><i class="sr-star czi-star-filled active"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Product-->
      <div>
        <div class="card product-card card-static">
          <button class="btn-wishlist btn-sm" type="button" data-toggle="tooltip" data-placement="left" title="Add to wishlist"><i class="czi-heart"></i></button><a class="card-img-top d-block overflow-hidden" href="#"><img src="img/shop/catalog/22.jpg" alt="Product"></a>
          <div class="card-body py-2"><a class="product-meta d-block font-size-xs pb-1" href="#">Men’s Hoodie</a>
            <h3 class="product-title font-size-sm"><a href="#">Block-colored Hooded Top</a></h3>
            <div class="d-flex justify-content-between">
              <div class="product-price text-accent">$24.<small>99</small></div>
              <div class="star-rating"><i class="sr-star czi-star-filled active"></i><i class="sr-star czi-star-filled active"></i><i class="sr-star czi-star-filled active"></i><i class="sr-star czi-star"></i><i class="sr-star czi-star"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Product-->
      <div>
        <div class="card product-card card-static">
          <button class="btn-wishlist btn-sm" type="button" data-toggle="tooltip" data-placement="left" title="Add to wishlist"><i class="czi-heart"></i></button><a class="card-img-top d-block overflow-hidden" href="#"><img src="img/shop/catalog/23.jpg" alt="Product"></a>
          <div class="card-body py-2"><a class="product-meta d-block font-size-xs pb-1" href="#">Men’s Hoodie</a>
            <h3 class="product-title font-size-sm"><a href="#">Block-colored Hooded Top</a></h3>
            <div class="d-flex justify-content-between">
              <div class="product-price text-accent">$24.<small>99</small></div>
              <div class="star-rating"><i class="sr-star czi-star-filled active"></i><i class="sr-star czi-star-filled active"></i><i class="sr-star czi-star-filled active"></i><i class="sr-star czi-star-filled active"></i><i class="sr-star czi-star"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    {%- endif -%}
  {%- else  -%}
    <div class="page-width" data-base-url="{{ routes.product_recommendations_url }}" data-product-id="{{ product.id }}" data-section-id="{{ section.id }}" data-section-type="product-recommendations"></div>
  {%- endif -%}
{%- endif -%}

{% schema %}
{
  "name": {
    "da": "Produktanbefalinger",
    "de": "Produktempfehlungen",
    "en": "Product recommendations",
    "es": "Recomendaciones de productos",
    "fi": "Tuotesuositukset",
    "fr": "Recommandations de produits",
    "hi": "उत्पाद की अनुशंसाएं",
    "it": "Raccomandazioni sui prodotti",
    "ja": "商品の推奨",
    "ko": "제품 권장 사항",
    "nb": "Produktanbefalinger",
    "nl": "Productaanbevelingen",
    "pt-BR": "Recomendações de produtos",
    "pt-PT": "Recomendações de produtos",
    "sv": "Produktrekommendationer",
    "th": "คำแนะนำสินค้า",
    "zh-CN": "产品推荐",
    "zh-TW": "商品推薦"
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "show_product_recommendations",
      "label": {
        "da": "Vis dynamiske anbefalinger",
        "de": "Dynamische Empfehlungen anzeigen",
        "en": "Show dynamic recommendations",
        "es": "Mostrar recomendaciones dinámicas",
        "fi": "Näytä dynaamiset suositukset",
        "fr": "Afficher les recommandations dynamiques",
        "hi": "डायनेमिक सुझाव दिखाएं",
        "it": "Mostra raccomandazioni dinamiche",
        "ja": "動的推奨を表示する",
        "ko": "동적 권장 사항 표시",
        "nb": "Vis dynamiske anbefalinger",
        "nl": "Dynamische aanbevelingen weergeven",
        "pt-BR": "Mostrar recomendações dinâmicas",
        "pt-PT": "Mostrar recomendações dinâmicas",
        "sv": "Visa dynamiska rekommendationer",
        "th": "แสดงคำแนะนำแบบไดนามิก",
        "zh-CN": "显示动态推荐",
        "zh-TW": "顯示動態推薦"
      },
      "info": {
        "da": "Dynamiske anbefalinger ændres og forbedres med tiden. [Få mere at vide](https://help.shopify.com/en/themes/development/recommended-products)",
        "de": "Dynamische Empfehlungen werden im Laufe der Zeit angepasst und verbessert. [Mehr Informationen](https://help.shopify.com/en/themes/development/recommended-products)",
        "en": "Dynamic recommendations change and improve with time. [Learn more](https://help.shopify.com/en/themes/development/recommended-products)",
        "es": "Las recomendaciones dinámicas cambian y mejoran con el tiempo. [Más información](https://help.shopify.com/en/themes/development/recommended-products)",
        "fi": "Dynaamiset suositukset muuttuvat ja paranevat ajan myötä. [Lisätietoja](https://help.shopify.com/en/themes/development/recommended-products)",
        "fr": "Les recommandations dynamiques changent et s'améliorent avec le temps. [En savoir plus](https://help.shopify.com/en/themes/development/recommended-products)",
        "hi": "समय के साथ डायनेमिक सुझाव परिवर्तन और सुधार. [अधिक जानें](https://help.shopify.com/en/themes/development/recommended-products)",
        "it": "Le raccomandazioni dinamiche cambiano e migliorano nel tempo. [Maggiori informazioni](https://help.shopify.com/en/themes/development/recommended-products)",
        "ja": "動的推奨は時間とともに変化し改善します。[詳細情報](https://help.shopify.com/en/themes/development/recommended-products)",
        "ko": "동적 권장 사항은 시간이 지나면서 변하고 개선됩니다. [자세히 알아보기](https://help.shopify.com/en/themes/development/recommended-products)",
        "nb": "Dynamiske anbefalinger endrer seg og forbedres med tiden. [Finn ut mer](https://help.shopify.com/en/themes/development/recommended-products)",
        "nl": "Dynamische aanbevelingen veranderen en verbeteren mettertijd. [Meer informatie](https://help.shopify.com/en/themes/development/recommended-products)",
        "pt-BR": "As recomendações dinâmicas mudam e melhoram com o tempo. [Saiba mais](https://help.shopify.com/en/themes/development/recommended-products)",
        "pt-PT": "As recomendações dinâmicas mudam e melhoram com o tempo. [Saiba mais](https://help.shopify.com/en/themes/development/recommended-products)",
        "sv": "Dynamiska rekommendationer ändras och förbättras med tiden. [Läs mer](https://help.shopify.com/en/themes/development/recommended-products)",
        "th": "คำแนะนำแบบไดนามิกนั้นเปลี่ยนแปลงและถูกปรับปรุงให้ดีขึ้นตลอดเวลา [เรียนรู้เพิ่มเติม](https://help.shopify.com/en/themes/development/recommended-products)",
        "zh-CN": "动态推荐会随着时间而变化和改进。[了解详细信息](https://help.shopify.com/en/themes/development/recommended-products)",
        "zh-TW": "動態推薦會隨著時間改變與改進。[深入瞭解](https://help.shopify.com/en/themes/development/recommended-products)"
      },
      "default": true
    },
    {
      "type": "text",
      "id": "heading",
      "label": {
        "da": "Overskrift",
        "de": "Überschrift",
        "en": "Heading",
        "es": "Título",
        "fi": "Otsake",
        "fr": "En-tête",
        "hi": "शीर्षक",
        "it": "Heading",
        "ja": "見出し",
        "ko": "제목",
        "nb": "Overskrift",
        "nl": "Kop",
        "pt-BR": "Título",
        "pt-PT": "Título",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "zh-CN": "标题",
        "zh-TW": "標題"
      },
      "default": {
        "da": "Du vil muligvis også synes om",
        "de": "Das könnte Ihnen auch gefallen",
        "en": "You may also like",
        "es": "También te puede interesar",
        "fi": "Saatat pitää myös näistä",
        "fr": "Vous pourriez aimer également",
        "hi": "आप शायद इसे भी पसंद करें",
        "it": "Potrebbero interessarti anche",
        "ja": "あなたへのおすすめ",
        "ko": "회원님도 좋아할 것입니다.",
        "nb": "Kanskje du også liker",
        "nl": "Wellicht vindt u dit ook leuk",
        "pt-BR": "Talvez você também goste de",
        "pt-PT": "Também poderá gostar de",
        "sv": "Du kanske också gillar",
        "th": "คุณอาจจะชอบ",
        "zh-CN": "您可能还喜欢",
        "zh-TW": "您也可能喜歡"
      }
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": {
        "da": "Vis leverandør",
        "de": "Lieferanten anzeigen",
        "en": "Show vendor",
        "es": "Mostrar proveedor",
        "fi": "Näytä myyjä",
        "fr": "Afficher les vendeurs",
        "hi": "विक्रेता दिखाएं",
        "it": "Mostra fornitore",
        "ja": "販売元を表示する",
        "ko": "공급업체 표시",
        "nb": "Vis leverandør",
        "nl": "Leverancier weergeven",
        "pt-BR": "Exibir fornecedor",
        "pt-PT": "Mostrar fornecedor",
        "sv": "Visa säljare",
        "th": "แสดงผู้ขาย",
        "zh-CN": "显示厂商",
        "zh-TW": "顯示廠商"
      },
      "default": false
    }
  ]
}
{% endschema %}
