<div id="ProductSection-{{ section.id }}" 
      data-section-id="{{ section.id }}" 
      data-section-type="product" 
      data-enable-history-state="true" 
      data-ajax-enabled="{{ settings.enable_ajax }}">
    {%- assign current_variant = product.selected_or_first_available_variant -%}
    <div class="page-title-overlap bg-dark pt-4">

      <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
        <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
          {%- unless template == 'index' or template == 'cart' or template == 'list-collections' or template == '404' -%}
          {%- assign t = template | split: '.' | first -%}
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-lg-star">
              <li class="breadcrumb-item">
                <a class="text-nowrap" href="{{ shop.url }}">
                  <i class="czi-home"></i>
                  Home
                </a>
              </li>
              {%- case t -%}
              {%- when 'page' -%}
              <li class="breadcrumb-item text-nowrap">
                <a href="{{ page.url }}">{{ page.title }}</a>
              </li>
              {%- when 'product' -%}
              {%- if collection.url -%}
              <li class="breadcrumb-item text-nowrap">
                <a href="{{ collection.url }}">{{ collection.title }}</a>
              </li>
              {%- endif -%}
              <li class="breadcrumb-item text-nowrap">
                <a href="{{ product.url }}">{{ product.title }}</a>
              </li>
              {%- when 'collection' and collection.handle -%}
              {%- if current_tags -%}
              <li class="breadcrumb-item text-nowrap">
                <a href="{{ collection.url }}">{{ collection.title }}</a>
              </li>
              {%- endif -%}
              {%- endcase -%}
            </ol>
          {%- endunless -%}
          </nav>

        </div>
        <div class="order-lg-1 pr-lg-4 text-center text-lg-left">

          <script>console.log({{ product | json }});</script> 


          <h1 class="h3 text-light mb-0">
            {{ product.title }}
            <small class="text-nowrap">
            <a class="text-light" href="/collections/{{ product.vendor | handle }}">
              {{ 'products.product.vendor_proposition' | t }}
              {{ product.vendor }}
            </a>
            </small>
          </h1>
          
        </div>
      </div>
    </div>
        <div class="container">

        <!-- Error Message -->

        <div class="toast-container toast-top-right">

          <div id="error-toast" class="toast fade hide" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="true" data-delay="5000" data-error-message-wrapper>
            <div class="toast-header bg-primary text-white">
              <i class="czi-bell mr-2"></i>
              <span class="font-weight-medium mr-auto">{{ 'general.accessibility.error' | t }}</span>
            </div>
            <div class="toast-body text-primary" data-error-message>{{ 'products.product.quantity_minimum_message' | t }}</div>
          </div>

        </div>

      <!-- Gallery + details-->
      <div class="bg-light box-shadow-lg rounded-lg px-4 py-3 mb-5">
        <div class="px-lg-3">
          <div class="row">
            <!-- Product gallery-->
            {%- assign preview_image = product.featured_media.preview_image -%}
            {%- assign img_url = preview_image | img_url: 'x700' -%}

            {% comment %} 
            We assume that the color switcher has a naming convention
            with the name "picker" inside the name of the image
            In this way we can separate Product image from Variant Image 
            {% endcomment %}


            <div class="col-lg-7 pr-lg-0 pt-lg-4">
              <div class="cz-product-gallery">
                <div class="cz-preview order-sm-2">
                  {% assign item-counter-image = 0 %}
                  {% for media in product.images %}
                    {% unless media contains 'picker' %}
                  <div class="cz-preview-item {% if item-counter-image == 0 %} active {% endif %}" id="image-{{ item-counter-image }}">
                    <img src="{{ media | img_url: 'x700' }}" alt="{{ product.title }}">
                    <div class="cz-image-zoom-pane"></div>
                  </div>
                    {% assign item-counter-image = item-counter-image | plus: 1 %}
                  {% endunless %}
                  {% endfor %}

                </div>

                <div class="cz-thumblist order-sm-1">
                  {% assign item-counter-image-thumblist = 0 %}
                  {% for media in product.media %}
                  {% unless media contains 'picker' or media.media_type == 'video' or media.media_type == 'external_video' %}

                  
                  <a class="cz-thumblist-item {% if item-counter-image-thumblist == 0 %} active {% endif %}" href="#image-{{ item-counter-image-thumblist }}">
                    <img src="{{ media | img_url: 'x150' }}" alt="Product thumb">
                  </a>
                  {% assign item-counter-image-thumblist = item-counter-image-thumblist | plus: 1 %}
                  {% endunless %}

                  {%- if media.media_type == 'video' or media.media_type == 'external_video' -%}

                  

                    <a class="cz-thumblist-item video-item" 
                    {% if media.host contains 'youtube' %}
                    href="https://www.youtube.com/watch?v={{ media.external_id }}"
                    {% endif %}>
                    <div class="cz-thumblist-item-text"><i class="czi-video"></i>Video</div></a>

                  {% endif %}
                  {% endfor %}

                </div>
                
              </div>
            </div>
            <!-- Product details-->
            <div class="col-lg-5 pt-4 pt-lg-0">
              <div class="product-details ml-auto pb-3">
                {% comment %}
                Product pricing split 
                {% endcomment %}
                {% if cart.currency.symbol != '€' %}
                {%- assign total-price = product.price | money_without_currency | split: "." -%}
                {% else %}
                {%- assign total-price = product.price | money_without_currency | split: "," -%}
                {% endif %}

                {% assign unity-price = total-price[0] %}
                {% assign decimal-price = total-price[1]  %}
                <div class="mb-3 mt-5">
                <span class="h3 font-weight-normal text-accent mr-1">
                {% assign price = cart.currency.symbol | append: ' ' | append: unity-price | append: '.' | rstrip %}
                {{ price }}<small>{{ decimal-price }}</small>
                </span>


                {% comment %}
                Product original pricing split 
                {% endcomment %}
                {% if cart.currency.symbol != '€' %}
                {%- assign total-price-original = product.compare_at_price | money_without_currency | split: "." -%}
                {% else %}
                {%- assign total-price-original = product.compare_at_price | money_without_currency | split: "," -%}
                {% endif %}

                {% assign unity-price-original = total-price-original[0] %}
                {% assign decimal-price-original = total-price-original[1] %}

                {% if product.compare_at_price != null and product.compare_at_price != product.price %}
                  <del class="text-muted font-size-lg mr-3">
                  {{ cart.currency.symbol }}&nbsp;{{ unity-price-original | strip }}.<small>{{ decimal-price-original | strip }}</small>
                  </del>
                  <span class="badge badge-danger badge-shadow align-middle mt-n2">Sale</span>
                {% endif %}

                </div>


              {% comment %} 
              Shopify variant logic START 
              {% endcomment %}

          {% capture "form_classes" -%}
            product-form product-form-{{ section.id }}
            {%- unless section.settings.show_variant_labels %} product-form--hide-variant-labels {% endunless %}
            {%- if section.settings.enable_payment_button and product.has_only_default_variant %} product-form--payment-button-no-variants {%- endif -%}
            {%- if current_variant.available == false %} product-form--variant-sold-out {%- endif -%}
          {%- endcapture %}
        {% comment %} <div class="position-relative mr-n4 mb-5 mt-4">
          <div class="product-badge product-available mt-n1"><i class="czi-security-check"></i>Product available</div>
        </div> {% endcomment %}

          {% form 'product', product, class: "form_classes mb-grid-gutter", novalidate: 'novalidate', data-product-form: '' %}
            {% unless product.has_only_default_variant %}
              <div class="product-form__controls-group form-group">
                {% for option in product.options_with_values %}
                  <div class="selector-wrapper js product-form__item">
                    <label class=" font-weight-medium {% if option.name == 'default' %} label--hidden {% endif %}" for="SingleOptionSelector-{{ forloop.index0 }}">
                      {{ option.name }}
                    </label>
                    <select class="custom-select single-option-selector single-option-selector-{{ section.id }} product-form__input"
                      id="SingleOptionSelector-{{ forloop.index0 }}"
                      data-index="option{{ forloop.index }}"
                    >
                      {% for value in option.values %}
                        <option value="{{ value | escape }}"{% if option.selected_value == value %} selected="selected"{% endif %}>{{ value }}</option>
                      {% endfor %}
                    </select>
                  </div>
                {% endfor %}
              </div>
            {% endunless %}

            <select name="id" id="ProductSelect-{{ section.id }}" class="product-form__variants no-js">
              {% for variant in product.variants %}
                <option value="{{ variant.id }}"
                  {%- if variant == current_variant %} selected="selected" {%- endif -%}
                >
                  {{ variant.title }}  {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
                </option>
              {% endfor %}
            </select>


              <div class="input-group">
                <input type="number" id="Quantity-{{ section.id }}" name="quantity" value="1" min="1" pattern="[0-9]*" class="form-control" data-quantity-input required >
                <div class="input-group-append">
              <button 
              class="btn btn-primary btn-shadow btn-block"
              name="add"
              type="submit"
              {% unless current_variant.available %}
                aria-disabled="true"
              {% endunless %}
              aria-label="{% unless current_variant.available %}{{ 'products.product.sold_out' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}{% endunless %}"
              {% unless current_variant.available %}
              {% else %}
              {% endunless %}
              >
                <i class="czi-cart font-size-lg mr-2"></i>
                  <span data-add-to-cart-text>
                    {% unless current_variant.available %}
                      {{ 'products.product.sold_out' | t }}
                    {% else %}
                      {{ 'products.product.add_to_cart' | t }}
                    {% endunless %}
                  </span>
                  <span class="hide" data-loader>
                    {% render 'icon-spinner' %}
                </span>
              </button>
                </div>
              </div>


            <!-- <div class="product-form__error-message-wrapper product-form__error-message-wrapper--hidden{% if section.settings.enable_payment_button %} product-form__error-message-wrapper--has-payment-button{% endif %}"
              data-error-message-wrapper
              role="alert"
            >
              <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
              {% render 'icon-error' %}
              <span class="product-form__error-message" data-error-message>{{ 'products.product.quantity_minimum_message' | t }}</span>
            </div> -->
            
          {% endform %}

        {%- comment -%}
          Live region for announcing updated price and availability to screen readers
        {%- endcomment -%}
        <p class="visually-hidden" data-product-status
          aria-live="polite"
          role="status"
        ></p> 

        {%- comment -%}
          Live region for announcing that the product form has been submitted and the
          product is in the process being added to the cart
        {%- endcomment -%}
        <p class="visually-hidden" data-loader-status
          aria-live="assertive"
          role="alert"
          aria-hidden="true"
        >{{ 'products.product.loader_label' | t }}</p>
          {% comment %} 
          Shopify variant logic END   
          {% endcomment %}

               
              {% comment %} 
              Color Selector Deprecated for the moment

              {% unless product.has_only_default_variant %}
                <div class="font-size-sm mb-4">
                  <span class="text-heading font-weight-medium mr-1">Color:</span>
                  {% assign item-counter-variant = 1 %}
                  {% assign total-variant = product.variants | size %}
                  
                  {% for variant in product.variants %}
                    {{ variant.title }}
                  {% if item-counter-variant != total-variant %}
                  /
                  {% endif %}
                  {% assign item-counter-variant = item-counter-variant | plus: 1 %}
                  {% endfor %}
                  <span class="text-muted"></span>
                </div>
              {% endunless %}

                <div class="position-relative mr-n4 mb-3">
                {% unless product.has_only_default_variant %}
                  {% for variant in product.variants %}
                  <div class="custom-control custom-option custom-control-inline mb-2">
                    <input class="custom-control-input" type="radio" name="{{ variant.title}}" value="{{ variant.id }}" id="{{ variant.title}}" {% if variant == product.selected_or_first_available_variant %} selected="selected" checked{% endif %}>
                    <label class="custom-option-label rounded-circle" for="{{ variant.title}}">
                    <span class="custom-option-color rounded-circle" style="background-image: url({{ variant.featured_image.src | img_url }})"></span></label>
                  </div>
                  {% endfor %}
              {% endunless %} 
              
              {% endcomment %}

          
                
                <!-- Product panels-->
                <div class="accordion mb-4" id="productPanels">
                  <div class="card">
                    <div class="card-header card-header-info">
                      <h3 class="accordion-heading"><a href="#productInfo" role="button" data-toggle="collapse" aria-expanded="true" aria-controls="productInfo"><i class="czi-announcement text-muted font-size-lg align-middle mt-n1 mr-2"></i>{{ 'cart.label.product_details' | t }}<span class="accordion-indicator"><i data-feather="chevron-up"></i></span></a></h3>
                    </div>
                    <div class="collapse show" id="productInfo" data-parent="#productPanels">
                      <div class="card-body card-body-info">
                      {{ product.description }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              </div>
            </div>
          </div>
        </div>
      
      {% comment %}
      Create variable for manage the product suggestion based on tilte "handle" + raccomandation 
      {% endcomment %}

      {%- assign title_handle = product.handle  -%}
      {%- assign product_suggestion_tag = title_handle | append: "-related" -%}

      
      {% comment %} 
      
      For implementing the Product related by tag, 
      we assumen that the product stay in a specific 
      collection for a fast query selection in a foorloop 
      
      {% endcomment %}



        {% for product_related in collections["related-products"].products %}
        {% if product_related.tags contains product_suggestion_tag and product_related and product_related.available %}
          {% assign upsell_entity = true %}
        {%- endif -%}
        {% endfor %}

        {% if upsell_entity %}
          {%- if section.settings.heading != blank -%}
              <h2 class="h3 text-center">{{ section.settings.heading | escape }}</h2>
          {%- endif -%}
        {% endif %}



        <div class="row no-gutters mx-n2">

        {% assign item-counter = 0 %}
        {% for product_related in collections["related-products"].products %}

        {%- assign preview_image = product_related.featured_media.preview_image -%}
        {%- assign img_url = preview_image | img_url: 'x200' -%}



          {% if product_related.tags contains product_suggestion_tag and product_related and product_related.available %}
        <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-4">


        <form method="post" action="/cart/add" accept-charset="UTF-8" enctype="multipart/form-data" novalidate="novalidate" data-product-related-form="">
            <input type="hidden" name="id" value="{{ product_related.variants.first.id }}" />
            <input type="hidden" min="1" type="number" id="quantity-item{{ item-counter }}" name="quantity" value="1"/>

            <div class="card product-card">
              <a class="card-img-top d-block overflow-hidden" href="{{ product_related.url | within: collection }}">
                <img class="mx-auto d-block" src="{{ img_url }}" alt="{{ product_related.alt }}"></a>
              <div class="card-body py-2"><a class="product-meta d-block font-size-xs pb-1" href="#"></a>
                <h3 class="product-title font-size-sm"><a href="{{ product_related.url | within: collection }}">{{ product_related.title }}</a></h3>
                <!-- <a class="product-meta d-block font-size-xs pb-1" href="/collections/{{ product_related.vendor | handle }}o">{{ 'products.product.vendor_proposition' | t }} {{ product_related.vendor }}</a> -->
                <div class="d-flex justify-content-between">
                  <div class="product-price">
                    <span class="text-accent">{{ product_related.price | money }}</span>
                    {% if product_related.compare_at_price != null and product_related.compare_at_price != product_related.price %}
                      <del class="font-size-sm text-muted"> {{ product_related.compare_at_price | money }}</del>
                    {% endif %}             
                  </div>
                  <button class="btn btn-primary btn-shadow btn-sm " id="{{ item-counter }}" name="add" type="submit" data-target="#error-toast">+<i class="czi-cart font-size-base ml-1"></i></button>
                </div>
              </div>
            </div>
            <hr class="d-sm-none">          
        </form>
      </div>


        {% assign item-counter = item-counter | plus: 1 %}
        {% endif %}
      
      {% endfor %}
    </div>


    
      </div>
    </div>
</div>


  <script type="application/json">
    console.log({{ product | json }})
  </script>



{% unless product == empty %}
  <script type="application/json" id="ProductJson-{{ section.id }}">
    {{ product | json }}
  </script>
  <script type="application/json" id="ModelJson-{{ section.id }}">
    {{ product.media | where: 'media_type', 'model' | json }}
  </script>
{% endunless %}



{% schema %}
{
  "name": {
    "da": "Produktsider",
    "de": "Produktseiten",
    "en": "Product pages",
    "es": "Páginas de productos",
    "fi": "Tuotesivut",
    "fr": "Pages de produits",
    "hi": "उत्पाद पेज",
    "it": "Pagine di prodotto",
    "ja": "商品ページ",
    "ko": "제품 페이지",
    "nb": "Produktsider",
    "nl": "Productpagina's",
    "pt-BR": "Páginas de produtos",
    "pt-PT": "Páginas de produtos",
    "sv": "Produktsidor",
    "th": "หน้าสินค้า",
    "zh-CN": "产品页面",
    "zh-TW": "產品頁面"
  },
  "settings": [
    // Product Upsell Title
    {
      "type": "header",
      "content": {
        "da": "Product Upsell Title",
        "de": "Product Upsell Title",
        "en": "Product Upsell Title",
        "es": "Product Upsell Title",
        "fi": "Product Upsell Title",
        "fr": "Product Upsell Title",
        "hi": "Product Upsell Title",
        "it": "Product Upsell Title",
        "ja": "Product Upsell Title",
        "ko": "Product Upsell Title",
        "nb": "Product Upsell Title",
        "nl": "Product Upsell Title",
        "pt-BR": "Product Upsell Title",
        "pt-PT": "Product Upsell Title",
        "sv": "Product Upsell Title",
        "th": "Product Upsell Title",
        "zh-CN": "Product Upsell Title",
        "zh-TW": "Product Upsell Title"
      },
      "info": {
        "da": "Få mere at vide om [media types](https://help.shopify.com/manual/products/product-media)",
        "de": "Mehr Informationen über [Medientypen ](https://help.shopify.com/manual/products/product-media)",
        "en": "Learn more about [media types](https://help.shopify.com/manual/products/product-media)",
        "es": "Más información sobre [tipos de archivos multimedia](https://help.shopify.com/manual/products/product-media)",
        "fi": "Lue lisää [mediatyypeistä](https://help.shopify.com/manual/products/product-media)",
        "fr": "En savoir plus sur les [types de supports multimédia](https://help.shopify.com/manual/products/product-media)",
        "hi": "[मीडिया प्रकार](https://help.shopify.com/manual/products/product-media) के बारे में और जानें",
        "it": "Scopri di più sulle [tipologie di file multimediali](https://help.shopify.com/manual/products/product-media)",
        "ja": "[メディアのタイプ](https://help.shopify.com/manual/products/product-media) について詳しく知る",
        "ko": "[미디어 유형](https://help.shopify.com/manual/products/product-media)에 대해 자세히 알아보기",
        "nb": "Lær mer om [medietyper](https://help.shopify.com/manual/products/product-media)",
        "nl": "Meer informatie over [mediatypen](https://help.shopify.com/manual/products/product-media)",
        "pt-BR": "Saiba mais sobre [tipos de mídia](https://help.shopify.com/manual/products/product-media)",
        "pt-PT": "Saiba mais sobre [media types](https://help.shopify.com/manual/products/product-media)",
        "sv": "Läs mer om [mediatyper](https://help.shopify.com/manual/products/product-media)",
        "th": "ดูข้อมูลเพิ่มเติมเกี่ยวกับ [ประเภทของสื่อ](https://help.shopify.com/manual/products/product-media)",
        "zh-CN": "详细了解[媒体类型](https://help.shopify.com/manual/products/product-media)",
        "zh-TW": "深入瞭解 [媒體類型](https://help.shopify.com/manual/products/product-media)"
      }
    },
    {
      "type": "text",
      "id": "heading",
      "label": {
        "da": "Overskrift",
        "de": "Überschrift",
        "en": "Heading",
        "es": "Título",
        "fi": "Otsake",
        "fr": "En-tête",
        "hi": "शीर्षक",
        "it": "Heading",
        "ja": "見出し",
        "ko": "제목",
        "nb": "Overskrift",
        "nl": "Kop",
        "pt-BR": "Título",
        "pt-PT": "Título",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "zh-CN": "标题",
        "zh-TW": "標題"
      },
      "default": {
        "da": "Du vil muligvis også synes om",
        "de": "Das könnte Ihnen auch gefallen",
        "en": "You may also like",
        "es": "También te puede interesar",
        "fi": "Saatat pitää myös näistä",
        "fr": "Vous pourriez aimer également",
        "hi": "आप शायद इसे भी पसंद करें",
        "it": "Potrebbero interessarti anche",
        "ja": "あなたへのおすすめ",
        "ko": "회원님도 좋아할 것입니다.",
        "nb": "Kanskje du også liker",
        "nl": "Wellicht vindt u dit ook leuk",
        "pt-BR": "Talvez você também goste de",
        "pt-PT": "Também poderá gostar de",
        "sv": "Du kanske också gillar",
        "th": "คุณอาจจะชอบ",
        "zh-CN": "您可能还喜欢",
        "zh-TW": "您也可能喜歡"
      }
    }
  ]
}
{% endschema %}
