    <!-- Hero slider-->
    <section class="cz-carousel cz-controls-lg">
      <div class="cz-carousel-inner" data-carousel-options="{&quot;mode&quot;: &quot;gallery&quot;, &quot;responsive&quot;: {&quot;0&quot;:{&quot;nav&quot;:false, &quot;controls&quot;: false},&quot;992&quot;:{&quot;nav&quot;:false, &quot;controls&quot;: true}}}" style="height: 700px;">
        <!-- Item-->
          {%- for block in section.blocks -%}
          {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

          {%- if block.settings.image.width < max_width -%}
            {%- assign slide_width = block.settings.image.width -%}
          {%- endif -%}

          <div class="d-lg-flex justify-content-between align-items-center pl-lg-4 slider-size"
                style="
                      background-image: url(' {{ block.settings.image | img_url: '1920x' }}');
                      background-position: center;
                      background-repeat: no-repeat;
                      background-size: cover;
                      ">
            <div class="container">            
              <div class="position-relative mx-auto ml-lg-n5 py-5 px-4 mb-lg-5 order-lg-1" style="max-width: 42rem; z-index: 10;">
                <div class="pb-lg-5 mb-lg-5 text-lg-left text-lg-nowrap">
                  <h2 class="text-light font-weight-light pb-1 moka-font">{{  block.settings.title_1 | escape }}</h2>
                  <h1 class="text-light display-4 font-weight-bold">{{ block.settings.slide_heading | escape }}</h1>
                  <p class="font-size-lg text-light pb-3">{{ block.settings.title_2 | escape }}</p>
                  <a class="btn btn-primary" href="{{ block.settings.button_link }}">{{ block.settings.button_label | escape }}<i class="czi-arrow-right ml-2 mr-n1"></i></a>
                </div>
              </div>
            </div>  
          </div>
          {%- endfor -%}

    </section>
    <!-- Card below slider -->
    <section class="container position-relative pt-md-3 pt-lg-0 pb-5 mt-lg-n10 mobile-margin" style="z-index: 10;">
      <div class="row">
        <div class="col-xl-8 col-lg-9 col-12">
          <div class="card border-0 box-shadow-lg">
            <div class="card-body-slider px-md-3 px-lg-3 pt-md-4 pt-lg-4 pb-0">
              <div class="row no-gutters pt-1">
                <div class="col-sm-4 col-4 px-1 px-md-2 px-lg-2 mb-grid-gutter">
                <a class="d-block text-center text-decoration-none" href="{{ section.settings.link_1 }}">
                {{ section.settings.image_1 | img_url: '' | img_tag: 'caffe_in_cialde', 'd-block rounded mb-3' }}
                    <h3 class="font-size-base pt-1 mb-0">{{ section.settings.text_1 }}</h3></a></div>
                <div class="col-sm-4 col-4 px-1 px-md-2 px-lg-2 mb-grid-gutter">
                <a class="d-block text-center text-decoration-none" href="{{ section.settings.link_2 }}">
                {{ section.settings.image_2 | img_url: '' | img_tag: 'caffe_in_cialde', 'd-block rounded mb-3' }}
                    <h3 class="font-size-base pt-1 mb-0">{{ section.settings.text_2 }}</h3></a></div>
                <div class="col-sm-4 col-4 px-1 px-md-2 px-lg-2 mb-grid-gutter">
                <a class="d-block text-center text-decoration-none" href="{{ section.settings.link_3 }}">
                {{ section.settings.image_3 | img_url: '' | img_tag: 'caffe_in_cialde', 'd-block rounded mb-3' }}
                    <h3 class="font-size-base pt-1 mb-0">{{ section.settings.text_3 }}</h3></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>




{% schema %}
{
  "name": {
    "da": "Diasshow Mok",
    "de": "Slideshow Mok",
    "en": "Slideshow Mok",
    "es": "Diapositivas Mok",
    "fi": "Diaesitys Mok",
    "fr": "Diaporama Mok",
    "hi": "स्लाइडशो Mok",
    "it": "Presentazione Mok",
    "ja": "スライドショー Mok",
    "ko": "슬라이드 쇼 Mok",
    "nb": "Lysbildefremvisning Mok",
    "nl": "Diavoorstelling Mok",
    "pt-BR": "Apresentação de slides Mok",
    "pt-PT": "Apresentação de diapositivos Mok",
    "sv": "Bildspel Mok",
    "th": "สไลด์โชว์ Mok",
    "zh-CN": "幻灯片 Mok",
    "zh-TW": "素材輪播 Mok"
  },
  "blocks": [
    {
      "type": "image",
      "name": {
        "da": "Slide",
        "de": "Folie",
        "en": "Slide",
        "es": "Diapositiva",
        "fi": "Dia",
        "fr": "Diapositive",
        "hi": "स्लाइड",
        "it": "Scorrimento",
        "ja": "スライド",
        "ko": "슬라이드",
        "nb": "Lysbilde",
        "nl": "Dia",
        "pt-BR": "Slide",
        "pt-PT": "Diapositivo",
        "sv": "Bild",
        "th": "สไลด์",
        "zh-CN": "幻灯片",
        "zh-TW": "投影片"
      },
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": {
            "da": "Billede",
            "de": "Foto",
            "en": "Image",
            "es": "Imagen",
            "fi": "Kuva",
            "fr": "Image",
            "hi": "इमेज",
            "it": "Immagine",
            "ja": "画像",
            "ko": "이미지",
            "nb": "Bilde",
            "nl": "Afbeelding",
            "pt-BR": "Imagem",
            "pt-PT": "Imagem",
            "sv": "Bild",
            "th": "รูปภาพ",
            "zh-CN": "图片",
            "zh-TW": "圖片"
          }
        },
        {
          "type": "header",
          "content": {
            "da": "Tekst",
            "de": "Text",
            "en": "Text",
            "es": "texto",
            "fi": "Teksti",
            "fr": "Texte",
            "hi": "टेक्स्ट",
            "it": "Testo",
            "ja": "テキスト",
            "ko": "텍스트",
            "nb": "Tekst",
            "nl": "Tekst",
            "pt-BR": "Texto",
            "pt-PT": "Texto",
            "sv": "Text",
            "th": "ข้อความ",
            "zh-CN": "文本",
            "zh-TW": "文字"
          }
        },
        {
          "type": "text",
          "id": "title_1",
          "default": "Insert title 1 here",
          "label": {
            "da": "Overskrift",
            "de": "Überschrift",
            "en": "Title 1",
            "es": "Título",
            "fi": "Otsake",
            "fr": "En-tête",
            "hi": "शीर्षक",
            "it": "Heading",
            "ja": "見出し",
            "ko": "제목",
            "nb": "Overskrift",
            "nl": "Kop",
            "pt-BR": "Título",
            "pt-PT": "Título",
            "sv": "Rubrik",
            "th": "ส่วนหัว",
            "zh-CN": "标题",
            "zh-TW": "標題"
          }
        },
        {
          "type": "text",
          "id": "slide_heading",
          "default": "Image slide",
          "label": {
            "da": "Overskrift",
            "de": "Überschrift",
            "en": "Heading",
            "es": "Título",
            "fi": "Otsake",
            "fr": "En-tête",
            "hi": "शीर्षक",
            "it": "Heading",
            "ja": "見出し",
            "ko": "제목",
            "nb": "Overskrift",
            "nl": "Kop",
            "pt-BR": "Título",
            "pt-PT": "Título",
            "sv": "Rubrik",
            "th": "ส่วนหัว",
            "zh-CN": "标题",
            "zh-TW": "標題"
          }
        },
                {
          "type": "text",
          "id": "title_2",
          "default": "Insert title 2 here",
          "label": {
            "da": "Overskrift",
            "de": "Überschrift",
            "en": "Title 2",
            "es": "Título",
            "fi": "Otsake",
            "fr": "En-tête",
            "hi": "शीर्षक",
            "it": "Heading",
            "ja": "見出し",
            "ko": "제목",
            "nb": "Overskrift",
            "nl": "Kop",
            "pt-BR": "Título",
            "pt-PT": "Título",
            "sv": "Rubrik",
            "th": "ส่วนหัว",
            "zh-CN": "标题",
            "zh-TW": "標題"
          }
        },
        {
          "type": "text",
          "id": "button_label",
          "label": {
            "da": "Knaptekst",
            "de": "Schaltflächenbezeichnung",
            "en": "Button label",
            "es": "Etiqueta de botón",
            "fi": "Tekstipainike",
            "fr": "Texte du bouton",
            "hi": "बटन लेबल",
            "it": "Etichetta pulsante",
            "ja": "ボタンのラベル",
            "ko": "버튼 레이블",
            "nb": "Knappetikett",
            "nl": "Knoplabel",
            "pt-BR": "Etiqueta de botão",
            "pt-PT": "Etiqueta do botão",
            "sv": "Knappetikett",
            "th": "ป้ายกำกับปุ่ม",
            "zh-CN": "按钮标签",
            "zh-TW": "按鈕標籤"
          }
        },
        {
          "type": "url",
          "id": "button_link",
          "label": {
            "da": "Knaplink",
            "de": "Schaltflächenlink",
            "en": "Button link",
            "es": "Enlace de botón",
            "fi": "Painikelinkki",
            "fr": "Lien du bouton",
            "hi": "बटन लिंक",
            "it": "Link pulsante",
            "ja": "ボタンのリンク",
            "ko": "버튼 링크",
            "nb": "Kobling for knapp",
            "nl": "Knoplink",
            "pt-BR": "Link de botão",
            "pt-PT": "Ligação do botão",
            "sv": "Knapplänk",
            "th": "ลิงก์ปุ่ม",
            "zh-CN": "按钮链接",
            "zh-TW": "按鈕連結"
          }
        }
      ]
    }
  ],
  "settings": [
    // First image under the slider
    {
      "type": "header",
      "content": "First image settings"
    },
    {
      "type": "image_picker",
      "id": "image_1",
      "label": {
        "da": "Billede",
        "de": "Foto",
        "en": "Image 1",
        "es": "Imagen",
        "fi": "Kuva",
        "fr": "Image",
        "hi": "इमेज",
        "it": "Immagine",
        "ja": "画像",
        "ko": "이미지",
        "nb": "Bilde",
        "nl": "Afbeelding",
        "pt-BR": "Imagem",
        "pt-PT": "Imagem",
        "sv": "Bild",
        "th": "รูปภาพ",
        "zh-CN": "图片",
        "zh-TW": "圖片"
      }
    },
    {
      "type": "url",
      "id": "link_1",
      "label": {
        "da": "Link",
        "de": "Link",
        "en": "Link 1",
        "es": "Enlace",
        "fi": "Linkki",
        "fr": "Lien",
        "hi": "लिंक",
        "it": "Link",
        "ja": "リンク",
        "ko": "링크",
        "nb": "Kobling",
        "nl": "Link",
        "pt-BR": "Link",
        "pt-PT": "Ligação",
        "sv": "Länk",
        "th": "ลิงก์",
        "zh-CN": "链接",
        "zh-TW": "連結"
      },
      "info": {
        "da": "Valgfri",
        "de": "Optional",
        "en": "Optional",
        "es": "Opcional",
        "fi": "Valinnainen",
        "fr": "Facultatif",
        "hi": "वैकल्पिक",
        "it": "Facoltativo",
        "ja": "オプション",
        "ko": "선택 사항",
        "nb": "Valgfritt",
        "nl": "Optioneel",
        "pt-BR": "Opcional",
        "pt-PT": "Opcional",
        "sv": "Valfritt",
        "th": "ไม่จำเป็น",
        "zh-CN": "可选",
        "zh-TW": "(選填)"
      }
    },
    {
      "type": "text",
      "id": "text_1",
      "label": {
        "da": "Overskrift",
        "de": "Titel",
        "en": "Text 1",
        "es": "Título",
        "fi": "Otsake",
        "fr": "En-tête",
        "hi": "शीर्षक",
        "it": "Heading",
        "ja": "見出し",
        "ko": "제목",
        "nb": "Overskrift",
        "nl": "Kop",
        "pt-BR": "Título",
        "pt-PT": "Título",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "zh-CN": "标题",
        "zh-TW": "標題"
      }
    },
    // Second image under the slider
    {
      "type": "header",
      "content": "Second image settings"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": {
        "da": "Billede",
        "de": "Foto",
        "en": "Image 2",
        "es": "Imagen",
        "fi": "Kuva",
        "fr": "Image",
        "hi": "इमेज",
        "it": "Immagine",
        "ja": "画像",
        "ko": "이미지",
        "nb": "Bilde",
        "nl": "Afbeelding",
        "pt-BR": "Imagem",
        "pt-PT": "Imagem",
        "sv": "Bild",
        "th": "รูปภาพ",
        "zh-CN": "图片",
        "zh-TW": "圖片"
      }
    },
    {
      "type": "url",
      "id": "link_2",
      "label": {
        "da": "Link",
        "de": "Link",
        "en": "Link 2",
        "es": "Enlace",
        "fi": "Linkki",
        "fr": "Lien",
        "hi": "लिंक",
        "it": "Link",
        "ja": "リンク",
        "ko": "링크",
        "nb": "Kobling",
        "nl": "Link",
        "pt-BR": "Link",
        "pt-PT": "Ligação",
        "sv": "Länk",
        "th": "ลิงก์",
        "zh-CN": "链接",
        "zh-TW": "連結"
      },
      "info": {
        "da": "Valgfri",
        "de": "Optional",
        "en": "Optional",
        "es": "Opcional",
        "fi": "Valinnainen",
        "fr": "Facultatif",
        "hi": "वैकल्पिक",
        "it": "Facoltativo",
        "ja": "オプション",
        "ko": "선택 사항",
        "nb": "Valgfritt",
        "nl": "Optioneel",
        "pt-BR": "Opcional",
        "pt-PT": "Opcional",
        "sv": "Valfritt",
        "th": "ไม่จำเป็น",
        "zh-CN": "可选",
        "zh-TW": "(選填)"
      }
    },
    {
      "type": "text",
      "id": "text_2",
      "label": {
        "da": "Overskrift",
        "de": "Titel",
        "en": "Text 2",
        "es": "Título",
        "fi": "Otsake",
        "fr": "En-tête",
        "hi": "शीर्षक",
        "it": "Heading",
        "ja": "見出し",
        "ko": "제목",
        "nb": "Overskrift",
        "nl": "Kop",
        "pt-BR": "Título",
        "pt-PT": "Título",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "zh-CN": "标题",
        "zh-TW": "標題"
      }
    },
    // Third image under the slider
    {
      "type": "header",
      "content": "Third image settings"
    },
    {
      "type": "image_picker",
      "id": "image_3",
      "label": {
        "da": "Billede",
        "de": "Foto",
        "en": "Image 3",
        "es": "Imagen",
        "fi": "Kuva",
        "fr": "Image",
        "hi": "इमेज",
        "it": "Immagine",
        "ja": "画像",
        "ko": "이미지",
        "nb": "Bilde",
        "nl": "Afbeelding",
        "pt-BR": "Imagem",
        "pt-PT": "Imagem",
        "sv": "Bild",
        "th": "รูปภาพ",
        "zh-CN": "图片",
        "zh-TW": "圖片"
      }
    },
    {
      "type": "url",
      "id": "link_3",
      "label": {
        "da": "Link",
        "de": "Link",
        "en": "Link 3",
        "es": "Enlace",
        "fi": "Linkki",
        "fr": "Lien",
        "hi": "लिंक",
        "it": "Link",
        "ja": "リンク",
        "ko": "링크",
        "nb": "Kobling",
        "nl": "Link",
        "pt-BR": "Link",
        "pt-PT": "Ligação",
        "sv": "Länk",
        "th": "ลิงก์",
        "zh-CN": "链接",
        "zh-TW": "連結"
      },
      "info": {
        "da": "Valgfri",
        "de": "Optional",
        "en": "Optional",
        "es": "Opcional",
        "fi": "Valinnainen",
        "fr": "Facultatif",
        "hi": "वैकल्पिक",
        "it": "Facoltativo",
        "ja": "オプション",
        "ko": "선택 사항",
        "nb": "Valgfritt",
        "nl": "Optioneel",
        "pt-BR": "Opcional",
        "pt-PT": "Opcional",
        "sv": "Valfritt",
        "th": "ไม่จำเป็น",
        "zh-CN": "可选",
        "zh-TW": "(選填)"
      }
    },
    {
      "type": "text",
      "id": "text_3",
      "label": {
        "da": "Overskrift",
        "de": "Titel",
        "en": "Text 3",
        "es": "Título",
        "fi": "Otsake",
        "fr": "En-tête",
        "hi": "शीर्षक",
        "it": "Heading",
        "ja": "見出し",
        "ko": "제목",
        "nb": "Overskrift",
        "nl": "Kop",
        "pt-BR": "Título",
        "pt-PT": "Título",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "zh-CN": "标题",
        "zh-TW": "標題"
      }
    }
  ],
  "presets": [
    {
      "name": {
        "da": "Diasshow",
        "de": "Slideshow Mok",
        "en": "Slideshow Mok",
        "es": "Diapositivas",
        "fi": "Diaesitys",
        "fr": "Diaporama",
        "hi": "स्लाइडशो",
        "it": "Presentazione",
        "ja": "スライドショー",
        "ko": "슬라이드 쇼",
        "nb": "Lysbildefremvisning",
        "nl": "Diavoorstelling",
        "pt-BR": "Apresentação de slides",
        "pt-PT": "Apresentação de diapositivos",
        "sv": "Bildspel",
        "th": "สไลด์โชว์",
        "zh-CN": "幻灯片",
        "zh-TW": "素材輪播"
      },
      "category": {
        "da": "Billede",
        "de": "Foto",
        "en": "Image",
        "es": "Imagen",
        "fi": "Kuva",
        "fr": "Image",
        "hi": "इमेज",
        "it": "Immagine",
        "ja": "画像",
        "ko": "이미지",
        "nb": "Bilde",
        "nl": "Afbeelding",
        "pt-BR": "Imagem",
        "pt-PT": "Imagem",
        "sv": "Bild",
        "th": "รูปภาพ",
        "zh-CN": "图片",
        "zh-TW": "圖片"
      },
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ] 
}
{% endschema %}
