<div class="page-width mt-4 mb-4">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>
      
      <div class="container">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>
 