<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1 class="title-page">{{ page.title }}</h1>
      </div>
      
      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>
