{% paginate search.results by 12 %}

<div class="page-width mt-4 mb-4">
  {% if search.performed == false %}
    <div class="text-center">
      <h1 class="h2">{{ 'general.search.title' | t }}</h1>
  {% else %}
    <div class="text-center">
      <h1 class="h2">
        <span class="visually-hidden">{{ 'general.search.heading' | t: count: search.results_count }}:</span>
        {{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
      </h1>
  {% endif %}
      <div class="grid">
        <div class="grid__item medium-up--six-tenths medium-up--push-two-tenths">
          {% if search.performed and search.results_count == 0 %}
            <div class="rte search--no-results-found">
              <p>{{ 'general.search.no_results' | t }}</p>
            </div>
          {% endif %}
          <form action="{{ routes.search_url }}" method="get" role="search" class="search-form search-page-form">
            <div class="input-group input-group--nowrap">
              <div class="input-group__field input-group__field--connected search-form__input-wrapper">
                <input
                  type="search"
                  name="q"
                  value="{{ search.terms | escape }}"
                  placeholder="{{ 'general.search.placeholder' | t }}"
                  role="combobox"
                  aria-autocomplete="list"
                  aria-owns="predictive-search-results"
                  aria-expanded="false"
                  aria-label="{{ 'general.search.placeholder' | t }}"
                  aria-haspopup="listbox"
                  class="form-control search-form__input"
                  data-search-page-predictive-search-input
                />

                <input type="hidden" name="options[prefix]" value="last" aria-hidden="true" />

                <button type="reset" class="search-form__clear-action" aria-label="{{ 'general.search.clear_search_term' | t }}" data-search-page-predictive-search-clear>
                  {% render 'icon-close' %}
                </button>

                <div class="predictive-search-wrapper-mok" data-predictive-search-mount="default"></div>
              </div>

              <div class="input-group-append">
              <button type="submit" class="btn btn-primary btn-shadow" aria-label="{{ 'general.search.submit' | t }}" data-search-page-predictive-search-submit>
                <i class="czi-search" data-search-form-submit=""></i>
              </button>
            </div>

            </div>
          </form>
        </div>
      </div>
  </div>
</div>


{% if search.performed %}
  {% if search.results_count > 0 %}
    <hr aria-hidden="true" />
  {% endif %}

  <h2 class="visually-hidden">{{ 'general.search.heading' | t: count: search.results_count }}</h2>

  <div class="container">
    <div class="row">
    {% for item in search.results %}
    {%- assign preview_image = item.featured_media.preview_image -%}
    {%- assign img_url = preview_image | img_url: 'x400' -%}

    <div class="col-md-3 col-sm-6 col-6 px-2 mb-4">
        <div class="card product-card">
          {% if product.compare_at_price != null and product.compare_at_price != product.price %}
            <span class="badge badge-danger badge-shadow">{{ 'collections.product-label.sale' | t }}</span>
          {% endif %}
          {% if product.tags contains "Novità" %}
            <span class="badge badge-danger badge-shadow" style="right: 0.75rem !important;left: auto !important;">{{ 'collections.product-label.novita' | t }}</span> 
          {% endif %}
          <a class="card-img-top d-block overflow-hidden" href="{{ item.url }}">
            <img class="mx-auto d-block" src="{{ img_url }}" alt="{{ item.image.alt | escape }}">
          </a>
          <div class="card-body py-2"><a class="product-meta d-block font-size-xs pb-1" href="#">{{ item.type }}</a>
          <h3 class="product-title font-size-sm"><a href="{{ item.url | within: collection }}">{{ item.title }}</a></h3>
          <a class="product-meta d-block font-size-xs pb-1" href="/collections/{{ item.vendor | handle }}">{{ 'products.product.vendor_proposition' | t }} {{ item.vendor }}</a>
          <div class="d-flex justify-content-between">
            <div class="product-price">
            <span class="text-accent">{{ item.price | money }}</span>
              {% if item.compare_at_price != null and item.compare_at_price != item.price %}
              <del class="font-size-sm text-muted"> {{ item.compare_at_price | money }}</del>
            {% endif %}                      
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    </div>
  </div>


    {% comment %}
    
    SEARCH RESULT BACKUP LIST VIEW
    
    <ul class="page-width list-view-items">
    {% for item in search.results %}
    {%- assign preview_image = item.featured_media.preview_image -%}
    {%- assign img_url = preview_image | img_url: 'x400' -%}


          <!-- Product-->
          <div class="card product-card product-list">
            {% if product.compare_at_price != null and product.compare_at_price != product.price %}
            <span class="badge badge-danger badge-shadow">{{ 'collections.product-label.sale' | t }}</span>
            {% endif %}
            {% if product.tags contains "Novità" %}
            <span class="badge badge-danger badge-shadow" style="right: 0.75rem !important;left: auto !important;">{{ 'collections.product-label.novita' | t }}</span> 
            {% endif %}
            <div class="d-sm-flex align-items-center">
              <a class="product-list-thumb" href="{{ item.url }}">
                {% unless img_url == null %}
                <img src="{{ img_url }}" alt="{{ item.image.alt | escape }}">
                {% endunless %}
              </a>
              <div class="card-body py-2">
                <h3 class="product-title font-size-base">
                  <a href="{{ item.url }}">{{ item.title }}</a>
                </h3>
                <a class="product-meta d-block font-size-xs pb-1" href="/collections/{{ item.vendor | handle }}">
                  {{ 'products.product.vendor_proposition' | t }} {{ item.vendor }}
                </a>
                <div class="d-flex justify-content-between">
                  <div class="product-price">
                    <span class="text-accent">{{ item.price | money }}</span>
                    {% if item.compare_at_price != null and item.compare_at_price != item.price %}
                    <del class="font-size-sm text-muted"> {{ item.compare_at_price | money }}</del>
                    {% endif %}   
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr class="pt-3 mt-3">

    {% endfor %}
  </ul> {% endcomment %}

          <!-- Pagination-->
          {%- if paginate.pages > 1 -%}
          <div class="page-width mb-5">
          <nav class="d-flex justify-content-between pt-2" aria-label="Page navigation">
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="{{ paginate.previous.url }}"><i class="czi-arrow-left mr-2"></i>{{ 'general.pagination.previous' | t }}</a></li>
            </ul>
            <ul class="pagination">
              <li class="page-item d-sm-none"><span class="page-link page-link-static">{{ 'general.pagination.current_page_collection_top' | t: current: paginate.current_page, total: paginate.pages }}</span></li>
              
              {% assign total_page = 'general.pagination.total_page' | t: total: paginate.pages %}

              {% for p in (1..total_page) %}

              {% assign current_page = 'general.pagination.current_page' | t: current: paginate.current_page | plus:0 %}
              {% assign p_num = p | plus: 0 %}
              <li class="page-item {% if current_page == p_num %} active {% endif %} d-none d-sm-block" {% if current_page == p %} aria-current="page" {% endif %}><a class="page-link" href="search?options%5Bprefix%5D=last&page={{ p }}&q={{ search.terms }}">{{ p }}</a></li>
              {% endfor %}
            </ul>
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="{{ paginate.next.url }}" aria-label="Next">{{ 'general.pagination.next' | t }}<i class="czi-arrow-right ml-2"></i></a></li>
            </ul>
          </nav>
          </div>
          {%- endif -%}

{% endif %}

{% if search.results_count < 2  %}
  <div class="search--less-than-2-results"></div>
{% endif %}

{% endpaginate %}
